{% load compress %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>404 Error</title>
    <!-- Roboto Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    {% compress css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <!-- Error Page Style -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" >
    {% endcompress %}
</head>
<body>

    <div class="error-page">
        <div class="container text-center">
            <p> <a href="{% url 'home' %}"><img src="/static/css/images/logo.png" alt="cblaketahoe" title="cblaketahoe"></a>
            </p>
            <h3>Something went wrong.</h3>

            <h2>Sorry, the page you were looking for doesn’t exist.</h2>

            <p class="linkback">Go back to <a href="{% url 'home' %}">cblaketahoe.com</a> or <a href="{% url 'contact_us' %}">contact us</a> about the problem</p>
        </div>
    </div> <!-- error page -->

</body>
</html>
