{% extends 'base.html' %}
{% load compress %}
{% block content %}
    <div class="row">

    <div class="span12">
        <div class="page-header">
            <h1>Welcome to the Site</h1>
        </div>

        <!-- Headings & Paragraph Copy -->
        <div class="row">

            {% comment %}
            <div class="span9">
                <blockquote class="pull-left">
                  <p>We provide real estate services for the Truckee/Tahoe region and we look forward to earning your trust and your business. We focus on the following communities; Tahoe Donner, Truckee, Squaw, Alpine Meadows, Northstar, North Lake Tahoe, West shore, and South Lake Tahoe down to Kirkwood.</p>
                </blockquote>

            </div>
            {% endcomment %}

            <div class="span9">
                {% comment %}
                <h3>Personal Note.</h3>{% endcomment %}
                <blockquote class="pull-left">
                <p>Thank you for the opportunity to earn your trust and your future business.
                    At work I lead a team of exceptional professionals.  These people are bright and dedicated.  I’ve been helping families with their Tahoe properties since 1999 and I’m consistently recognized as a top producer.  I love this community.  I look forward to helping you when you’re ready.  <a href="{% url 'contact_us' %}">Email me</a> and I’ll get back to you immediately.

                </p>
                <br/>
                <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
                    <div class="rsContent">
                        <img class="rsImg lazy" src="{{ MEDIA_URL }}/header_img/h2.jpg" alt="">
                    </div>
                    <div class="rsContent">
                        <img class="rsImg lazy" src="{{ MEDIA_URL }}/header_img/h3.jpg" alt="">
                    </div>
                    <div class="rsContent">
                        <img class="rsImg lazy" src="{{ MEDIA_URL }}/header_img/h4.jpg" alt="">
                    </div>
                    <div class="rsContent">
                        <img class="rsImg lazy" src="{{ MEDIA_URL }}/header_img/h9.jpg" alt="">
                    </div>
                    <div class="rsContent">
                        <img class="rsImg lazy" src="{{ MEDIA_URL }}/header_img/h17.jpg" alt="">
                    </div>
                </div>
                <br/>
                <p>
                    I love my boys and I love the opportunity I’ve been given.  The boys are kind and clever and they’re quick to laugh.  I’m a much better man because of Leyton and Liam.  My wife is amazing.  I’m very lucky.  Laura teaches culinary at North Tahoe High School and makes a huge difference in our community.  It’s a perfect fit; teaching, cooking, and connecting with kids.  We feel very lucky and proud to be part of this community.
                </p>
                <br/>
                <p>I look forward to helping you when you’re ready.  <a href="{% url 'contact_us' %}">Email me</a> and I’ll get back to you immediately.</p>
                <small><cite title="">Tristan Roberts</cite></small>

              </blockquote>
            </div>


            <!-- Misc Elements -->

        </div>
{% endblock content %}
{% block extra-header %}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}royalslider/skins/default-inverted/rs-default-inverted.css" />
<link href="{{STATIC_URL}}royalslider/skins/minimal-white/rs-minimal-white.css" rel="stylesheet">
<style type="text/css">
#full-width-slider {
  width: 100%;
  color: #000;
}
.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 25%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.75);
  left: 30px;
  right: auto;
}
.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}
.photosBy a {
  color: #000;
}
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    max-height: 100%;
    min-width: 40%;
    left: 5px;
    top: 5px;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}
</style>
{% endcompress %}
{% compress js %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#PropertyTablesTab a:first').tab('show');

    $('#full-width-slider').royalSlider({
        arrowsNav: true,
        loop: false,
        keyboardNavEnabled: true,
        controlsInside: false,
        imageScaleMode: 'fill',
        arrowsNavAutoHide: false,
        autoScaleSlider: true,
        autoScaleSliderWidth: 960,
        autoScaleSliderHeight: 350,
        controlNavigation: 'bullets',
        thumbsFitInViewport: false,
        navigateByClick: true,
        startSlideId: 0,
        autoPlay: false,
        transitionType:'move',
        globalCaption: false,
        deeplinking: {
        enabled: true,
        change: false
    },
    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
    imgWidth: 1400,
    imgHeight: 680
  });
});
</script>
{% endcompress %}
{% endblock extra-header %}
