<!DOCTYPE html>
<html lang='en'>
    <head>
    	<meta http-equiv='content-type' content='text/html; charset=UTF-8'>
        <meta charset='utf-8'>
        <title>{% if seo_tags.title %}{{seo_tags.title }}{% else %}Lake Tahoe Real Estate{% endif %} | Tristan Roberts and Associates</title>
        <meta name='keywords' content="Lake Tahoe Real Estate, Truckee Real Estate, Tahoe Donner Real Estate, Lakefront, Northstar Real Estate, North Lake Tahoe Real Estate, Homes for sale"/>
        <meta name='description' content='{% if seo_tags.description %}{{ seo_tags.description }}{% else %}{{ available_listing_count }} real estate properties for sale or rent in Lake Tahoe and surrounding area. View home sales, recent price reductions, properties for rent, market statistics, and all information on real estates currently for sale by Tristan Roberts &amp; Associates.{% endif %}'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <meta name='author' content=''/>
        <link href="https://plus.google.com/103858690982644939658" rel="publisher" />

    	<link id='switch_style' href='{{STATIC_URL}}css/real_estate.css' rel='stylesheet'/>

        <!--[if lt IE 9]>
    		<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
    	<![endif]-->
        <style>
        #home_map_canvas img, #detailed-map-canvas img, #pano img {
            max-width: none;
        }
        </style>

        <script>
    	    var featured_locs;
    	    var new_prop_locs;
    	    var our_prop_locs;
    	    var recently_sold_locs;
    	</script>

    </head>

<body>
	{% include 'header.html' %}
    <div class='container'>

{% block content %}
{% endblock content %}

{% include 'footer.html' %}

</div> <!-- /container -->

{% include 'static.html' %}

{% block extra-header %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#PropertyTablesTab a:first').tab('show');
        });
    </script>
{% endblock extra-header %}


</body>
</html>
