{% extends 'base.html' %}

{% block content %}
<div class="row">
    
    <div class="span12">
        <div class="page-header">
            <h1>Team Bio <small>Learn more about our crew!</small></h1>
        </div>
        
        <!-- <h2>Headings &amp; body copy</h2> -->
        
        <!-- Headings & Paragraph Copy -->
        <div class="row">
            <div class="span12">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="span2">
                <img src="blarg lazy" style="width: 140px;">
            </div>
            <div class="span10">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span2">
                <img src="blarg lazy" style="width: 140px;">
            </div>
            <div class="span10">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span2">
                <img src="blarg lazy" style="width: 140px;">
            </div>
            <div class="span10">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span2">
                <img src="blarg lazy" style="width: 140px;">
            </div>
            <div class="span10">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="span12">
                <h3>Example body text</h3>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            </div>
        </div>
        <br>
    </div>
    
</div>
{% endblock content %}