{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Premium Real Estate <small> more than the usual</small></h1>
        </div>
        <div class="row">
            <div class="span8" style="margin-left:30px;">
                {% for content in blog_content %}
                    {% if content.is_full_content%}
                        <div class="site-content">
                            <a href="{{content.get_absolute_url}}" name="#{{content.title|slugify}}"><h3>{{ content.title }}</h3></a>
                            {% if content.content %}
                            <p>{{ content.content|safe }}</p>
                            {% endif %}
                            {% if content.gallery %}
                            <div id="gallery_{{content.gallery.id}}" class="royalSlider rsDefault siteContentGallery">
                                {% for image in content.gallery.photos.all %}
                                    <a class="rsImg" href="{{ image.image.url }}">
                                        <img class="rsTmb lazy" width="56" height="56" src="{{ image.image.url }}"/>
                                    </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="site-content">
                        <p>Sorry, No Blogs Found.</p>
                    </div>
                {% endfor %}
            </div>
            <h4 class="span3 well">Location Types</h4>
            <div class="span3 well">
                <ul>
                    {% for lt in location_types %}
                    <li><a href="{% url 'filter_content' location_type_id=lt.id location_type_slug=lt.name|slugify %}">{{lt}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="pagination">
                <div class="span4 select_height">   Showing {{ blog_content.start_index }} - {{ blog_content.end_index }} of {{ blog_content.paginator.count }} results</div>
                <ul>
                    <li>
                        {% if blog_content.has_previous %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ blog_content.previous_page_number }}">Prev</a>
                        {% else %}
                            <a href="#" >Prev</a>
                        {% endif %}
                    </li>
                    <li><a href="">Page {{ blog_content.number }} of {{ blog_content.paginator.num_pages }}</a></li>
                    <li>
                        {% if blog_content.has_next %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ blog_content.next_page_number }}">Next</a>
                        {% else %}
                            <a href="{{ request.build_absolute_uri }}#">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
