{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="span9 offset1">
        <div class="page-header">
            <h1>Contact us</h1>
        </div>

        <!-- Headings &amp; Paragraph Copy -->
        <div class="row">

            <div class="span9">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <p>
                            Tristan Roberts & Associates</br>
                            Coldwell Banker Residential Brokerage</br>
                            530-580-8001</br>
                            LIC#: 01259729</br>
                        </p>
                        <br />
                        {% if error_message %}
                        <div class="alert alert-error">
                            {{ error_message }}
                        </div>
                        {% endif %}

                        {% if listing %}
                        <div class="control-group">
                            <label class="control-label">Listing Details:</label>
                            <div class="controls">
                                <textarea disabled="disable" rows="3" name="listing_detail" id="textarea"  class="input-xlarge span6">{{ request_message }} on property listing with MLS Number : {{ listing }}</textarea>
                            </div>
                        </div>
                        {% endif %}

                        <div class="control-group">
                            <label for="focusedInput" class="control-label">Name:</label>
                            <div class="controls">
                                <input type="text" name="name" value="{{ name }}" placeholder="your name" id="focusedInput" class="input-xlarge focused span6">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Mail Address:</label>
                            <div class="controls">
                                <input type="text" name="email" value="{{ email }}" placeholder="your email" class="input-xlarge span6">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phone:</label>
                            <div class="controls">
                                <input type="text" name="phone" value="{{ phone }}" placeholder="your phone number" class="input-xlarge span6">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textarea" class="control-label">Inquiry:</label>
                            <div class="controls">
                                <textarea rows="3" name="text" id="textarea"  placeholder="What would you like to contact us about?" class="input-xlarge span6">{{ text }}</textarea>
                            </div>
                        </div>

                        <div class="span8">
                            <button class="btn btn-primary pull-right" style="margin-right: 20px;" type="submit">
                                Continue
                            </button>
                        </div>
                    </fieldset>
                </form>

            </div>

            <!-- Misc Elements -->

        </div>
    </div>
</div>
{% endblock content %}
