{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="span12">
        <div class="page-header">
            <h1>Premium Real Estate <small> more than the usual</small></h1>
        </div>
        <div class="row">
            <div class="span8" style="margin-left:30px;">
                {% if content.is_full_content%}
                    <div class="site-content">
                        <a href="#{{content.title|slugify}}" name="#{{content.title|slugify}}"><h3>{{ content.title }}</h3></a>
                        {% if content.content %}
                        {{ content.content|safe }}
                        {% endif %}
                        {% if content.gallery %}
                        <div id="gallery_{{content.gallery.id}}" class="royalSlider rsDefault siteContentGallery">
                            {% for image in content.gallery.photos.all %}
                                <a class="rsImg" href="{{ image.image.url }}">
                                    <img class="rsTmb lazy" width="56" height="56" src="{{ image.image.url }}"/>
                                </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}