<footer>
    <hr />
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
        We are eager to earn your future business.<br/>
        Contact us when you’re ready. <br/>
        <a href="">530-448-1734</a> | <a href="{% url 'contact_us' %}">Email Us</a>
    </p>
</footer>
