{% load i18n %}
{% load account %}
{% load url from future %}
<!-- start header -->
<div class="navbar">
    <div class="navbar-inner" style="min-height: 15px;">
        <div class="container">
        </div>
    </div>
</div>
<div class="real-header">
    <div class="container">
        <div class="row">
            <a href="{% url 'home' %}">
                <div class="span2 logo">
                    <img src="{{STATIC_URL}}css/images/logo.png" alt="Lake Tahoe Real Estate & Truckee Real Estate by Tristan Roberts"/>
                </div>
                <div class="span6" style="margin-left: 0px;">
                    <h1><large style="color: white !important;">Tristan Roberts & Associates</large><br /><span style="font-size:18px; color:#D0F0FF;">Lake Tahoe Real Estate & Truckee Real Estate</span></h1>
                </div>
            </a>

            <div class="pull-right">
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="medium" data-annotation="none" data-width="300" data-href="https://plus.google.com/103858690982644939658"></div>

                <!-- Place this tag after the last +1 button tag. -->
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
            </div>
        </div>


    </div>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
                <ul class="nav">
                    <li><a href="{% url 'home' %}" class="first">Home</a></li>
                    <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown">Featured <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% comment %}<li><a href="{% url 'featured_property' %}">All Properties</a></li>{% endcomment %}
                            <li><a href="{% url 'view_community' community_slug='alpine-meadows' %}">Alpine Meadows</a></li>
                            <li><a href="{% url 'view_community' community_slug='lahontan' %}">Lahontan</a></li>
                            <li><a href="{% url 'view_setting' setting_slug='lakefront' %}">Lakefronts</a></li>
                            <li><a href="{% url 'view_community' community_slug='martis-valley' %}">Martis Valley</a></li>
                            <li><a href="{% url 'view_community' community_slug='north-laketahoe'%}">North LakeTahoe</a></li>
                            <li><a href="{% url 'view_community' community_slug='northstar' %}">Northstar</a></li>
                            <li><a href="{% url 'view_community' community_slug='squaw-valley' %}">Squaw Valley</a></li>
                            <li><a href="{% url 'view_community' community_slug='tahoe-city' %}">Tahoe City</a></li>
                            <li><a href="{% url 'view_community' community_slug='tahoe-donner' %}">Tahoe Donner</a></li>
                            <li><a href="{% url 'view_community' community_slug='truckee'%}">Truckee</a></li>
                            <li><a href="{% url 'view_community' community_slug='westshore-lk-th'%}">WestShore LakeTahoe</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'search_all' %}" class="first">Search MLS</a></li>
                    {% comment %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property Search <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'search_all' %}">Search All Properties</a></li>
                            <li><a href="{% url 'city' %}">City</a></li>
                            <li><a href="{% url 'community' %}">Community</a></li>
                            <li><a href="{% url 'area' %}">Subdivision</a></li>
                            <li><a href="{% url 'setting' %}">Setting</a></li>
                        </ul>
                    </li>
                    {% endcomment %}
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a href="#">Welcome {% user_display user %}!</a></li>
                    <li><a href="{% url 'account_logout' %}">Log out</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Up<strong class="caret"></strong></a>
                        <div class="dropdown-menu">
                            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                <input id="id_username" type="text" name="username" placeholder="Username" size="30" />
                                <input id="id_email" type="text" name="email" placeholder="E-mail address" size="30" />
                                <input id="id_password1" type="password" name="password1" placeholder="Password" size="30" />
                                <input id="id_password2" type="password" name="password2" placeholder="Password (again)" size="30" />
                                <input id="id_confirmation_key" name="confirmation_key" type="hidden">
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                        <div class="dropdown-menu">
                            <form class="login" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                <input id="id_login" type="text" name="login" placeholder="Username or e-mail" size="30" />
                                <input id="id_password" type="password" name="password" placeholder="Password" size="30" />
                                <input id="remember_me" type="checkbox" name="remember" value="1" />
                                <label for='remember_me' class="string optional"> Remember me</label>
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %} &raquo;</button>
                            </form>
                        </div>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->

