{% extends 'base.html'%}
{% block content %}
{% load humanize %}
{% load compress %}
{% load cblt_commons %}

<div class="row">
<div class="span4" style="margin-left: 0%;">
    <h3 style="padding-left: 21px;"><strong style="color:#2E5A02;">530-580-8001</strong>  | <a href="{% url 'contact_us' %}">Email us!</a></h3>
    <div class="span4 well lform">
        {% include 'mls/quick_search_side.html' %}
    </div>

    <br />
    <div class="span4 well lform">
        <h3>Featured Properties</h3>
        <hr/>
        <ul class="thumbnails">
            {% for item in lakefronts|slice:":4" %}
            <li class="span2">
                <div class="thumbnail mini_property">
                    <a href="{{ item.get_detailed_property_url }}"><img class="lazy" width="192" src="{{ item.get_picture_url }}" alt=""></a>
                    <h5>Price : &dollar;{{ item.C_AskPrice|floatformat|intcomma  }}</h5>
                    <p>
                        <a href="{{ item.get_detailed_property_url }}">{{ item.C_NoBeds }} bedroom house</a>
                        <br />
                        {{ item.C_Address }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="span4 well lform" itemScope itemType="http://schema.org/Organization">
            <div class="pull-left" style="width:98px; height:108px; display: inline-block"><img src="{{ STATIC_URL }}css/images/tristan_head_2012.jpg" width="94" height="104" alt=""></div>
            <span itemprop="name">
            <span style="font-weight: bold; font-size: 6; margin-left: 10px"><span itemprop="founder" itemScope itemType="http://www.schema.org/RealEstateAgent"><span itemprop="name">Tristan Roberts</span></span> &amp; Associates<br/></span>
            <span style="font-weight: bold; margin-left: 10px">Coldwell Banker</span></br>
            </span>
            <span style="font-weight: bold; margin-left: 10px"> <span itemprop="address" itemScope itemType="http://schema.org/PostalAddress"><span itemprop="addressLocality">Lake Tahoe</span> <span itemprop="addressRegion">CA</span> </span> | <span itemprop="address" itemScope itemType="http://schema.org/PostalAddress"><span itemprop="addressLocality">Truckee</span> <span itemprop="addressRegion">CA</span> </span> <br></span>
            <span style="font-weight: bold; margin-left: 10px"> LIC#:01259729<br/></span>
            <span style="font-weight: bold; margin-left: 10px" itemprop="telephone">530-448-1734</span><br/>
            <a class="btn btn-primary" style="font-weight: bold; margin-left: 10px" href="{% url 'contact_us' %}">Email Us</a>
    </div>

    <div class="span4">
        <script>
            var active_locs = {{ active_locs|safe }};
            var price_change_locs = {{ price_change_locs|safe }};
            var under_contract_locs = {{ under_contract_locs|safe }};
            //var our_prop_locs = {{ our_prop_locs|safe }};
            var recently_sold_locs = {{ recently_sold_locs|safe }};
            var lakefronts_locs = {{ lakefronts_locs|safe }};
            var active_listing = {{ active_stat.json|safe }};
        </script>
    </div>
</div>

<div class="span8" style="margin-left: 4%;">
    <div class="span8" style='width:95%; height: 100%; margin-left: 8%;'>
        <button id="data-display-toggle" class="btn btn-inverse">expand</button>
        <ul class="nav nav-tabs" id="DataDisplayTabs">
            <li><a class="active" href="#map-tab" data-toggle="tab">Map</a></li>
            <li><a href="#stat-tab" data-toggle="tab">Statistics</a></li>
            <li><a href="#blog-tab" data-toggle="tab">Blog</a></li>
        </ul>
        <div id="dataDisplayContent" class="tab-content home-map-min">
                <div id="map-tab" class="tab-pane active">
                    <div id="home_map_canvas" style="width: 580px; height: 450px;">
                        <p class="loading-map">Loading Map...</p>
                    </div>
                </div>
                <div id="stat-tab" class="tab-pane">
                        <div id="active-type" class="span5" style="margin-left:-15px;"></div>
                        <div class="span3 pull-right" style="margin-left:0px;"><p>Active Listings: The current inventory of residential properties is {{ active_stat.object.active_listing }} properties for sale; {% for key, value in active_stat.object.residence_type.data.items %} {{ key }} : {{ value }} {% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>
                            <div class="span2 pull-right" style="margin-top: 10px;">
                                <a class="btn btn-primary pull-right" href="{% url 'statistics' %}">View More Site Statistics</a>
                            </div>
                        </div>
                </div>
                <div id="blog-tab" class="tab-pane">
                    {% for blog in blogs %}
                        <p>
                            <h3>
                                <a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                            </h3>{{ blog.content|safe|truncatechars:150 }}
                        </p>
                    {% endfor %}
                </div>
        </div>

    </div>
    <div class="span8">
        <div class="pull-right" style="width:95%; margin-top: 4%;">
            <ul class="nav nav-tabs" id="PropertyTablesTab">
                <li><a href="#active" data-toggle="tab">New Listings</a></li>
                <li><a href="#price_reductions" data-toggle="tab">Recent Price Reductions</a></li>
                <li><a href="#recently_sold" data-toggle="tab">Recent Sales</a></li>
                <li><a href="#under_contract" data-toggle="tab">Under Contract</a></li>
                <li><a href="#lakefronts" data-toggle="tab">Lakefronts</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="active">
                    <h3><span>New</span> listings</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Community</th>
                                <th>Beds</th>
                                <th>SqFt</th>
                                <th>Price</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listing in active %}
                            <tr itemscope itemtype="http://schema.org/Offer">
                                <td itemprop="availabilityStarts">{{ listing.C_LstDate|date:"m-d-y" }}</td>
                                <td itemprop="eligibleRegion" itemscope itemType="http://schema.org/Place">
                                    <span itemprop="name">{{ listing.C_Community }}</span></td>
                                <td>{{ listing.C_NoBeds }}</td>
                                <td>{{ listing.C_SqFeet }}</td>
                                <td itemprop="price">${{ listing.C_AskPrice|floatformat|intcomma }}</td>
                                <td itemprop="name" itemscope itemtype="http://schema.org/Residence">
                                    <a itemprop="url" href="{{ listing.get_detailed_property_url }}">
                                        <span itemprop="address">{{ listing.C_Address }}</span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="price_reductions">
                    <h3>Recent Price Reductions</h3>
                    <a href="{% url 'price_reductions' %}">View More</a>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Community</th>
                                <th>Reduction</th>
                                <th>Beds</th>
                                <th>Sq Ft</th>
                                <th>Price</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pc in price_change %}
                            <tr itemscope itemtype="http://schema.org/Offer">
                                <td nowrap="nowrap">{{ pc.timestamp|date:"m-d-y" }}</td>
                                <td itemprop="eligibleRegion" itemscope itemType="http://schema.org/Place">
                                    <span itemprop="name">{{ pc.listing.C_Community }}</span>
                                </td>
                                <td>${{ pc.get_price_delta|floatformat|intcomma }}</td>
                                <td>{{ pc.listing.C_NoBeds }}</td>
                                <td>{{ pc.listing.C_SqFeet }}</td>
                                <td itemprop="price">${{ pc.listing.C_AskPrice|floatformat|intcomma }}</td>
                                <td nowrap="nowrap" itemprop="name" itemscope itemtype="http://schema.org/Residence">
                                    <span itemprop="url">{{ pc.listing|create_address_link:12|safe }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="recently_sold">
                    <h3><span>Recently Sold</span> Properties</h3>
                    <a href="{% url 'realestate_sold' %}">View More</a>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Community</th>
                                <th>Beds</th>
                                <th>Sq Ft</th>
                                <th>Sold Price</th>
                                <th>Terms</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listing in recently_sold %}
                            <tr>
                                <td nowrap="nowrap">{{ listing.C_CloseDate|date:"m-d-y" }}</td>
                                <td>{{ listing.C_Community }}</td>
                                <td>{{ listing.C_NoBeds }}</td>
                                <td>{{ listing.C_SqFeet }}</td>
                                <td>&dollar;{{ listing.C_SoldPrice|floatformat|intcomma }}</td>
                                <td>{% if listing.C_HowSold == 'CONVENTIONAL'%}Loan{% else %}{{ listing.C_HowSold|lower|capfirst }}{% endif %}</td>
                                <td nowrap="nowrap">{{ listing|create_address_link:10|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="under_contract">
                    <h3>Under Contract</h3>
                    <a href="{% url 'realestate_under_contract' %}">View More</a>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Community</th>
                                <th>Beds</th>
                                <th>Sq Ft</th>
                                <th>Price</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listing in under_contract %}
                            <tr>
                                <td>{{ listing.C_ContDate|date:"m-d-y" }}</td>
                                <td>{{ listing.C_Community }}</td>
                                <td>{{ listing.C_NoBeds }}</td>
                                <td>{{ listing.C_SqFeet }}</td>
                                <td>&dollar;{{ listing.C_AskPrice|floatformat|intcomma }}</td>
                                <td>
                                    <a href="{{ listing.get_detailed_property_url }}">{{ listing.C_Address }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="lakefronts">
                    <h3><span>LakeFronts</span></h3>
                    <a href="{% url 'realestate_lakefronts' %}">View More</a>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Community</th>
                                <th>Beds</th>
                                <th>Sq Ft</th>
                                <th>Price</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listing in lakefronts %}
                            <tr itemscope itemtype="http://schema.org/Offer">
                                <td itemprop="availabilityStarts">{{ listing.C_LstDate|date:"m-d-y" }}</td>
                                <td itemprop="eligibleRegion" itemscope itemType="http://schema.org/Place"><span itemprop="name">{{ listing.C_Community }}</span></td>
                                <td>{{ listing.C_NoBeds }}</td>
                                <td>{{ listing.C_SqFeet }}</td>
                                <td itemprop="price">${{ listing.C_AskPrice|floatformat|intcomma }}</td>
                                <td itemprop="name" itemscope itemtype="http://schema.org/Residence">
                                    <a itemprop="url" href="{{ listing.get_detailed_property_url }}">
                                        <span itemprop="address">
                                            {{ listing.C_Address }}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
{% endblock content %}
{% block extra-header %}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}royalslider/skins/default-inverted/rs-default-inverted.css" />
<link href="{{STATIC_URL}}royalslider/skins/minimal-white/rs-minimal-white.css" rel="stylesheet">
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
<script>
$('#welcomeModal').modal().css({
    'margin-top': function () {
        return -($(this).height() / 2);
    }
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
<script type="text/javascript", src="{{STATIC_URL}}js/chart-home.js"></script>
{% endcompress %}
{% endblock extra-header %}
