{% extends 'base.html'%}
{% block content %}
{% load humanize %}
{% load compress %}
{% load cblt_commons %}
<div class="row">
    <h3 style="padding-left: 21px;"><strong style="color:#2E5A02;">530-448-1734</strong>  | <a href="{% url 'contact_us' %}">Email us!</a></h3>
    <div class="span4 well lform">
        {% include 'mls/quick_search_side.html' %}
    </div>
    <div class="span7 well lform">
                <form class="form-horizontal" method="post" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    <fieldset>
                        <p style='text-align:center;'>
                            Tristan Roberts & Associates</br>
                            Coldwell Banker Residential Brokerage</br>
                            530-448-1734</br>
                            LIC#: 01259729</br>
                        </p>
                        <br />
                        {% if error_message %}
                        <div class="alert alert-error">
                            {{ error_message }}
                        </div>
                        {% endif %}

                        {% if listing %}
                        <div class="control-group">
                            <label class="control-label">Listing Details:</label>
                            <div class="controls">
                                <textarea disabled="disable" rows="3" name="listing_detail" id="textarea"  class="input-xlarge span4">{{ request_message }} on property listing with MLS Number : {{ listing }}</textarea>
                            </div>
                        </div>
                        {% endif %}

                        <div class="control-group">
                            <label for="focusedInput" class="control-label">Name:</label>
                            <div class="controls">
                                <input type="text" name="name" value="{{ name }}" placeholder="your name" id="focusedInput" class="input-xlarge focused span4">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Mail Address:</label>
                            <div class="controls">
                                <input type="text" name="email" value="{{ email }}" placeholder="your email" class="input-xlarge span4">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phone:</label>
                            <div class="controls">
                                <input type="text" name="phone" value="{{ phone }}" placeholder="your phone number" class="input-xlarge span4">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textarea" class="control-label">Inquiry:</label>
                            <div class="controls">
                                <textarea rows="3" name="text" id="textarea"  placeholder="What would you like to contact us about?" class="input-xlarge span4">{{ text }}</textarea>
                            </div>
                        </div>

                        <div class="span6">
                            <button class="btn btn-primary pull-right" style="margin-right: 20px;" type="submit">
                                Continue
                            </button>
                        </div>
                    </fieldset>
                </form>

            </div>

</div>
{% endblock content %}
{% block extra-header %}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}royalslider/skins/default-inverted/rs-default-inverted.css" />
<link href="{{STATIC_URL}}royalslider/skins/minimal-white/rs-minimal-white.css" rel="stylesheet">
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
{% endcompress %}
{% endblock extra-header %}
