{% load compress %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry,places&sensor=true"></script> -->
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.aw-showcase/jquery.aw-showcase.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sticky/sticky.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/portamento-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mls/search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/badger/badger.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer.js"></script>
{% endcompress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.aw-showcase/css/style.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}royalslider/royalslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}royalslider/skins/default/rs-default.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}royalslider/skins/default-inverted/rs-default-inverted.css" />

<link rel="stylesheet" href="{{ STATIC_URL }}js/badger/badger.min.css" />

<link rel="stylesheet" href="{{ STATIC_URL }}js/sticky/sticky.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/cblt.css"/>
<link href="{{ STATIC_URL }}chosen/chosen.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
{% endcompress %}
