{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span4 offset4 well">
        <legend>{% trans "Sign In" %}</legend>
        {% if socialaccount.providers  %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% endif %}
        {% if form.errors %}
        <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Login and/or Password!
        </div>
        {% endif %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <input id="id_login" type="text" class="span4" name="login" placeholder="Username or e-mail" value="{{ form.login.value|default_if_none:"" }}" size="30" />
            <input id="id_password" type="password" class="span4" name="password" placeholder="Password" size="30" />
            <label for='remember_me' class="checkbox string optional">
                <input id="remember_me" type="checkbox"  name="remember" value="1"> Remember Me
            </label>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %} &raquo;</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}

