{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>{% trans "Sign Up" %}</legend>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                </div>
                {% endfor %}
                {% endif %}
                <input id="id_username" class="span4" type="text" name="username" value="{{ form.username.value|default_if_none:"" }}" placeholder="Username" size="30" />
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                </div>
                {% endfor %}
                {% endif %}
                <input id="id_email" class="span4" type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" placeholder="E-mail address" size="30" />
                {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                </div>
                {% endfor %}
                {% endif %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                </div>
                {% endfor %}
                {% endif %}
                <input id="id_password1" class="span4" type="password" name="password1" placeholder="Password" size="30" />
                {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                </div>
                {% endfor %}
                {% endif %}
                <input id="id_password2" class="span4" type="password" name="password2" placeholder="Password (again)" size="30" />
                <input id="id_confirmation_key" name="confirmation_key" type="hidden">
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}


