{% load url from future %}{% load thumbnail %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content=
  "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Freshmail Responsive E-mail Template - Mixed Layout Blue</title>
  <style type="text/css">
/*<![CDATA[*/
  html{width:100%}::-moz-selection{background:#1bc4de;color:#fff}::selection{background:#1bc4de;color:#fff}body{background-color:#f8f8f8;margin:0;padding:0}.ReadMsgBody{width:100%;background-color:#f8f8f8}.ExternalClass{width:100%;background-color:#f8f8f8}a{color:#1bc4de;text-decoration:none;font-weight:400;font-style:normal}a:hover{color:#aaa;text-decoration:underline;font-weight:400;font-style:normal}a.heading-link{text-decoration:none;font-weight:400;font-style:normal}a.heading-link:hover{text-decoration:none;font-weight:400;font-style:normal}p,div{margin:0!important}table{border-collapse:collapse}@media only screen and (max-width:640px){table table{width:100%!important}td[class=full_width]{width:100%!important}div[class=div_scale]{width:440px!important;margin:0 auto!important}table[class=table_scale]{width:440px!important;margin:0 auto!important}td[class=td_scale]{width:440px!important;margin:0 auto!important}img[class=img_scale]{width:100%!important;height:auto!important}img[class=divider]{width:440px!important;height:2px!important}table[class=spacer]{display:none!important}td[class=spacer]{display:none!important}td[class=center]{text-align:center!important}table[class=full]{width:400px!important;margin-left:20px!important;margin-right:20px!important}img[class=divider]{width:100%!important;height:1px!important}}@media only screen and (max-width:479px){table table{width:100%!important}td[class=full_width]{width:100%!important}div[class=div_scale]{width:280px!important;margin:0 auto!important}table[class=table_scale]{width:280px!important;margin:0 auto!important}td[class=td_scale]{width:280px!important;margin:0 auto!important}img[class=img_scale]{width:100%!important;height:auto!important}img[class=divider]{width:280px!important;height:2px!important}table[class=spacer]{display:none!important}td[class=spacer]{display:none!important}td[class=center]{text-align:center!important}table[class=full]{width:240px!important;margin-left:20px!important;margin-right:20px!important}img[class=divider]{width:100%!important;height:1px!important}}
  /*]]>*/
  </style>
</head>

<body bgcolor="#F8F8F8">

    {% for article in message.articles.all %}
        <div>{{ article.text|safe }}</div>

        {% if article.url %}
            <div><a href="{{ article.url }}">Read more</div></a>
        {% endif %}
    {% endfor %}
      <!-- START OF SOCIAL BLOCK-->

      <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td valign="top" width="100%">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td width="100%">
                      <!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#EDEDED" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="30">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->

                      <table class="table_scale" width="600" bgcolor="#EDEDED" cellpadding=
                      "0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%">
                              <table width="600" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td class="spacer" width="30"></td>

                                    <td width="540">
                                      <!-- START OF LEFT COLUMN FOR HEADING-->

                                      <table class="full" align="left" width="255"
                                      cellpadding="0" cellspacing="0" border="0" style=
                                      "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                      <tbody>
                                          <tr>
                                            <td class="center" align="left" style=
                                            "margin: 0; text-transform: uppercase; font-size: 20px; color:#666666; font-family: Lucida Sans Unicode; line-height: 30px; mso-line-height-rule: exactly;">
                                            <span>FOLLOW US ONLINE:</span></td>
                                          </tr>
                                        </tbody>
                                      </table><!-- END OF LEFT COLUMN FOR HEADING-->
                                      <!-- START OF SPACER-->

                                      <table width="25" align="left" cellpadding="0"
                                      cellspacing="0" border="0" style=
                                      "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                      <tbody>
                                          <tr>
                                            <td width="100%" height="30"></td>
                                          </tr>
                                        </tbody>
                                      </table><!-- END OF SPACER-->
                                      <!-- START OF RIGHT COLUMN FOR SOCIAL ICONS-->

                                      <table class="full" align="right" width="255"
                                      cellpadding="0" cellspacing="0" border="0" style=
                                      "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                      <tbody>
                                          <tr>
                                            <td class="center" align="right" style=
                                            "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 100%;">
                                            <span><a href=
                                            "http://denysaputra.me/theme-preview/freshmail/blue/allmodules.html#"
                                            style="color:#ededed;"><img src=
                                            "http://www.cblaketahoe.com/static/img/email/facebook.png"
                                            alt="facebook" width="32" height="32" border=
                                            "0" /></a>&nbsp; <a href=
                                            ""
                                            style="color:#ededed;"><img src=
                                            "http://www.cblaketahoe.com/static/img/email/twitter.png"
                                            alt="twitter" width="32" height="32" border=
                                            "0" /></a> &nbsp; <a href=
                                            ""
                                            style="color:#ededed;"><img src=
                                            "http://www.cblaketahoe.com/static/img/email/linkedin.png"
                                            alt="linkedin" width="32" height="32" border=
                                            "0" /></a></span></td>
                                          </tr>
                                        </tbody>
                                      </table><!-- END OF RIGHT COLUMN FOR SOCIAL ICONS-->
                                    </td>

                                    <td class="spacer" width="30"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table><!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#EDEDED" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="30">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table><!-- END OF SOCIAL BLOCK--><!-- START OF FOOTER BLOCK-->

      <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td valign="top" width="100%">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td width="100%">
                      <!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#666666" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="30">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->

                      <table class="table_scale" width="600" bgcolor="#666666" cellpadding=
                      "0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%">
                              <table width="600" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td width="600">
                                      <table class="full" align="center" width="540"
                                      cellpadding="0" cellspacing="0" border="0" style=
                                      "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                      <tbody>
                                          <tr>
                                            <td class="center" align="center" style=
                                            "margin: 0; font-size:12px ; color:#ededed; font-family: Helvetica, Arial, sans-serif; line-height: 18px;">
                                            <span>Note: Data on this page is based on information from the Tahoe Sierra Board of Realtors, MLS.  Due to MLS reporting methods and allowable reporting policy, this data is only informational and may not be completely accurate.  Therefore, Lake Tahoe Real Estate Broker does not guarantee the data's accuracy.  Data maintained by the MLS may not reflect all real estate activity in the market. </span><br/>
                                            <span style="color:#1bc4de;">
                                            {% if submission.publish %}
                                            <a href=
                                            "http://{{ site.domain }}{{ submission.get_absolute_url }}"
                                            style="color:#1bc4de;">View online</a> |
                                            {% endif %}
                                            <a href=
                                            "http://{{ site.domain }}newsletter/"
                                            style="color:#1bc4de;">Update preferences</a> |
                                            <a href=
                                            "http://{{ site.domain }}{% url "newsletter_unsubscribe_request" newsletter.slug %}"
                                            style=
                                            "color:#1bc4de;">Unsubscribe</a></span></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table><!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#666666" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="20">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table><!-- END OF FOOTER BLOCK--><!-- START OF SUB-FOOTER BLOCK-->

      <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td valign="top" width="100%">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td width="100%">
                      <!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#666666" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0" style=
                      "border-top: 1px solid #767373;">
                        <tbody>
                          <tr>
                            <td width="100%" height="20">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->

                      <table class="table_scale" width="600" bgcolor="#666666" cellpadding=
                      "0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%">
                              <table width="600" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td width="600">
                                      <table class="full" align="center" width="540"
                                      cellpadding="0" cellspacing="0" border="0" style=
                                      "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                      <tbody>
                                          <tr>
                                            <td class="center" align="center" style=
                                            "margin: 0; font-size:12px ; color:#ededed; font-family: Helvetica, Arial, sans-serif; line-height: 18px;">
                                            <span>Copyright 2014 <a href=
                                            "http://www.cblaketahoe.com/"
                                            style="color:#1bc4de;">cblaketahoe.com</a> all
                                            right reserved.</span></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table><!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#666666" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="20">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER--><!-- START OF VERTICAL SPACER-->

                      <table bgcolor="#F8F8F8" class="table_scale" width="600" align="center"
                      cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="100%" height="30">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table><!-- END OF VERTICAL SPACER-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table><!-- END OF SUB-FOOTER BLOCK-->
    </body>
</html>
