/*
Theme Name: Flat Room
Theme URI: http://template.flatroom.itembridge.com/
Author: Infostyle
Author URI: http://themeforest.net/user/InfoStyle
Description: Flat Room responsive theme
Version: 1.0.0
License: GNU ThemeForest Regular & Extended License
License URI: http://themeforest.net/licenses/regular_extended
Tags: blue, dark, light, one-column, two-columns, right-sidebar, left-sidebar, custom-header, custom-menu
*/
/******************************************************************************
  Property View
*******************************************************************************/
.property-view #content .title {
	border-bottom-width: 2px;
	font-size: 24px;
	margin: -4px 0 20px;
	padding: 0 0 14px;
}
.property-view #content .overview {
	margin-bottom: 21px;
}
.property-view #content .options {
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 42px;
}
.property-view #content .galery {
	background-color: #fff;
	background-color: rgba(255,255,255,.97);
	border-width: 1px;
	border-color: rgba(0,0,0,.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px rgba(48,48,48,.1);
	-moz-box-shadow: 0 3px rgba(48,48,48,.1);
	box-shadow: 0 3px rgba(48,48,48,.1);
	margin: 0 0 20px;
	padding: 10px;
}
body.dark .property-view #content .galery {
	border-color: #fff;
	border-color: rgba(255,255,255,.97);
	-webkit-box-shadow: 0 3px rgba(48,48,48,.25);
	-moz-box-shadow: 0 3px rgba(48,48,48,.25);
	box-shadow: 0 3px rgba(48,48,48,.25);
}
.property-view #content .galery .images-box {
	float: right;
	position: relative;
	width: 76.5%;
}
.property-view #content .galery .images-box .prev,
.property-view #content .galery .images-box .next {
	bottom: 0;
	border: 0 none;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 2;
}
.property-view #content .galery .images-box .next {
	left: auto;
	right: 0;
}
.property-view #content .galery .images a {
	border: 0 none;
	color: #fff;
	color: rgba(255,255,255,.5);
	display: block;
	float: left;
	position: relative;
	text-align: center;
}
.property-view #content .galery .images a > i {
	position: absolute;
	right: 15px;
	top: 10px;
}
.property-view #content .galery .images a > i:before {
	font-size: 30px;
	height: auto;
	vertical-align: top;
	width: auto;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery .images a:hover > i:before {
	font-size: 60px;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery .images a img {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}
.property-view #content .galery .images a + a img {
	opacity: 0;
}
.property-view #content .galery.onload .images a + a img {
	opacity: 1;
}
.property-view #content .galery .thumbs-box {
	float: left;
	opacity: 0;
	overflow: hidden;
	width: 22%;
}
.property-view #content .galery .thumbs-box.onload {
	opacity: 1;
}
#thumbs > div {
	padding-bottom: 10px;
	overflow: hidden;
}
#thumbs a {
	border: 0 none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	float: left;
	height: 69px;
	opacity: .5;
	filter: alpha(opacity=50);
	overflow: hidden;
	padding: 0 5px 0 0;
	text-align: center;
	width: 50%;
}
#thumbs a img {
	width: 100%;
}
#thumbs a:hover {
	opacity: .9;
	filter: alpha(opacity=90);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#thumbs a.selected {
	opacity: 1;
	filter: alpha(opacity=100);
}
#thumbs a.two {
	float: right;
	padding: 0 0 0 5px;
}


.property-view #content .galery .thumbs-box .prev,
.property-view #content .galery .thumbs-box .next {
	background-color: #f1f1f1;
	background-color: rgba(51,51,51,.08);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../img/down.png");
	border: 0 none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	height: 25px;
	width: 100%;
}
.property-view #content .galery .thumbs-box .prev {
	background-image: url("../img/up.png");
	margin-bottom: 10px;
}

.property-view #content .galery .thumbs-box .prev:hover,
.property-view #content .galery .thumbs-box .next:hover {
	background-color: #41a3e1;
	background-image: url("../img/down-hover.png");
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}
.property-view #content .galery .thumbs-box .prev:hover {
	background-image: url("../img/up-hover.png");
}
.property-view #content .galery .thumbs-box .prev.disabled,
.property-view #content .galery .thumbs-box .next.disabled {
	background-color: #f1f1f1 !important;
	background-color: rgba(51,51,51,.08) !important;
	background-image: url("../img/down-disabled.png");
	cursor: default;
}
.property-view #content .galery .thumbs-box .prev.disabled {
	background-image: url("../img/up-disabled.png");
}



/*******************************************************************
property-view duplicate for the extra images
*******************************************************************/
.property-view #content .title {
	border-bottom-width: 2px;
	font-size: 24px;
	margin: -4px 0 20px;
	padding: 0 0 14px;
}
.property-view #content .overview {
	margin-bottom: 21px;
}
.property-view #content .options {
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 42px;
}
.property-view #content .galery2 {
	background-color: #fff;
	background-color: rgba(255,255,255,.97);
	border-width: 1px;
	border-color: rgba(0,0,0,.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px rgba(48,48,48,.1);
	-moz-box-shadow: 0 3px rgba(48,48,48,.1);
	box-shadow: 0 3px rgba(48,48,48,.1);
	margin: 0 0 20px;
	padding: 10px;
}
body.dark .property-view #content .galery2 {
	border-color: #fff;
	border-color: rgba(255,255,255,.97);
	-webkit-box-shadow: 0 3px rgba(48,48,48,.25);
	-moz-box-shadow: 0 3px rgba(48,48,48,.25);
	box-shadow: 0 3px rgba(48,48,48,.25);
}
.property-view #content .galery2 .images-box {
	float: right;
	position: relative;
	width: 76.5%;
}
.property-view #content .galery2 .images-box .prev,
.property-view #content .galery2 .images-box .next {
	bottom: 0;
	border: 0 none;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 2;
}
.property-view #content .galery2 .images-box .next {
	left: auto;
	right: 0;
}
.property-view #content .galery2 .images a {
	border: 0 none;
	color: #fff;
	color: rgba(255,255,255,.5);
	display: block;
	float: left;
	position: relative;
	text-align: center;
}
.property-view #content .galery2 .images a > i {
	position: absolute;
	right: 15px;
	top: 10px;
}
.property-view #content .galery2 .images a > i:before {
	font-size: 30px;
	height: auto;
	vertical-align: top;
	width: auto;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery2 .images a:hover > i:before {
	font-size: 60px;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery2 .images a img {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}
.property-view #content .galery2 .images a + a img {
	opacity: 0;
}
.property-view #content .galery2.onload .images a + a img {
	opacity: 1;
}
.property-view #content .galery2 .thumbs-box2 {
	float: left;
	opacity: 0;
	overflow: hidden;
	width: 22%;
}
.property-view #content .galery2 .thumbs-box2.onload {
	opacity: 1;
}
#thumbs2 > div {
	padding-bottom: 10px;
	overflow: hidden;
}
#thumbs2 a {
	border: 0 none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	float: left;
	height: 69px;
	opacity: .5;
	filter: alpha(opacity=50);
	overflow: hidden;
	padding: 0 5px 0 0;
	text-align: center;
	width: 50%;
}
#thumbs2 a img {
	width: 100%;
}
#thumbs2 a:hover {
	opacity: .9;
	filter: alpha(opacity=90);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#thumbs2 a.selected {
	opacity: 1;
	filter: alpha(opacity=100);
}
#thumbs2 a.two {
	float: right;
	padding: 0 0 0 5px;
}
.property-view #content .galery2 .thumbs-box2 .prev,
.property-view #content .galery2 .thumbs-box2 .next {
	background-color: #f1f1f1;
	background-color: rgba(51,51,51,.08);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../img/down.png");
	border: 0 none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	height: 25px;
	width: 100%;
}
.property-view #content .galery2 .thumbs-box2 .prev {
	background-image: url("../img/up.png");
	margin-bottom: 10px;
}
.property-view #content .galery2 .thumbs-box2 .prev:hover,
.property-view #content .galery2 .thumbs-box2 .next:hover {
	background-color: #41a3e1;
	background-image: url("../img/down-hover.png");
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}
.property-view #content .galery2 .thumbs-box2 .prev:hover {
	background-image: url("../img/up-hover.png");
}
.property-view #content .galery2 .thumbs-box2 .prev.disabled,
.property-view #content .galery2 .thumbs-box2 .next.disabled {
	background-color: #f1f1f1 !important;
	background-color: rgba(51,51,51,.08) !important;
	background-image: url("../img/down-disabled.png");
	cursor: default;
}
.property-view #content .galery2 .thumbs-box2 .prev.disabled {
	background-image: url("../img/up-disabled.png");
}

/*******************************************************************
end of property-view duplicate
*******************************************************************/

/*******************************************************************
start of property-view duplicate 3
*******************************************************************/
.property-view #content .galery3 {
	background-color: #fff;
	background-color: rgba(255,255,255,.97);
	border-width: 1px;
	border-color: rgba(0,0,0,.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px rgba(48,48,48,.1);
	-moz-box-shadow: 0 3px rgba(48,48,48,.1);
	box-shadow: 0 3px rgba(48,48,48,.1);
	margin: 0 0 20px;
	padding: 10px;
}
body.dark .property-view #content .galery3 {
	border-color: #fff;
	border-color: rgba(255,255,255,.97);
	-webkit-box-shadow: 0 3px rgba(48,48,48,.25);
	-moz-box-shadow: 0 3px rgba(48,48,48,.25);
	box-shadow: 0 3px rgba(48,48,48,.25);
}
.property-view #content .galery3 .images-box {
	float: right;
	position: relative;
	width: 76.5%;
}
.property-view #content .galery3 .images-box .prev,
.property-view #content .galery3 .images-box .next {
	bottom: 0;
	border: 0 none;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 2;
}
.property-view #content .galery3 .images-box .next {
	left: auto;
	right: 0;
}
.property-view #content .galery3 .images a {
	border: 0 none;
	color: #fff;
	color: rgba(255,255,255,.5);
	display: block;
	float: left;
	position: relative;
	text-align: center;
}
.property-view #content .galery3 .images a > i {
	position: absolute;
	right: 15px;
	top: 10px;
}
.property-view #content .galery3 .images a > i:before {
	font-size: 30px;
	height: auto;
	vertical-align: top;
	width: auto;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery3 .images a:hover > i:before {
	font-size: 60px;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.property-view #content .galery3 .images a img {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}
.property-view #content .galery3 .images a + a img {
	opacity: 0;
}
.property-view #content .galery3.onload .images a + a img {
	opacity: 1;
}
.property-view #content .galery3 .thumbs-box3 {
	float: left;
	opacity: 0;
	overflow: hidden;
	width: 22%;
}
.property-view #content .galery3 .thumbs-box3.onload {
	opacity: 1;
}
#thumbs3 > div {
	padding-bottom: 10px;
	overflow: hidden;
}
#thumbs3 a {
	border: 0 none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	float: left;
	height: 69px;
	opacity: .5;
	filter: alpha(opacity=50);
	overflow: hidden;
	padding: 0 5px 0 0;
	text-align: center;
	width: 50%;
}
#thumbs3 a img {
	width: 100%;
}
#thumbs3 a:hover {
	opacity: .9;
	filter: alpha(opacity=90);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#thumbs3 a.selected {
	opacity: 1;
	filter: alpha(opacity=100);
}
#thumbs3 a.two {
	float: right;
	padding: 0 0 0 5px;
}
.property-view #content .galery3 .thumbs-box3 .prev,
.property-view #content .galery3 .thumbs-box3 .next {
	background-color: #f1f1f1;
	background-color: rgba(51,51,51,.08);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../img/down.png");
	border: 0 none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	height: 25px;
	width: 100%;
}
.property-view #content .galery3 .thumbs-box3 .prev {
	background-image: url("../img/up.png");
	margin-bottom: 10px;
}
.property-view #content .galery3 .thumbs-box3 .prev:hover,
.property-view #content .galery3 .thumbs-box3 .next:hover {
	background-color: #41a3e1;
	background-image: url("../img/down-hover.png");
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}
.property-view #content .galery3 .thumbs-box3 .prev:hover {
	background-image: url("../img/up-hover.png");
}
.property-view #content .galery3 .thumbs-box3 .prev.disabled,
.property-view #content .galery3 .thumbs-box3 .next.disabled {
	background-color: #f1f1f1 !important;
	background-color: rgba(51,51,51,.08) !important;
	background-image: url("../img/down-disabled.png");
	cursor: default;
}
.property-view #content .galery3 .thumbs-box3 .prev.disabled {
	background-image: url("../img/up-disabled.png");
}

/*******************************************************************
end of property-view duplicate 3
*******************************************************************/




.property-view #content .amenities {
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 45px;
}
.property-view #content .amenities .first {
	margin-left: 0;
}
.property-view #content .amenities .attribute {
	background-repeat: no-repeat;
	background-position: 0 10px;
	background-image: url("../img/x.png");
	background-image: url("../img/svg/x.svg"), none;
	padding-left: 20px;
}
body.dark  .property-view #content .amenities .attribute {
	background-image: url("../img/x-white.png");
	background-image: url("../img/svg/x-white.svg"), none;
}
.property-view #content .amenities .attribute.active {
	background-image: url("../img/tick.png");
	background-image: url("../img/svg/tick.svg"), none;
	font-weight: bold;
}
body.dark .property-view #content .amenities .attribute.active {
	background-image: url("../img/tick-white.png");
	background-image: url("../img/svg/tick-white.svg"), none;
}
.property-view #content .map,
.property-view #content .agent-info {
	margin-bottom: 45px;
}
.property-view #content .map .title {
	margin-bottom: 30px;
}
.property-view #content .agent-info {
	margin-left: -1px;
	margin-right: -1px;
}
.property-view #content .agent-info .agent .title {
	margin: 0 0 15px -5px;
	padding: 0;
}
.property-view #content .agent-info .description {
	max-height: 92px;
	overflow: hidden;
}
.property-view #content .agent-info .autor-meta {
	border-color: #e1e1e1;
}
.property-view #content .agent-info a {
	color: #41a3e1;
}
.property-view #content .agent-info a:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
body.dark .gm-style-iw {
	color: #111;
}
.enquire-textarea {
	resize: none;
	height: 92px;
}
.enquire-textarea-widget {
	resize: none;
	height: auto;
}

/******************************************************************************
  Fancybox
*******************************************************************************/
.fancybox-overlay {
	background: rgba(65,163,225,.75);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 998;
}
.fancybox-wrap {
	background: #fff;
	background: rgba(255,255,255,.97);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px rgba(48,48,48,.1);
	-moz-box-shadow: 0 3px rgba(48,48,48,.1);
	box-shadow: 0 3px rgba(48,48,48,.1);
	outline: none;
	z-index: 999;
}
.fancybox-wrap .fancybox-skin {
	padding: 35px 10px 10px !important;
}
.fancybox-wrap .fancybox-skin img {
	width: 100%;
}
.fancybox-wrap .fancybox-nav {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	background-image: url("../img/prev.png");
	border: 0 none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 45px;
	left: 0;
	margin: -22px 0 0 0;
	position: absolute;
	top: 50%;
	width: 35px;
}
.fancybox-wrap .fancybox-next {
	background-image: url("../img/next.png");
	left: auto;
	right: 0;
}
.fancybox-wrap .fancybox-nav:hover {
	background-image: url("../img/prev-hover.png");
	background-color: #41a3e1;
	-webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.fancybox-wrap .fancybox-next:hover {
	background-image: url("../img/next-hover.png");
}
.fancybox-wrap .fancybox-close {
	background: url("../img/close.png") 0 0 no-repeat;
	border: 0 none;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
}
.fancybox-wrap .fancybox-close:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.fancybox-wrap .fancybox-title {
	color: #999;
	font-size: 13px;
	line-height: 1;
	margin-top: 10px;
}
