/*
    Start styling
    Client : CblakeTahoe
    URL : www.cblaketahoe.com
*/

/*
    General
*/

.no-margin {margin:0;}
.margin-left10 {margin-left: 10%}
h1.page-header a:hover, h2.page-header a:hover { color: #022a3b; text-decoration:none; }
.properties-grid .property .image img { height:179px; }
.properties-rows .property .image { height: 200px; overflow:hidden;}
.properties-rows .property .image img { min-height: 200px; width:100%; }
.sidebar-property img { height:74px; width:100px;}
form.contact-form input[type=text].error, form.contact-form textarea.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.widget.contact .content form input[type=text].error, .widget.contact .content form textarea.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.widget.properties .content .property .location span,
.widget.properties .content .property .title h3 a,
.properties-grid .property h2 a,
.properties-grid .property .location span,
.carousel ul li h3 a,
.carousel ul li .location span,
.infobox .location,
/*.subrelated li,*/
.infobox .title a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inherit;
}

.pricing .column h2 {
    font-size: 30px !important;
}

.subrelated li {
    margin-bottom: 5px;
}

.properties-grid .property .price .list-date{
    font-size:9px; margin-bottom:0px; margin-top:0px;
}

.infobox .image img {
    width: 160px;
}

.infobox .location {
    font-size: 12px;
    display: block!important;
}

.infobox .description {
    font-size: 12px;
    display: block!important;
}

.infobox .bathrooms {
    float: right;
    padding-top: 8px;
}

.infobox .bathrooms .content {
    background-image: url('../img/icons/bathrooms.png');
    background-repeat: no-repeat;
    background-size: 14px 20px;
    color: #313131;
    padding-left: 25px;
}

.infobox .bedrooms {
    float: right;
    margin-right: 10px;
    padding-top: 8px;
}

.infobox .bedrooms .content {
    background-image: url('../img/icons/bedrooms.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 21px 12px;
    color: #313131;
    padding-left: 30px;
}

.infobox .area {
    color: #313131;
    float: left;
    margin-top: 8px;
}

.google-search {
    width: 26%;
    float: right;
}
/*.opinion-area {
    height: 110px;
    overflow-y: scroll;
}*/
.infobox .area .content {
    background-image: url('../img/icons/area.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px 21px;
    color: #313131;
    padding-left: 25px;
}

.infobox .price {
    background-color: #fff;
    color: #313131;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#footer-wrapper #footer-top form input[type=text].error, #footer-wrapper #footer-top form textarea.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tab-pane {
    text-align: justify;
}
.tabs li a {
    background-color: #407d7e;
    color: #fff;
}
.tabs li a:hover {
    color: #000;
}
.our-agents {
    margin-top: 70px;
}

.our-agents .title,
.contact .title {
    display: none;
}

.widget.contact {
    margin-top: 40px;
}

.advanced-search .our-agents {
    margin-top: 0px;
}

.home .our-agents {
    margin-top: 60px;
}

.nav-active {background-color:#022a3b !important;border-top:2px solid #06a7ea !important;color:#06a7ea !important;text-decoration:none !important;
}

.breadcrumb {
    color:white;
    font-weight: bold;
}

/*
    Header
*/
.site-header { font-size: 1.5em; padding: 0; margin: -5px 0 0 15px; color: #022a3b;}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-slogan { margin-top: 20px; border-left: 2px solid #F0F0F0;}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-slogan span { border: none; position: relative; top: -6px;}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-name {margin-top: 35px; height:0; line-height: 0;}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-name p { line-height: 18px; margin-top:15px;}
#header-wrapper #header #header-inner .navbar .navbar-inner .logo-wrapper { width:630px;}

/*
    Homepage - Property Filter
*/

.property-filter { padding: 15px;}
.property-filter .status-active { float: left;}
.property-filter .under-contract{  margin: 0 0 0 20px; float: left;}
.property-filter .sold{  margin: 0 0 0 20px; float: left; width: 30%;}
.sold label, .under-contract label, .status-active label{ font-size: 12px;}
.slide-image img {height: 200px; width: 270px;}
.carousel ul li h3 a { font-size: 17px; }
.carousel ul li .price {right: 15px; bottom: 15px; top:auto;}
.property-filter .price-max, .property-filter .price-min { float: left; width: 48%;}
.property-filter .price-max { float:right;}


.property-filter .control-group { margin-bottom: 5px;}

.property-filter label{margin-bottom: 4px;}
.map .row .span3 {margin-top: -480px;}

.bottom-wrapper .gps {
    background-image: url("../img/call-to-action-statistics.png");
    background-size: 77px 260px;
}

.bottom-wrapper .key {
    background-image: url("../img/call-to-action-blog.png");
    background-size: 70px 260px;
}

/*
    Detailed Property Page
*/

.carousel .property-img { text-align: center; }
.property-detail .remarks { min-height: 350px;}
.property-detail .overview {margin: 0px 0px 10px 30px;}

/*
    Cbtl Places
*/
.property-side-container .image  { margin-right: 0 !important; width: 85px !important; }

.property-side-container:hover > div > .latest-listings,
.property-side-container:hover > div > .neighborhood,
.property-side-container:hover > div > .price-reduced,
.property-side-container:hover > div > .lakefronts {background-color: #022a3b; background-position: center top; background-repeat: no-repeat; border: 6px solid #06a7ea; border-radius: 50%; height: 50px; margin: 10px; width: 50px; }
.property-side-container:hover > div > .communities {background-color: #022a3b; background-position: center top; background-repeat: no-repeat; border: 6px solid #06a7ea; border-radius: 50%; height: 50px; margin: 10px; width: 50px; }

.property-side-container > div > .latest-listings{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url("../img/icon-latest-listings.png") bottom center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container > div > .neighborhood{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url("../img/icon-neighborhood.png") bottom center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container > div > .price-reduced{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url("../img/icon-price-reduced.png") bottom center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container > div > .lakefronts{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url("../img/icon-lakefronts.png") bottom center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container > div > .communities{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url("../img/icon-communities.png") bottom center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container > div > .location-type{ transition: background-position 0.2s ease-in 0s, border-color 0.2s ease-in 0s, background-color 0.2s ease-in 0s; background: url('../img/icon-communities.png') top center no-repeat; background-color: #F0F0F0; border: 6px solid #F0F0F0; border-radius: 50%;  height:50px; margin: 10px; width: 50px;  }
.property-side-container:hover > div > .location-type {background-color: #022a3b; background-position: center bottom; background-repeat: no-repeat; border: 6px solid #06a7ea; border-radius: 50%; height: 50px; margin: 10px; width: 50px; }


.property-side-container .other-properties h2 {font-size: 1.3em;}

.related-contents {
    border: 1px solid #ccc;
    overflow-y:auto;
    margin-left:0px;
}

.related-contents ul {
    margin: 10px 10px 10px 10px;
}

.related-contents .subrelated {
    margin-left: 0px;
}
/*
    Blog
*/

/*
    Advanced Search
*/

.advanced-search .property-filter .type,
.advanced-search .property-filter .setting,
.advanced-search .property-filter .hoa-amenities,
.advanced-search .property-filter .community,
.advanced-search .property-filter .acreage,
.advanced-search .property-filter .view,
.advanced-search .property-filter .settings,
.advanced-search .property-filter .mls,
.advanced-search .property-filter .waterfront-amenities,
.advanced-search .property-filter .subdivision,
.advanced-search .property-filter .status
 {float: left; width: 32%; margin-right: 11px; }

 .advanced-search .property-filter .beds
 {float: left; width: 15%;  }

.advanced-search .property-filter .baths
{float: left; width: 15%; margin-left: 16px; }

.advanced-search .property-filter .price-min
{ float:left; width: 15%; margin-left:12px;}

.advanced-search .property-filter .price-max
{ float:left; width: 15%; margin-left: 14px;}

.price-slide-container {width: 32%; float: left; margin-left: 10px;}
.price-slide-container .price-value{ text-align: left;}
.price-slide-sub-container { width: 240px; margin: 0 auto;}

.form-btn-container { margin-top: 0px !important;  }
.search-submit-btn { position: relative;left: -10px;
    background: #023754; /* Old browsers */
    background: -moz-linear-gradient(top,  #023754 0%, #011f2c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#023754), color-stop(100%,#011f2c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #023754 0%,#011f2c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #023754 0%,#011f2c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #023754 0%,#011f2c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #023754 0%,#011f2c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023754', endColorstr='#011f2c',GradientType=0 ); /* IE6-9 */
    border-radius: 5px; border: 1px solid #001926 !important; font-size: 1.5em; padding: 10px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.4), 0 1px 1px #2E8BAD inset;
    font-weight: normal!important; letter-spacing: 1px;
}

.properties-rows .property .hidden-price {
    background-color: #fff;
    color: #313131;
    font-size: 18px;
    padding: 5px 16px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.property-filter .form-actions .search-submit-btn:hover {
    background: #023754; /* Old browsers */
    background: -moz-linear-gradient(top,  #023754 0%, #011f2c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#023754), color-stop(100%,#011f2c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #023754 0%,#011f2c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #023754 0%,#011f2c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #023754 0%,#011f2c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #023754 0%,#011f2c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023754', endColorstr='#011f2c',GradientType=0 ); /* IE6-9 */ }

.divider { position: relative; left: 10px; color: #B2B0B0;}
.cancel-btn {color: #B2B0B0; display: inline-block; font-size: 12px;  text-decoration: underline; margin: 13px 10px 0 20px; }
.cancel-btn:hover {color: #B2B0B0; }
.property-filter input[type=text] { height: 38px;}

.property-filter .form-actions .btn-danger { background-color: #da4f49;}

.accordion-group .accordion-heading a { color: #fff;}
#accordion2 .accordion-group .accordion-heading .sign { margin-right: 10px;}
.input-47 { width: 47% !important; }

.bg-white { background-color: #fff; margin-bottom: 30px; padding: 5px 10px 5px 10px;}

/*
    Maps
*/
.residential-marker{-webkit-transition:margin-top 0.2s linear,padding-bottom 0.2s linear,opacity 0.2s linear;-moz-transition:margin-top 0.2s linear,padding-bottom 0.2s linear,opacity 0.2s linear;-o-transition:margin-top 0.2s linear,padding-bottom 0.2s linear,opacity 0.2s linear;transition:margin-top 0.2s linear,padding-bottom 0.2s linear,opacity 0.2s linear;background-image:url("../img/markers/residential-blue-small.png");background-position:center top;background-repeat:no-repeat;background-size:42px 57px;height:57px;opacity:0.7;width:42px;}
.residential-marker:hover{margin-top:-10px;padding-bottom:10px;opacity:.99}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){
    .residential-marker{background-image:url("../img/markers/residential-blue.png")}
}

#map-panorama { height: 450px; }
#property-map { height: 400px; width: 100%; max-width: none;}
#property-map img { max-width: none;}

.advanced .our-agents{
    margin-top: 20px;
}

.location-type .collapsed{
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 .5em;
    padding-left: 10%;
}
.location-type .expanded{
    background-image: url("../img/minus.png");
    background-repeat: no-repeat;
    background-position: 0 .5em;
    padding-left: 10%;
}
.related-contents .location-type {
    cursor: pointer;
}


.link {
    background-image: url('../img/icons/link-disable.png');
    background-position: left;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    padding-left: 27px !important;
}

.link:hover {
    background-image: url('../img/icons/link-enable.png');
    background-position: left;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    padding-left: 27px !important;
}

.social-button {
    float: left;
    margin: 5% 5%;
}

.detailed-property .our-agents {
    margin-top: 40px;
}

.carousel-home {
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
}

.home .property-filter {
    margin-top: 50px;
}

.carousel-home .content{padding-top:50px;}.carousel-home .caroufredsel_wrapper{height:360px !important;margin:0px !important;overflow:hidden;width:100% !important}.carousel-home ul{height:270px;list-style:none;overflow:hidden}.carousel-home ul li{background-color:#fff;float:left;height:360px;margin-right:30px;width:270px;}.carousel-home ul li .image{margin-bottom:10px;position:relative}.carousel-home ul li .image a{-webkit-transition:background-color 0.2s ease-in;-moz-transition:background-color 0.2s ease-in;-o-transition:background-color 0.2s ease-in;transition:background-color 0.2s ease-in;background-color:rgba(0,0,0,0);display:block;height:100%;left:0px;position:absolute;top:0px;width:100%}.carousel-home ul li .image a:hover{background-color:rgba(0,0,0,0.5);background-image:url("../img/icons/eye.png");background-position:center center;background-repeat:no-repeat}.carousel-home ul li h3{line-height:22px;margin:3px 0px 0px 0px;padding:0px 10px}.carousel-home ul li h3 a{-webkit-transition:color 0.1s ease-in;-moz-transition:color 0.1s ease-in;-o-transition:color 0.1s ease-in;transition:color 0.1s ease-in;color:#022a3b;font-size:18px;font-weight:normal}.carousel-home ul li h3 a:hover{color:#00070a;text-decoration:none}.carousel-home ul li .location{padding:0px 10px}.carousel-home ul li .price{background-color:#ffffff;color:#313131;font-size:18px;padding:5px 16px;position:absolute;right:-10px;top:130px}.carousel-home ul li .area{color:#313131;float:left;margin-top:8px;margin-left:10px;}.carousel-home ul li .area .inner{background-image:url("../img/icons/area.png");background-position:left center;background-repeat:no-repeat;background-size:20px 21px;color:#313131;padding-left:25px}@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){.carousel-home ul li .area .inner{background-image:url("../img/icons/area@2x.png")}}.carousel-home ul li .area .key{display:inline;font-weight:bold;padding:0px 0px 0px 10px}.carousel-home ul li .area .value{display:inline}.carousel-home ul li .bedrooms{float:right;margin-right:10px;padding-top:8px}.carousel-home ul li .bedrooms .inner{background-image:url("../img/icons/bedrooms.png");background-position:left center;background-repeat:no-repeat;background-size:21px 12px;color:#313131;padding-left:30px}@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){.carousel-home ul li .bedrooms .inner{background-image:url("../img/icons/bedrooms@2x.png")}}.carousel-home ul li .bathrooms{float:right;margin-right:10px;padding-top:8px}.carousel-home ul li .bathrooms .inner{background-image:url("../img/icons/bathrooms.png");background-position:left center;background-repeat:no-repeat;background-size:14px 20px;color:#313131;padding-left:25px}@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){.carousel-home ul li .bathrooms .inner{background-image:url("../img/icons/bathrooms@2x.png")}}.carousel-home .carousel-prev{-webkit-transition:opacity 0.2s linear,background-color 0.2s linear;-moz-transition:opacity 0.2s linear,background-color 0.2s linear;-o-transition:opacity 0.2s linear,background-color 0.2s linear;transition:opacity 0.2s linear,background-color 0.2s linear;background-color:#06a7ea;background-image:url("../img/arrow-left-white.png");background-position:center center;background-repeat:no-repeat;background-size:8px 11px;cursor:pointer;height:40px;margin-top:10px;padding:0px;position:absolute;left:15px;text-indent:-9999px;top:50%;width:40px;z-index:999}@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){.carousel-home .carousel-prev{background-image:url("../img/arrow-left-white@2x.png")}}.carousel-home .carousel-prev:hover{background-color:#036087}.carousel-home .carousel-next{-webkit-transition:opacity 0.2s linear,background-color 0.2s linear;-moz-transition:opacity 0.2s linear,background-color 0.2s linear;-o-transition:opacity 0.2s linear,background-color 0.2s linear;transition:opacity 0.2s linear,background-color 0.2s linear;background-color:#06a7ea;background-image:url("../img/arrow-right-white.png");background-position:center center;background-repeat:no-repeat;background-size:8px 11px;cursor:pointer;height:40px;margin-top:10px;padding:0px;position:absolute;right:15px;text-indent:-9999px;top:50%;width:40px;z-index:999}@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){.carousel-home .carousel-next{background-image:url("../img/arrow-right-white@2x.png")}}.carousel-home .carousel-next:hover{background-color:#0584b8}.carousel.property .content{background-color:transparent;position:relative}.carousel.property .caroufredsel_wrapper{background-color:transparent;height:75px !important}.carousel.property ul{height:75px}.carousel.property ul li{-webkit-transition:opacity 0.2s ease-in;-moz-transition:opacity 0.2s ease-in;-o-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;background-color:transparent;height:75px;margin:0px 5px;opacity:.3}.carousel.property ul li:hover,.carousel.property ul li.active{opacity:1}.carousel.property ul li img{cursor:pointer;height:75px;width:auto}.carousel.property .carousel-prev{display:block;top:37px}.carousel.property .carousel-next{display:block;top:37px}.carousel-wrapper .carousel{margin:0px}.carousel-wrapper .carousel-home .content{padding-left:100px;padding-right:100px}.carousel-wrapper .carousel-home .content h2{color:#fff;margin-bottom:30px;margin-top:0px}.carousel-wrapper .carousel-home .carousel-prev{left:50px;margin-left:-20px}.carousel-wrapper .carousel-home .carousel-next{margin-right:-20px;right:50px}@media (max-width: 767px){.carousel-wrapper .carousel .content{padding-left:80px;padding-right:80px}}

.tristan-image img {
    width: 200px;
    margin: 0 auto;
    height: auto;
    display: block;
}

.other-images img {
    width: 250px;
    margin: 0 auto;
    height: 185px;
    display: block;
    margin-top: 25px;
}

.pie-image img {
    width: 220px;
    margin: 0 auto;
    height: auto;
    display: block;
    margin-top: 15px;
}

.carousel-home h3 {
    font-size: 16px!important;
    text-align: center;
}

.carousel-home .location {
    text-align: center;
}
/*********************************************
    -   SETTINGS FOR BANNER CONTAINERS  -
**********************************************/

.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;

}

.tp-banner{
    width:100%;
    position:relative;
}

.tp-banner-fullscreen-container {
        width:100%;
        position:relative;
        padding:0;
}


/*
    Front page lakefront description ..
*/

.lakefront_description{
    padding : 10px 4px 20px 10px;

}

/*
    Property page marker style

**/

.propertymarker-inner {
    background: #fff;
    position: absolute;
    float: left;
    bottom: 10px;
    width:145px;
    left: -46px;

}

.root-propertymarker-inner {
    background: #fff;
    position: absolute;
    float: left;
    bottom: 10px;
    width:145px;
    height:200px;
    left: -46px;

}

.propertymarker-inner .title{
      line-height: 11px;

}
.propertymarker-inner .title a {
    text-overflow: ellipsis;
   overflow: hidden;
 /* white-space: nowrap; */
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 4px;

}
.propertymarker-inner .description {
  overflow: hidden;
  white-space: nowrap;
  line-height: 13px;
  margin: 4px;
}

/*
    Style for mobile screen
*/

@media (max-width: 340px) {

    body #wrapper-outer #wrapper {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    body.nav-open #wrapper-outer #wrapper {
        overflow-x: visible;
        overflow-y: hidden;
    }
    
    #header-wrapper {
        width: 320px;
    }
    .breadcrumb-wrapper {
        width: 320px;
        padding: 0 !important;
    }
    #content {
        width: 320px;
    }
    .container {
        width: 320px !important;
    }
    #content #main {
        padding: 0 !important;
    }
    .carousel-home ul li {
        width: 320px !important;
    }
    .bottom-wrapper {
        padding: 0px !important;
        margin: 0px;
    }
    #footer-wrapper #footer-top {
        width: 320px;
        padding: 4px;
    }
    body #wrapper-outer #wrapper #footer-wrapper {
        height: auto;
        padding: 0px !important;
        display: block;
        width: 320px !important;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #footer-wrapper #footer-top form input[type="text"], #footer-wrapper #footer-top form input[type="email"], #footer-wrapper #footer-top form textarea {
        width: 94%;
    }
    #footer-wrapper #footer-top form .form-actions .btn {
        margin-right: 22px;
    }
    .map-wrapper .map-inner, .contact-us-map, .breadcrumb, #property-map {
        display: block;
    }


}

@media (max-width: 380px) {
    body #wrapper-outer #wrapper {
    /*    overflow-x: hidden;*/
        overflow-y: hidden;
    }

    .container {
        width: 320px !important;
    }

    .carousel-home ul li {
        width: auto;
    }
    .map-wrapper .map-inner, .contact-us-map, .breadcrumb, #property-map {
        display: block;
    }

}

.properties-grid {
    padding-top:20px;

}
/*
    End styling

*/

/**
 Property page point of interest lists
**/

.ez-checkbox {
      height: 30px;
}
.subrelated li {
    clear:both;
}

.subrelated li .location_text {
  margin-left: 26px;
  display: block;
  line-height: 1.3em;
  /* margin-bottom: -8px; */
  word-spacing: 2px;
  /* float: right; */
  /* height: 36px; */
  text-align: initial;
  width: 100px;
  padding:4px;
}

.subrelated li .location_distance{
  margin-left: 26px;
  display: block;
  line-height: 1.3em;
  word-spacing: 2px;
  text-align: initial;
  width: 100px;
}

div.related-contents{
    overflow:hidden;
}

.root-marker-summary .title {
    padding : 5px;
    color : #06a7ea;
    font-weight : bold;
    display: block;
    line-height: 1.3em;
    margin-left: 7px;
    padding-top: 2px;
    text-align: initial;
    width: 100px;
    word-spacing: 2px;
}

.root-property-description {
    color: #606060;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-left: 5px;
    padding: 0px 4px;
    text-align: initial;
    width: 130px;
    word-spacing: 2px;
}

#pin-view .residential-marker {
    opacity: 0.9 !important;
}

/**
    Navigation color : changed
**/

.navigation-wrapper .navigation .nav li ul{
    background-color:#407d7e !important;
}
.container .navigation .nav {
   /*background-color:#12393E;*/
   background-color:#407d7e;
}

.container .navigation .nav li a {
    color : #fff !important;
}

.container .navigation .nav li a:hover, .container .navigation .nav li span:hover {
    background-color : #12393E; !important;
}
.container .navigation .nav li span{
    background-image: url("../img/arrow-bottom-white.png") !important;
    color : #fff !important;
}

#navigation {
     background-color:#407d7e;
}

.google-search .gsc-control-cse{
    background-color:#407d7e;
    border:0px;
}

/**Property details Rearrange*/

.property-detail .row {
    padding-top:20px;
}

/*** end property details rearrange **/


/*  Property details vendor list **/
.vendor-list h3.collapsed {
    background-position: 0.5em !important;
}
.vendor-list .accordion-heading {
    height: 60px;
}
.vendor-list .widget {
    margin-top : 0px;
}

.vendor-list .wrapper {
    margin-left:5px;
}


.video-thumb-container{
    position: relative;
    width: 100px;
    float:left;
    margin-right:8px;
}

.video-thumb-container img{
    width: 100px;
}

.video-thumb-container .play-icon{
    cursor: pointer;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

svg:hover #play-svg{
  fill: #CC181E;
}


.vendor-details .vendor-image {
    padding-top:10px;
    padding-bottom: 10px;
}
/*  End of vendor list **/

/**    Mailchmip newsletter form **/

.mailchimp-newsletterform {
    width:340px;
}

.mailchimp-newsletterform iframe h1 {
  border: 0px;
  color: #12393e !important;
  font-size: 27px;
  font-weight: 300;
  line-height: 40px;
  margin: 15px 0px;
  padding: 0px;
}

iframe h1 {
    font-size: 11px;
}



  
/*  End mailchimp newsletter form */


/* Ajax call preloader */

.related-contents #preloader {
    background-image: url("../img/icons/loading.gif") !important;
    background-repeat: no-repeat;    
    height:60px;
    background-position: center; 
}


/**  Property management page */
/*.bx-wrapper img {
    max-width: 94%!important;
}
*/
 @media only screen and (max-width: 670px)  {
  .bxslider li {
    left:-25px !important;
   }
   
   .manage-property {
    padding: 0 10px!important;
   }  

   .business-directory .span3 {
    width: 270px;

 } 

 }

 .manage-property h1{
    line-height: normal;
 }

.business-directory .span3 {
    width: 230px;

 }
