{% load staticfiles %}
<div class='widget our-agents'>
    <div class='title'>
        <h2>Our Agents</h2>
    </div><!-- /.title -->

    <div class='content'>
        <div itemscope itemtype='http://schema.org/RealEstateAgent' class='agent'>
            <div itemprop='image' class='image'>
                <img src="{% static 'img/photos/tristan-small.png' %}" alt=''>
            </div><!-- /.image -->
            <div itemprop='name' class='name'>Tristan Roberts</div><!-- /.name -->
            <div itemprop='telephone' class='phone'>530-580-8001</div><!-- /.phone -->
            <div class='email'><a itemprop='email' href='mailto:tristan@cblaketahoe.com'>tristan@cblaketahoe.com</a></div><!-- /.email -->
        </div><!-- /.agent -->
    </div><!-- /.content -->
</div><!-- /.our-agents -->
