{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
<div class='bg-white properties-rows'>
    {% with area=listing.C_Area %}
    <ul class='tabs nav nav-tabs' id='area-data'>        
        <li class='active'><a href='#area-statistics'>Statistics</a></li>
        <li><a href='#area-description'>Description</a></li>
        <li><a href='#area-recent-sales'>Recent Sales</a></li>
        <li><a href='#area-pending'>Pending</a></li>
        <li><a href='#area-price-reductions'>Price Reductions</a></li>
        <li><a href='#area-new-listings'>New Listings</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='area-statistics'>
            <p>{{ bt_area_statistics.content|safe }}</p>
        </div>
        <div class='tab-pane' id='area-description'>
            {{ area.description|default_if_none:'Not Available'|safe }}
        </div>        
        <div class='tab-pane' id='area-recent-sales'>
            <table class='table table-bordered table-striped' alt='{{ area }} Recent Sales Market Activity Statistics Data'>
                <thead>
                    <tr>
                        <th style='width: 150px;'>Sale Date</th>
                        <th>Sale Price</th>
                        <th class='hidden-phone'>B/B/G</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prop in area.recently_sold %}
                    <tr>
                        <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_CloseDate|date:'m/d/y' }}</a></td>
                        <td>&dollar;{{ prop.C_SoldPrice|intcomma }}</td>
                        <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                        <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='4'><center>No recently sold properties in this neighborhood.</center></td>
                    </tr>
                    {% endfor %}
                    {% if area.recently_sold %}
                    <tr>
                        <td colspan='4'><center><a href='{% url 'sold' %}?area={{ area.name|urlencode }}'>View more - Recent Sales - {{ area }}</a></center></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='tab-pane' id='area-pending'>
            <table class='table table-bordered table-striped' alt='{{ area }} Pending Market Activity Statistics Data'>
                <thead>
                    <tr>
                        <th style='width: 150px;'>List Date</th>
                        <th>Ask Price</th>
                        <th class='hidden-phone'>B/B/G</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prop in area.pending %}
                    <tr>
                        <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                        <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                        <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                        <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='4'><center>No pending properties in this neighborhood.</center></td>
                    </tr>
                    {% endfor %}
                    {% if area.pending %}
                    <tr>
                        <td colspan='4'><center><a href='{% url 'under_contract' %}?area={{ area.name|urlencode }}'>View more - Pending - {{ area }}</a></center></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='tab-pane' id='area-price-reductions'>
            <table class='table table-bordered table-striped' alt='{{ area }} New Listings Market Activity Statistics Data'>
                <thead>
                    <tr>
                        <th style='width: 150px;'>List Date</th>
                        <th>Ask Price</th>
                        <th class='hidden-phone'>B/B/G</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for listing in bt_price_reduced.listings.all %}
                    <tr>
                        <td><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_LstDate|date:'m/d/y' }}</a></td>
                        <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                        <td class='hidden-phone'>{% if listing.C_NoBeds == 'None' %}0{% else %}{{ listing.C_NoBeds }}{% endif %}/{% if listing.C_NoBaths1 == 'None' %}0{% else %}{{ listing.C_NoBaths1 }}{% endif %}/{% if listing.C_Garage == 'None' %}0{% else %}{{ listing.C_Garage }}{% endif %}</td>
                        <td>{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='4'><center>No price reduced properties in this neighborhood.</center></td>
                    </tr>
                    {% endfor %}
                    {% if area.price_reduced %}
                    <tr>
                        <td colspan='4'><center><a href='{% url 'price_reductions' %}?area={{ area.name|urlencode }}'>View more - Price Reductions - {{ area }}</a></center></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='tab-pane' id='area-new-listings'>
            <table class='table table-bordered table-striped' alt='{{ area }} New Listings Market Activity Statistics Data'>
                <thead>
                    <tr>
                        <th style='width: 150px;'>List Date</th>
                        <th>Ask Price</th>
                        <th class='hidden-phone'>B/B/G</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prop in area.new_listings %}
                    <tr>
                        <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                        <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                        <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                        <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='4'><center>No new properties in this neighborhood.</center></td>
                    </tr>
                    {% endfor %}
                    {% if area.new_listings %}
                    <tr>
                        <td colspan='4'><center><a href='{% url 'latest_listings' %}?area={{ area.name|urlencode }}'>View more - New Listings - {{ area }}</a></center></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endwith %}
</div><!-- /.properties-rows -->