{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% load mls_tags %}

<div class='widget properties last vendor-list'>
    <div class='title'>
        <h2>List of Vendors</h2>
    </div><!-- /.title -->
    <hr/>
    <div class='content'>
        <div class="accordion" id="accordion2">
        {% for business_type, vendors in vendor_list.items %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle location-type" data-toggle="collapse" data-parent="#accordion2" href="#acc{{ forloop.counter }}">
               <h3 class="collapsed">{{ business_type }}</h3>
              </a>
            </div>
            <div id="acc{{ forloop.counter }}" class="accordion-body collapse">
              <div class="accordion-inner">
                {% for vendor in vendors %}
                    <div class='property sidebar-property'>
                            {% if vendor.vendor_video_thumbnail  %}
                                <div class="video-thumb-container image">
                                    <img src='{{ MEDIA_URL }}{{ vendor.vendor_video_thumbnail }}' alt=''>
                                    <a title="Watch video" href='{% url "detailed_vendor" vendor.pk %}'></a>
                                    <div class="play-icon"><svg width="60" height="42" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g> <title>Watch Video</title> <g id="icomoon-ignore"/>
                                        <use x="5.397434" y="-68.326835" transform="matrix(0.15880563740596462,0,0,0.1590301359360811,-34.233496722840435,-44.6817534019825) " id="icon" xlink:href="#svg_1"/> <path id="svg_4" d="m24,8.380953l0.190475,22.761904l16.952381,-11.333332l-17.142857,-11.428572z" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="null" fill="#ffffff"/> <path id="relleno" d="m24.285713,8.666666l0,22.666666l17.238094,-11.523809l-17.238094,-11.142857z" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="null" fill="#ffffff"/> </g> <defs> <svg id="svg_1" viewBox="0 0 944 1024" height="1024" width="944" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="icomoon-ignore"/> <path id="play-svg" d="m589.426025,406.15799c0,-31.289978 -25.345032,-56.652985 -56.618042,-56.652985h-265.616974c-31.27301,0 -56.618011,25.359985 -56.618011,56.652985v151.894989c0,31.290039 25.345001,56.653015 56.618011,56.653015h265.616974c31.273987,0 56.618042,-25.361023 56.618042,-56.653015v-151.894989l0,0zm-227.311035,140.032013v-142.677002l108.192017,71.339996l-108.19101,71.339996l-0.001007,-0.002991z"/> </svg> </defs> </svg>    
                                    </div>
                                </div>    
                               <!--  <div class='image'>
                                    <a title="Watch video" href='{{ vendor.vendor_video_thumbnail }}'></a>
                                    <img src='{{ MEDIA_URL }}{{ vendor.vendor_video_thumbnail }}' alt=''>
                                </div><!-- /.image --> 
                            {% else %}
                                {% if vendor.vendor_image_thumbnail %}
                                    <div class='image'>
                                        <a href='{% url "detailed_vendor" vendor.pk %}'></a>
                                        <img src='{{ MEDIA_URL }}{{ vendor.vendor_image_thumbnail }}' alt=''>
                                    </div><!-- /.image -->
                                {% endif %}
                            {% endif %}                    
                            <div class='wrapper'>
                                <div class='title'>
                                    <h3>
                                        <a href='{% url "detailed_vendor" vendor.pk %}'>{{ vendor.name_of_organization }}</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class='location'>{{ vendor.phone }}</div><!-- /.location -->
                                {% if vendor.description %}
                                    <div class='location'>{{ vendor.description|safe|truncatechars:'40' }}</div>       
                                {% endif %}                        
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->
                    {% endfor %}
              </div>
            </div>
          </div>      
        {% endfor %}
    </div>
       
    </div><!-- /.content -->    
</div><!-- /.properties -->