{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}

{% block breadcrumbs %}
&raquo;
<li>Advanced Search</li>
{% endblock %}
{% block page_title %}Search all Lake Tahoe real estate listings{% endblock %}
{% block meta %}A custom website allows us to give you more options to search for Lake Tahoe real estate listings.  Active, pending, recent sales, you can search by even the smallest of subdivisions.  More data and a better resource for Truckee Tahoe real estate information.{% endblock %}
{% block container %}
<div class='row'>
    <div class='sidebar span3 pull-right advanced'>
        <h2>Property filter</h2>
        <div class='property-filter widget'>
            <div class='content'>
                <form method='get' action='/realestate/search'>

                    <div class='status-type control-group'>
                        <label class='control-label' for='inputPropertyStatus'>
                            Status
                        </label>
                        <div class='controls'>
                            <select id='inputStatusType' name='status' multiple='multiple' data-placeholder='Select Status'>
                                <option value='active' {% if 'active' in status_val %} selected='selected' {% endif %}>Active</option>
                                <option value='contingent' {% if 'contingent' in status_val %} selected='selected' {% endif %}>Under Contract</option>
                                <option value='sold' {% if 'sold' in status_val %} selected='selected' {% endif %}>Sold</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='property-type control-group'>
                        <label class='control-label' for='inputPropertyType'>
                            Property Type
                        </label>
                        <div class='controls'>
                            <select id='inputPropertyType' name='property_type' multiple='multiple' data-placeholder='Select Property Type'>
                                {% if 'All' in property_type_val %}
                                    <option selected='selected' value='All'>All</option>
                                {% else %}
                                    <option value='All'>All</option>
                                {% endif %}
                                {% for property_type in PROPERTY_TYPES %}
                                    {{ property_type.name }}
                                    {{ property_type_val }}
                                    {% if property_type.name in property_type_val %}
                                        <option selected='selected' value='{{ property_type.name }}'>{{ property_type.name }}</option>
                                    {% else %}
                                        <option value='{{ property_type.name }}'>{{ property_type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='communities control-group'>
                        <label class='control-label' for='inputCommunityTypeMultiple'>
                            Community
                        </label>
                        <div class='controls'>
                            <select id='inputCommunityTypeMultiple' name='community' multiple='multiple' data-placeholder='Select Community'>
                                {% if 'All' in community_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for community in COMMUNITIES %}
                                {% if community.name != 'None' and community.available_properties > 0 %}
                                {% if community.name in community_val %}
                                <option selected='selected' value='{{ community.name }}'>{{ community }}</option>
                                {% else %}
                                <option value='{{ community.name }}'>{{ community }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='subdivisions control-group'>
                        <label class='control-label' for='inputSubdivisionType'>
                            Subdivision
                        </label>
                        <div class='controls'>
                            <select id='inputSubdivisionType' name='area' multiple='multiple' data-placeholder='Select Subdivision'>
                                {% if 'All' == area_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for area in SUBDIVISIONS %}
                                {% if area_val == area.name %}
                                <option selected='selected' value='{{ area.name }}'>{{ area }}</option>
                                {% else %}
                                <option value='{{ area.name }}'>{{ area }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='beds control-group'>
                        <label class='control-label' for='inputBeds'>
                            Beds
                        </label>
                        <div class='controls'>
                            <select id='inputBeds' name='bedroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2' {% if '2' == bedroom_val %} selected='selected'{% endif %}>2+</option>
                                <option value='3' {% if '3' == bedroom_val %} selected='selected'{% endif %}>3+</option>
                                <option value='4' {% if '4' == bedroom_val %} selected='selected'{% endif %}>4+</option>
                                <option value='5' {% if '5' == bedroom_val %} selected='selected'{% endif %}>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='baths control-group'>
                        <label class='control-label' for='inputBaths'>
                            Baths
                        </label>
                        <div class='controls'>
                            <select id='inputBaths' name='bathroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2' {% if '2' == bathroom_val %} selected='selected'{% endif %}>2+</option>
                                <option value='3' {% if '3' == bathroom_val %} selected='selected'{% endif %}>3+</option>
                                <option value='4' {% if '4' == bathroom_val %} selected='selected'{% endif %}>4+</option>
                                <option value='5' {% if '5' == bathroom_val %} selected='selected'{% endif %}>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-min control-group'>
                        <label class='control-label' for='inputPriceMin'>
                            Minimum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemin' id='inputPriceMin'>
                                <option value='nomin'>No Min</option>
                                <option {% if price_range_min == '50000' %}selected='selected'{% endif %} value='50000'>50,000</option>
                                <option {% if price_range_min == '100000' %}selected='selected'{% endif %} value='100000'>100,000</option>
                                <option {% if price_range_min == '200000' %}selected='selected'{% endif %} value='200000'>200,000</option>
                                <option {% if price_range_min == '300000' %}selected='selected'{% endif %} value='300000'>300,000</option>
                                <option {% if price_range_min == '400000' %}selected='selected'{% endif %} value='400000'>400,000</option>
                                <option {% if price_range_min == '500000' %}selected='selected'{% endif %} value='500000'>500,000</option>
                                <option {% if price_range_min == '600000' %}selected='selected'{% endif %} value='600000'>600,000</option>
                                <option {% if price_range_min == '700000' %}selected='selected'{% endif %} value='700000'>700,000</option>
                                <option {% if price_range_min == '800000' %}selected='selected'{% endif %} value='800000'>800,000</option>
                                <option {% if price_range_min == '900000' %}selected='selected'{% endif %} value='900000'>900,000</option>
                                <option {% if price_range_min == '1000000' %}selected='selected'{% endif %} value='1000000'>1M</option>
                                <option {% if price_range_min == '1500000' %}selected='selected'{% endif %} value='1500000'>1.5M</option>
                                <option {% if price_range_min == '2000000' %}selected='selected'{% endif %} value='2000000'>2M</option>
                                <option {% if price_range_min == '2500000' %}selected='selected'{% endif %} value='2500000'>2.5M</option>
                                <option {% if price_range_min == '3000000' %}selected='selected'{% endif %} value='3000000'>3M</option>
                                <option {% if price_range_min == '4000000' %}selected='selected'{% endif %} value='4000000'>4M</option>
                                <option {% if price_range_min == '5000000' %}selected='selected'{% endif %} value='5000000'>5M</option>
                                <option {% if price_range_min == '6000000' %}selected='selected'{% endif %} value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-max control-group'>
                        <label class='control-label' for='inputPriceMax'>
                            Maximum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemax' id='inputPriceMax'>
                                <option value='nomax'>No Max</option>
                                <option {% if price_range_max == '50000' %}selected='selected'{% endif %} value='50000'>50,000</option>
                                <option {% if price_range_max == '100000' %}selected='selected'{% endif %} value='100000'>100,000</option>
                                <option {% if price_range_max == '200000' %}selected='selected'{% endif %} value='200000'>200,000</option>
                                <option {% if price_range_max == '300000' %}selected='selected'{% endif %} value='300000'>300,000</option>
                                <option {% if price_range_max == '400000' %}selected='selected'{% endif %} value='400000'>400,000</option>
                                <option {% if price_range_max == '500000' %}selected='selected'{% endif %} value='500000'>500,000</option>
                                <option {% if price_range_max == '600000' %}selected='selected'{% endif %} value='600000'>600,000</option>
                                <option {% if price_range_max == '700000' %}selected='selected'{% endif %} value='700000'>700,000</option>
                                <option {% if price_range_max == '800000' %}selected='selected'{% endif %} value='800000'>800,000</option>
                                <option {% if price_range_max == '900000' %}selected='selected'{% endif %} value='900000'>900,000</option>
                                <option {% if price_range_max == '1000000' %}selected='selected'{% endif %} value='1000000'>1M</option>
                                <option {% if price_range_max == '1500000' %}selected='selected'{% endif %} value='1500000'>1.5M</option>
                                <option {% if price_range_max == '2000000' %}selected='selected'{% endif %} value='2000000'>2M</option>
                                <option {% if price_range_max == '2500000' %}selected='selected'{% endif %} value='2500000'>2.5M</option>
                                <option {% if price_range_max == '3000000' %}selected='selected'{% endif %} value='3000000'>3M</option>
                                <option {% if price_range_max == '4000000' %}selected='selected'{% endif %} value='4000000'>4M</option>
                                <option {% if price_range_max == '5000000' %}selected='selected'{% endif %} value='5000000'>5M</option>
                                <option {% if price_range_max == '6000000' %}selected='selected'{% endif %} value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='settings control-group'>
                        <label class='control-label' for='inputSettingTypeChange'>
                            Setting
                        </label>
                        <div class='controls'>
                            <select id='inputSettingTypeChange' name='setting'>
                                {% if 'All' in setting_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for set in SETTINGS %}
                                {% if set.name != 'None' %}
                                {% if set.name in setting_val %}
                                <option selected='selected' value='{{ set.name }}'>{{ set }}</option>
                                {% else %}
                                <option value='{{ set.name }}'>{{ set }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='hoa-amenities control-group'>
                        <label class='control-label' for='inputHoaAmenities'>
                            HOA Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputHoaAmenities' name='hoa_amenities' multiple='multiple' data-placeholder='Select HOA Amenities'>
                                {% if 'All' in hoa_amenities_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for hoa in HOA_AMENITIES %}
                                {% if hoa.name != 'None' %}
                                {% if hoa.name in hoa_amenities_val %}
                                <option selected='selected' value='{{ hoa.name }}'>{{ hoa }}</option>
                                {% else %}
                                <option value='{{ hoa.name }}'>{{ hoa }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='waterfront-amenities control-group'>
                        <label class='control-label' for='inputWaterfrontAmenities'>
                            WaterFront Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputWaterfrontAmenities' name='waterfront_amenities' data-placeholder='Select Waterfront Amenities' multiple='multiple'>
                                {% if 'All' in waterfront_amenities_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for waterfront in WATERFRONT_AMENITIES %}
                                {% if waterfront.name != 'None' %}
                                {% if waterfront.name in waterfront_amenities_val %}
                                <option selected='selected' value='{{ waterfront.name }}'>{{ waterfront }}</option>
                                {% else %}
                                <option value='{{ waterfront.name }}'>{{ waterfront }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='view control-group'>
                        <label class='control-label' for='inputView'>
                            Views
                        </label>
                        <div class='controls'>
                            <select id='inputView' multiple='multiple' name='views' data-placeholder='Select Views'>
                                {% if 'All' in views_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for view in VIEWS %}
                                {% if view.name != 'None' %}
                                {% if view.name in views_val %}
                                 <option selected='selected' value='{{ view.name }}'>{{ view }}</option>
                                {% else %}
                                <option value='{{ view.name }}'>{{ view }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='acreage control-group'>
                        <label class='control-label' for='inputAcreage'>
                            Acreage
                        </label>
                        <div class='controls'>
                            <select id='inputAcreage' name='acreage'>
                                {% if 'All' in acreage_val %}
                                <option selected='selected' value='Any'>Any</option>
                                {% else %}
                                <option value='Any'>Any</option>
                                {% endif %}
                                <option {% if acreage_val == '0.5' %}selected='selected'{% endif %}value='0.5'>0.5+</option>
                                <option {% if acreage_val == '1' %}selected='selected'{% endif %}value='1'>1+</option>
                                <option {% if acreage_val == '2' %}selected='selected'{% endif %}value='2'>2+</option>
                                <option {% if acreage_val == '5' %}selected='selected'{% endif %}value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='mls control-group'>
                        <label class='control-label' for='inputKeyword'>
                            Keyword (MLS or Address)
                        </label>
                        <div class='controls'>
                            <input id='inputKeyword' name='keyword' type='text' value='{{ keyword_val }}'>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='form-actions'>
                        <input type='submit' value='Filter now!' class='btn btn-primary btn-large'>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.property-filter -->
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}
    </div><!-- end sidebar  -->

    <div class='span9 advanced-search'>
        <h1 class='page-header'>Advanced Search (Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results)</h1>
        <script type='text/javascript'>
            jQuery(document).ready(function ($) {
                var map_details = create_map_details('.map-details');
                var map = $('#property-map').aviators_map({
                    locations: map_details.locations,
                    contents: map_details.contents,
                    transparentMarkerImage : "{% static 'img/marker-transparent.png' %}",
                    transparentClusterImage: "{% static 'img/cluster-transparent.png' %}",
                    zoom                   : 9,
                    center                 : {
                        latitude : 39.11100,
                        longitude: -120.05012,
                    },
                    filterForm             : '.map-filtering',
                    enableGeolocation      : ''
                });
            });
        </script>
        <div id='property-map'></div><!-- /#property-map -->

        <h1 class='page-header'></h1>
        <div class='properties-rows'>
            <div class='row'>
                {% for listing in listings.object_list %}
                {% if listing.C_Address %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{{ listing.object.get_detailed_property_url }}'></a>
                                <img src='{{ listing.object.get_thumbnail_270 }}' alt=''>
                                <div class='hidden-price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{{ listing.object.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                                </div><!-- /.title -->

                                <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.title -->

                            <div class='location'>
                                <span itemprop="addressLocality">{{ listing.object.address_location }}</span>
                            </div><!-- /.location -->
                            <p>{{ listing.C_Remarks|default_if_none:'Not Available'|safe|truncatechars:'220' }}</p>
                            <div class='area'>
                                <div class='content'>
                                    {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                                </div>
                            </div><!-- /.area -->
                            <div class='bedrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bedrooms -->
                            <div class='bathrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bathrooms -->

                            <div class='map-details active' style='display:none'>
                                <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                                <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                                <meta name='address' content='{{ listing.C_Address }}'>
                                <meta name='address_location' content='{{ address_location }}'>
                                <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                                <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                                <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                                <meta name='image' content='{{ listing.object.get_thumbnail_100 }}'>
                                <meta name='community' content='{{ listing.C_Community }}'>
                                <meta name='lat' content='{{ listing.C_GeoLat }}'>
                                <meta name='lng' content='{{ listing.C_GeoLong }}'>
                            </div>
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div><!-- /.row -->
                {% endif %}
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No properties matching your query.</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-rows -->
        {% with page_numbers=listings.paginator.num_pages|custom_paginator:listings.number %}
        <div class='pagination pagination-centered'>
            <ul>
            {% if listings.has_previous %}
                <li><a href='?page={{ listings.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='prev'>&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
            {% endif %}

            {% if 1 not in page_numbers %}
                <li class='hidden-phone'><a href='?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>1</a></li>
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
            {% endif %}

            {% for page in page_numbers %}
                {% ifequal page listings.number %}
                    <li class='current page active'><a href='#'>{{ page }}</a></li>
                {% else %}
                    <li><a href='?page={{ page }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if listings.paginator.num_pages not in page_numbers %}
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
                <li class='hidden-phone'><a href='?page={{ listings.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ listings.paginator.num_pages }}</a></li>
            {% endif %}

            {% if listings.has_next %}
                <li><a href='?page={{ listings.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='next'>&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
            {% endif %}
            </ul>
        </div><!-- /.pagination -->
        {% endwith %}
    </div> <!-- end advanced-search -->

   <!--  <div class='clearfix'></div> -->
</div><!-- end row-->
{% endblock %}

{% block js %}
{{ block.super }}
<!-- Note: adding variables from django template in jquery results in a different hex digest for every request,
    thus a compression related error; we should create a uniform and neater way to handle variables from django to JS-->
<script type="text/javascript">var query_json = {{ query_json|safe }};</script>
{% compress js %}
<script type='text/javascript' src="{% static 'custom-js/community.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("option[value='None']").remove();
        var price_min = $("#price_range_min_value").text();
        var price_max = $("#price_range_max_value").text();
        var max_selector = "select#inputPriceMax option[value="+ price_max +"]";
        var min_selector = "select#inputPriceMin option[value="+ price_min +"]";
        $(max_selector).prop('selected', 'selected')
        $(min_selector).prop('selected', 'selected')
        $(max_selector).trigger('liszt:updated');
        $(min_selector).trigger('liszt:updated');

        $.each(query_json, function(key, value){
            selectSelected(value, "select[name='"+key+"']");
        });

    });

    function selectSelected(selected_array, select_field){
        $.each(selected_array, function(index, value){
            $( select_field + " option[value='"+value+"']").prop('selected', 'selected');
        });
        $(select_field).trigger('liszt:updated');
    }
</script>
{% endcompress %}
{% endblock %}
