{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li><a href='{% url 'realestate_communities' %}'>Communities</a></li> &raquo;
<li>{{ community }}</li>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>{{ community }} Real Estate Listings</h1>
        <script type='text/javascript'>
            jQuery(document).ready(function ($) {

                var map_details = create_map_details('.map-details');

                console.log(map_details);

                var map = $('#property-map').aviators_map({
                    locations: map_details.locations,
                    contents: map_details.contents,
                    transparentMarkerImage : "{% static 'img/marker-transparent.png' %}",
                    transparentClusterImage: "{% static 'img/cluster-transparent.png' %}",
                    zoom                   : 9,
                    center                 : {
                        latitude : 39.11100,
                        longitude: -120.05012,
                    },
                    filterForm             : '.map-filtering',
                    enableGeolocation      : ''
                });
            });
        </script>

        <h2 class='page-header'>Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</h2>
        <div id='property-map'></div><!-- /#property-map -->
        <div class='bg-white properties-rows'>
            <ul class='tabs nav nav-tabs' id='community-data'>
                <li class='active'><a href='#statistics'>Statistics</a></li>
                <li><a href='#description'>Description</a></li>
                <li><a href='#recent-sales'>Recent Sales</a></li>
                <li><a href='#pending'>Pending</a></li>
                <li><a href='#price-reductions'>Price Reductions</a></li>
                <li><a href='#new-listings'>New Listings</a></li>
            </ul>
            <div class='tab-content'>
                <div class='tab-pane active' id='statistics'>
                    <p>{{ bt_statistics.content|safe }}</p>
                    {% comment %}Currently there are {{ community.available_properties }} properties for sale in {{ community }}.  Properties range in asking price from ${{ community.statistics_data.prices.C_AskPrice__min|floatformat:'0'|intcomma }} - ${{ community.statistics_data.prices.C_AskPrice__max|floatformat:'0'|intcomma }} with an average asking price of ${{ community.statistics_data.prices.C_AskPrice__avg|floatformat:'0'|intcomma }} and a median asking price of ${{ community.statistics_data.median_price|floatformat:'0'|intcomma }}.  Price per square foot ranges from ${{ community.statistics_data.min_price_per_sqr_feet|intcomma }}/Sq Ft - ${{ community.statistics_data.max_price_per_sqr_feet|intcomma }}/Sq Ft.  On average these {{ community.available_properties }} properties have been on the market for {{ community.statistics_data.avg_market_days|floatformat:'0'|intcomma }} days.  {{ community.statistics_data.price_change_count }} of these properties have reduced their asking price with the average reduction being ${{ community.statistics_data.price_change_avg|floatformat:'0'|intcomma }}.  {{ community.statistics_data.distressed_sales }} of the properties are distressed sales (either REO bank owned or Short Sale).  In the past 180 days, {{ community.statistics_data.sold_properties_count }} properties have sold in {{ community }}.  Sales prices during this time period ranged from ${{ community.statistics_data.sold_properties_prices.C_AskPrice__min|default_if_none:0|floatformat:'0'|intcomma }} - ${{ community.statistics_data.sold_properties_prices.C_AskPrice__max|default_if_none:0|floatformat:'0'|intcomma }}.  On average these properties were on the market for {{ community.statistics_data.avg_sold_market_days|floatformat:'0'|intcomma }} days and final sales prices were on average {{ community.statistics_data.sold_price_percentage|floatformat:'2'|intcomma }}% of the original listing price. {{ community.statistics_data.cash_sales|floatformat:'0'|intcomma }}% of the sales were reported as cash sales.{% endcomment %}
                </div>
                <div class='tab-pane' id='description'>
                    {{ community.description|default_if_none:'Not Available'|safe }}
                </div>                
                <div class='tab-pane' id='recent-sales'>
                    <table class='table table-bordered table-striped' alt='{{ community }} Recent Sales Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>Sale Date</th>
                                <th>Sale Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in community.recently_sold %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_CloseDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_SoldPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No recently sold properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if sold_properties %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'sold' %}?community={{ community.name|urlencode }}'>View more - Recent Sales - {{ community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='pending'>
                    <table class='table table-bordered table-striped' alt='{{ community }} Pending Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in community.pending %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No pending properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if community.pending %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'under_contract' %}?community={{ community.name|urlencode }}'>View more - Pending - {{ community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='price-reductions'>
                    <table class='table table-bordered table-striped' alt='{{ community }} New Listings Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for listing in bt_price_reduced.listings.all %}
                            <tr>
                                <td><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if listing.C_NoBeds == 'None' %}0{% else %}{{ listing.C_NoBeds }}{% endif %}/{% if listing.C_NoBaths1 == 'None' %}0{% else %}{{ listing.C_NoBaths1 }}{% endif %}/{% if listing.C_Garage == 'None' %}0{% else %}{{ listing.C_Garage }}{% endif %}</td>
                                <td>{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No price reduced properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if community.price_reduced %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'price_reductions' %}?community={{ community.name|urlencode }}'>View more - Price Reductions - {{ community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='new-listings'>
                    <table class='table table-bordered table-striped' alt='{{ community }} New Listings Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in community.new_listings %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No new properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if community.new_listings %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'latest_listings' %}?community={{ community.name|urlencode }}'>View more - New Listings - {{ community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.properties-rows -->
        <!--<h2 class='page-header'>Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</h2>-->
        <div class='properties-grid'>
            <div class='row'>
                {% for listing in properties %}
                {% with address_location=listing.object.address_location property_url=listing.object.get_detailed_property_url %}
                <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property span3'>
                    <div class='image'>
                        <div class='content'>
                            <a href='{{ property_url }}'></a>
                            <img src='{{ listing.object.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.content -->

                        <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}
                            <p class='list-date'>List Date: {{ listing.C_LstDate|date:"M d, Y"}}</p>
                        </div><!-- /.price -->
                    </div><!-- /.image -->

                    <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                        <div class='title'>
                            <h2 itemprop='streetAddress'><a href='{{ property_url }}'>{{ listing.C_Address|truncatechars:'25' }}</a></h2>
                        </div><!-- /.title -->

                        <div class='location'>
                            <span itemprop='addressLocality'>{{ address_location }}</span>
                        </div><!-- /.location -->
                    </span>
                    <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                        <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                        <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                    </span>
                    <div class='area'>
                        <div class='content'>
                            {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                        </div>
                    </div><!-- /.area -->
                    <div class='bathrooms'>
                        <div class='content'>
                            {% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                        </div>
                    </div><!-- /.bathrooms -->
                    <div class='bedrooms'>
                        <div class='content'>
                            {% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                        </div>
                    </div><!-- /.bedrooms -->

                    <div class='map-details active' style='display:none'>
                        <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                        <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                        <meta name='address' content='{{ listing.C_Address }}'>
                        <meta name='address_location' content='{{ address_location }}'>
                        <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                        <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                        <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                        <meta name='image' content='{{ listing.object.get_thumbnail_100 }}'>
                        <meta name='community' content='{{ listing.C_Community }}'>
                        <meta name='lat' content='{{ listing.C_GeoLat }}'>
                        <meta name='lng' content='{{ listing.C_GeoLong }}'>
                    </div>

                </div><!-- /.property -->
                {% endwith %}
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No active listings for {{ community.name|title }}.</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-grid -->
        {% with page_numbers=properties.paginator.num_pages|custom_paginator:properties.number %}
        <div class='pagination pagination-centered'>
            <ul>
            {% if properties.has_previous %}
                <li><a href='?page={{ properties.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='prev'>&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
            {% endif %}

            {% if 1 not in page_numbers %}
                <li class='hidden-phone'><a href='?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>1</a></li>
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
            {% endif %}

            {% for page in page_numbers %}
                {% ifequal page properties.number %}
                    <li class='current page active'><a href='#'>{{ page }}</a></li>
                {% else %}
                    <li><a href='?page={{ page }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if properties.paginator.num_pages not in page_numbers %}
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
                <li class='hidden-phone'><a href='?page={{ properties.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ properties.paginator.num_pages }}</a></li>
            {% endif %}

            {% if properties.has_next %}
                <li><a href='?page={{ properties.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='next'>&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
            {% endif %}
            </ul>
        </div><!-- /.pagination -->
        {% endwith %}
    </div>

    <div class='sidebar span3'>
        <h2>Property filter</h2>
        <div class='property-filter widget'>
            <div class='content'>
                <form method='get' action='/realestate/{{ community.slug }}'>
                    <div class='community-type control-group'>
                        <label class='control-label' for='inputCommunityTypeChange'>
                            Community
                        </label>
                        <div class='controls'>
                            <select id='inputCommunityTypeChange' name='community'>
                                {% for community in COMMUNITIES %}
                                {% if community.name != 'None' and community.available_properties > 0 %}
                                {% if community.name in community_val %}
                                <option selected='selected' value='{{ community.get_absolute_url }}'>{{ community }}</option>
                                {% else %}
                                <option value='{{ community.get_absolute_url }}'>{{ community }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                     <div class='status-type control-group'>
                        <label class='control-label' for='inputPropertyStatus'>
                            Status
                        </label>
                        <div class='controls'>
                            <select id='inputStatusType' name='status' multiple='multiple' data-placeholder='Select Status'>
                                <option value='active' {% if 'active' in status_val %} selected='selected' {% endif %}>Active</option>
                                <option value='contingent' {% if 'contingent' in status_val %} selected='selected' {% endif %}>Under Contract</option>
                                <option value='sold' {% if 'sold' in status_val %} selected='selected' {% endif %}>Sold</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='clearfix'></div>

                    <div class='property-type control-group'>
                        <label class='control-label' for='inputPropertyType'>
                            Property Type
                        </label>
                        <div class='controls'>
                            <select id='inputPropertyType' name='property_type' data-placeholder='Select Property Type' multiple='multiple'>
                                {% if 'All' in property_type_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for property_type in PROPERTY_TYPES %}
                                {% if property_type.name in property_type_val %}
                                <option selected='selected' value='{{ property_type.name }}'>{{ property_type.name }}</option>
                                {% else %}
                                <option value='{{ property_type.name }}'>{{ property_type.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='subdivision-type control-group'>
                        <label class='control-label' for='inputSubdivisionType'>
                            Subdivision
                        </label>
                        <div class='controls'>
                            <select id='inputSubdivisionType' data-placeholder='Select Subdivision' name='area' multiple='multiple'>
                                {% if 'All' == area_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for area in community.area.all %}
                                {% if area.name in area_val and area.name != 'None' %}
                                <option selected='selected' value='{{ area.name }}'>{{ area }}</option>
                                {% else %}
                                <option value='{{ area.name }}'>{{ area }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='beds control-group'>
                        <label class='control-label' for='inputBeds'>
                            Beds
                        </label>
                        <div class='controls'>
                            <select id='inputBeds' name='bedroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2' {% if '2' == bedroom_val %} selected='selected'{% endif %}>2+</option>
                                <option value='3' {% if '3' == bedroom_val %} selected='selected'{% endif %}>3+</option>
                                <option value='4' {% if '4' == bedroom_val %} selected='selected'{% endif %}>4+</option>
                                <option value='5' {% if '5' == bedroom_val %} selected='selected'{% endif %}>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='baths control-group'>
                        <label class='control-label' for='inputBaths'>
                            Baths
                        </label>
                        <div class='controls'>
                            <select id='inputBaths' name='bathroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2' {% if '2' == bathroom_val %} selected='selected'{% endif %}>2+</option>
                                <option value='3' {% if '3' == bathroom_val %} selected='selected'{% endif %}>3+</option>
                                <option value='4' {% if '4' == bathroom_val %} selected='selected'{% endif %}>4+</option>
                                <option value='5' {% if '5' == bathroom_val %} selected='selected'{% endif %}>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-min control-group'>
                        <label class='control-label' for='inputPriceMin'>
                            Minimum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemin' id='inputPriceMin'>
                                <option value='nomin'>No Min</option>
                                <option {% if price_range_min == '50000' %}selected='selected'{% endif %} value='50000'>50,000</option>
                                <option {% if price_range_min == '100000' %}selected='selected'{% endif %} value='100000'>100,000</option>
                                <option {% if price_range_min == '200000' %}selected='selected'{% endif %} value='200000'>200,000</option>
                                <option {% if price_range_min == '300000' %}selected='selected'{% endif %} value='300000'>300,000</option>
                                <option {% if price_range_min == '400000' %}selected='selected'{% endif %} value='400000'>400,000</option>
                                <option {% if price_range_min == '500000' %}selected='selected'{% endif %} value='500000'>500,000</option>
                                <option {% if price_range_min == '600000' %}selected='selected'{% endif %} value='600000'>600,000</option>
                                <option {% if price_range_min == '700000' %}selected='selected'{% endif %} value='700000'>700,000</option>
                                <option {% if price_range_min == '800000' %}selected='selected'{% endif %} value='800000'>800,000</option>
                                <option {% if price_range_min == '900000' %}selected='selected'{% endif %} value='900000'>900,000</option>
                                <option {% if price_range_min == '1000000' %}selected='selected'{% endif %} value='1000000'>1M</option>
                                <option {% if price_range_min == '1500000' %}selected='selected'{% endif %} value='1500000'>1.5M</option>
                                <option {% if price_range_min == '2000000' %}selected='selected'{% endif %} value='2000000'>2M</option>
                                <option {% if price_range_min == '2500000' %}selected='selected'{% endif %} value='2500000'>2.5M</option>
                                <option {% if price_range_min == '3000000' %}selected='selected'{% endif %} value='3000000'>3M</option>
                                <option {% if price_range_min == '4000000' %}selected='selected'{% endif %} value='4000000'>4M</option>
                                <option {% if price_range_min == '5000000' %}selected='selected'{% endif %} value='5000000'>5M</option>
                                <option {% if price_range_min == '6000000' %}selected='selected'{% endif %} value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-max control-group'>
                        <label class='control-label' for='inputPriceMax'>
                            Maximum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemax' id='inputPriceMax'>
                                <option value='nomax'>No Max</option>
                                <option {% if price_range_max == '50000' %}selected='selected'{% endif %} value='50000'>50,000</option>
                                <option {% if price_range_max == '100000' %}selected='selected'{% endif %} value='100000'>100,000</option>
                                <option {% if price_range_max == '200000' %}selected='selected'{% endif %} value='200000'>200,000</option>
                                <option {% if price_range_max == '300000' %}selected='selected'{% endif %} value='300000'>300,000</option>
                                <option {% if price_range_max == '400000' %}selected='selected'{% endif %} value='400000'>400,000</option>
                                <option {% if price_range_max == '500000' %}selected='selected'{% endif %} value='500000'>500,000</option>
                                <option {% if price_range_max == '600000' %}selected='selected'{% endif %} value='600000'>600,000</option>
                                <option {% if price_range_max == '700000' %}selected='selected'{% endif %} value='700000'>700,000</option>
                                <option {% if price_range_max == '800000' %}selected='selected'{% endif %} value='800000'>800,000</option>
                                <option {% if price_range_max == '900000' %}selected='selected'{% endif %} value='900000'>900,000</option>
                                <option {% if price_range_max == '1000000' %}selected='selected'{% endif %} value='1000000'>1M</option>
                                <option {% if price_range_max == '1500000' %}selected='selected'{% endif %} value='1500000'>1.5M</option>
                                <option {% if price_range_max == '2000000' %}selected='selected'{% endif %} value='2000000'>2M</option>
                                <option {% if price_range_max == '2500000' %}selected='selected'{% endif %} value='2500000'>2.5M</option>
                                <option {% if price_range_max == '3000000' %}selected='selected'{% endif %} value='3000000'>3M</option>
                                <option {% if price_range_max == '4000000' %}selected='selected'{% endif %} value='4000000'>4M</option>
                                <option {% if price_range_max == '5000000' %}selected='selected'{% endif %} value='5000000'>5M</option>
                                <option {% if price_range_max == '6000000' %}selected='selected'{% endif %} value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='form-actions'>
                        <input type='submit' value='Filter now!' class='btn btn-primary btn-large'>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.property-filter -->
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}
        {% if vendor_list %}
            {% include "includes/vendor_list.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type='text/javascript' src="{% static 'custom-js/community.js' %}"></script>
{% endcompress %}
{% endblock %}
