{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Communities</li>
{% endblock %}
{% block page_title %}Lake Tahoe Communities and active real estate listings{% endblock %}
{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Communities</h1>
        <div class='properties-rows'>
            <div class='row'>
                {% for community in places %}
                {% if community.name != 'None' %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{{ community.get_absolute_url }}'></a>
                                {% if community.image %}
                                <img src='{{ community.image.url }}' alt=''>
                                {% else %}
                                <img src="{% static 'img/tmp/property-small-1.png' %}" alt=''>
                                {% endif %}
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{{ community.get_absolute_url }}'>{{ community.name|title }}</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>{{ community.available_property }} properties for sale</div><!-- /.location -->
                            <p>{{ community.description|default_if_none:"Not Available"|truncatehtml:350|safe }}&nbsp;<a href='{{ community.get_absolute_url }}'>Read More</a></p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->
                {% endif %}
                {% endfor %}
            </div><!-- /.row -->
        </div>
        {% with page_numbers=places.paginator.num_pages|custom_paginator:places.number %}
        <div class='pagination pagination-centered'>
            <ul>
            {% if places.has_previous %}
                <li><a href='?page={{ places.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='prev'>&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
            {% endif %}

            {% if 1 not in page_numbers %}
                <li class='hidden-phone'><a href='?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>1</a></li>
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
            {% endif %}

            {% for page in page_numbers %}
                {% ifequal page places.number %}
                    <li class='current page active'><a href='#'>{{ page }}</a></li>
                {% else %}
                    <li><a href='?page={{ page }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if places.paginator.num_pages not in page_numbers %}
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
                <li class='hidden-phone'><a href='?page={{ places.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ places.paginator.num_pages }}</a></li>
            {% endif %}

            {% if places.has_next %}
                <li><a href='?page={{ places.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='next'>&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
            {% endif %}
            </ul>
        </div><!-- /.pagination -->
        {% endwith %}

    </div> <!-- /.span9-->

    <div class='sidebar span3'>
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}

        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2>Other Properties</h2>
                </div><!-- /.title -->
                <div class='content'>
                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='lakefronts'>

                            </div><!-- /.lastest-listings -->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'view_setting' setting_slug='lakefront' %}">Lakefronts</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class=' latest-listings'>

                            </div><!-- /.lastest-listings -->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'latest_listings' %}">Latest Listings</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='price-reduced'>

                            </div><!-- /.price-reduced-->
                        </div>
                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href='{% url 'price_reductions' %}'>Price Reduced</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='neighborhood'>

                            </div><!-- /.neighborhood-->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'realestate_neighborhood' %}">Neighborhood</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!--/.hidden-tablet-->
    </div><!--/.sidebar-->

</div>
{% endblock container %}
