{% extends 'base.html' %}
{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}


{% block breadcrumbs %}
&raquo;
<li>Vendor details</li>
{% endblock %}

{% block container %}
	<div class='row vendor-details'>
	    <div class='span9'>
	        <h1 class='page-header'>Vendor - {{ vendor.name_of_organization }} </h1>
	        {% block blog_content %}
	        <div class='properties-rows'>
	            <div class='row'>
	                 <div class='property span9'>
	                    <div class='row'>
	                        <div class='body span8 margin-left10'>
	                            <div class='title-price row'>
	                                <div class='title span7'>
	                                    <h2><a href='{% url "detailed_vendor" vendor.pk %}'>{{ vendor.name_of_organization }}</a></h2>
	                                </div><!-- /.title -->
	                                <div class='price'>
	                                	{{ vendor.phone }}
	                                </div><!-- /.price -->	    
	                                <div class='vendor-address'>                             
	                                	<p>{{ vendor.address|safe }}</p>
	                                </div><!-- /.price -->	                            
	                            </div><!-- /.title -->
								<div class='location'>&nbsp;</div><!-- /.location -->
								{% if vendor.vendor_image %}							
									<p>                               
		                                <img src='{{ MEDIA_URL }}{{ vendor.vendor_image }}' alt=''>
		                            </p>
								{% endif %}
								{% if vendor.vendor_video %}
									<div class="vendor-video">
										
									</div>									
								{% endif %}	                            
	                            {% if vendor.description %}
	                            	<p>{{ vendor.description|safe }}</p>
	                            {% endif %}
	                        </div><!-- /.body -->
	                    </div><!-- /.property -->
	                </div>
	            </div>
	        </div>
	        {% endblock %}
	    </div><!-- /.span9 -->
	    <div class='sidebar span3'>
	    
	    </div><!-- /.span3 -->
	</div><!-- /.row -->
{% endblock %}
