{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li><a href='{{ listing.C_Community.get_absolute_url }}'>{{ listing.C_Community }}</a></li> &raquo;
<li><a href='{{ listing.C_Area.get_absolute_url }}'>{{ listing.C_Area }}</a></li> &raquo;
<li>{{ listing.get_property_full_address }}</li>
{% endblock %}

{% block container %}
<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1&appId=280358962131891';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(document).ready(function(){
// $("img.lazyload").each(function() {
//         $(this).attr("src", $(this).data("original"));
//     });
    $("img.lazyload").lazyload();
   


});


</script>

<div class='row'>
    <div class='span9 property-view'>
        <h1 class='page-header'>{{ listing.get_property_full_address }}</h1>
        <div class='property-detail'>
            <h2>Property Details</h2>
            <span itemscope itemtype='http://schema.org/SingleFamilyResidence'>
                <ul class='tabs nav nav-tabs' id='detailsTab'>
                    <li class="active"><a href='#pin-view'>Map</a></li>
                    <li><a href='#street-view' data-toggle="tab">Street View</a></li>
                    <li><a href='#location'>Location</a></li>
                    <li><a href='#hoa-amenities'>HOA</a></li>
                    <li><a href='#waterfront-amenities'>Waterfront</a></li>
                </ul>

                <div class='tab-content'>
                    <div class='tab-pane active' id='pin-view'>
                            <div style="display:none">
                                <input class="sitecontent-token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            </div>
                            <div class='span2 related-contents'>
                                <div id="preloader"></div>
                            </div>
                            <div class='span6 related-prop-map'>
                                <script>
                                    var property_location = {{ prop_loc|safe  }};
                                    var rootProperty = "{{ listing.C_Address }}";
                                </script>
                                <div id='property-map'></div><!-- /#property-map -->
                            </div>
                    </div>
                    <div class='tab-pane' id='street-view'>
                        <div id='map-panorama'></div>
                        <div id='nopanorama' style='display:none'>
                            <center><h3>No Street View Available</h3></center>
                        </div>
                    </div>
                    <div class='tab-pane' id='location'>
                        <table class='table table-bordered table-striped' itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                            <tbody>
                                <tr>
                                    <td>Address</td>
                                    <td itemprop='streetAddress'>{{ listing.C_Address|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <td>Lot Number</td>
                                    <td>{{ listing.C_LotNo|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <td>Topography</td>
                                    <td>{{ listing.C_TOPOGRAPHY|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% if listing.C_Address2 %}
                                <tr>
                                    <td>Address 2</td>
                                    <td>{{ listing.C_Address2|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% endif %}
                                {% if listing.C_Area.name != 'OUT OF THE AREA' %}
                                <tr>
                                    <td>Subdivision</td>
                                    <td>{{ listing.C_Area|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>City</td>
                                    <td>{{ listing.C_City|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% if listing.C_Community.name != 'SurroundingArea'%}
                                <tr>
                                    <td>Community</td>
                                    <td itemprop='addressLocality'>{{ listing.C_Community|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% endif %}
                                {% if listing.C_County != 'Other' %}
                                <tr>
                                    <td>County</td>
                                    <td>{{ listing.C_County|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>State</td>
                                    <td itemprop='addressRegion'>{{ listing.C_State|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <td>Zip Code</td>
                                    <td itemprop='postalCode'>{{ listing.ZipCode|default_if_none:'Not Available' }}</td>
                                </tr>
                            <tr>
                                <td>GPS</td>
                                <td>{{ listing.C_GeoLat }}, {{ listing.C_GeoLong }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                            <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                            <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                        </span>
                    </div>
                    <div class='tab-pane' id='hoa-amenities'>
                        <div class='row'>
                            <ul class='span2'>
                                {% for hoa in HOA_AMENITIES %}
                                <li class='{% if hoa.name in hoa_amenities %}checked{% else %}plain{% endif %}'>{{ hoa }}</li>
                                {% if forloop.counter|divisibleby:4 %}
                                </ul>
                                <ul class='span2'>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class='tab-pane' id='waterfront-amenities'>
                        <div class='row'>
                            <ul class='span2'>
                                {% for waterfront in WATERFRONT_AMENITIES %}
                                <li class='{% if waterfront.name in waterfront_amenities %}checked{% else %}plain{% endif %}'>{{ waterfront }}</li>
                                {% if forloop.counter|divisibleby:4 %}
                                </ul>
                                <ul class='span2'>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </span><!-- end span #residence-->
            <div class="row">
                <div class='pull-left overview'>
                    <div class='row'>
                        <div class='span3'>
                            <h2>Overview</h2>

                            <table itemscope itemtype='http://schema.org/Offer'>
                                <tr>
                                    <th>MLS No.</th>
                                    <td>{{ listing.C_MLSNo }}</td>
                                </tr>
                                <tr>
                                    {% if listing.C_Status.name == 'SOLD' %}
                                    <th>Sold Price:</th>
                                    <th itemprop='price'>${{ listing.C_SoldPrice|intcomma }}</th>
                                    {% else %}
                                    <th>Price:</th>
                                    <td itemprop='price'>${{ listing.C_AskPrice|intcomma }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Status:</th>
                                    <td>{{ listing.C_Status.name|lower|capfirst }}</td>
                                </tr>
                                <tr>
                                    {% if listing.C_Status.name == 'SOLD' %}
                                    <th>Sold:</th>
                                    <td>{{listing.C_CloseDate|date:"n/d/o"|default_if_none:'Not Available'}}</td>
                                    {% else %}
                                    <th>List Date:</th>
                                    <td>{{ listing.C_LstDate|date:"n/d/o"|default_if_none:'Not Available' }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Type:</th>
                                    <td>{{ listing.C_L_Type|default_if_none:'Not Available' }}</td>
                                </tr>
                                {% if listing.C_Community.name != 'SurroundingArea'%}
                                <tr>
                                    <th>Community:</th>
                                    <td>{{ listing.C_Community }}</td>
                                </tr>
                                {% endif %}
                                {% if listing.C_Area.name != 'OUT OF THE AREA' %}
                                <tr>
                                    <th>Subdivision:</th>
                                    <td>{{ listing.C_Area }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>Bedrooms:</th>
                                    <td>{{ listing.C_NoBeds|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <th>Bathrooms:</th>
                                    <td>{{ listing.C_NoBaths1|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <th>Area:</th>
                                    <td>{{ listing.C_SqFeet|default_if_none:'Not Available' }}ft<sup>2</sup></td>
                                </tr>
                                <tr>
                                    <th>Year Built:</th>
                                    <td>{{ listing.C_YrBlt|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <th>Number of acres:</th>
                                    <td>{{ listing.C_AcresNo|default_if_none:'Not Available' }}</td>
                                </tr>
                                <tr>
                                    <th>Lot Size:</th>
                                    <td>{{ listing.C_LotDims|default_if_none:'Not Available' }}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.span2 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="span5 seller-comments">
                    {% with seller_comments=listing.get_seller_comment %}
                    <ul class="tabs nav nav-tabs" id="CommentsTab" alt="Realtor Property Review" style="margin: 0px 0px 0px 0px;">
                        <li class="active"><a href="#our_comments" data-toggle="tab">Our Comments</a></li>
                        <li><a href="#listing_comments" data-toggle="tab">Agent's Comments</a></li>
                    </ul>
                    <div class="tab-content" style="max-height:340px;">
                        <div class="tab-pane active" id="our_comments" style="max-height:300px;">
                            {% if price_reductions %}
                                <div class='title'>
                                    <h2>Price Reductions</h2>
                                </div>
                                <span><strong>List Date : </strong>{{ listing.C_LstDate|date:"n/d/o"|default_if_none:'Not Available' }}</span><br>
                                <span><strong>Original Price : </strong>${{ listing.C_OrigPrice|intcomma }}</span><br>
                                {% for price_reduction in price_reductions %}
                                    <span><strong>Price Reduction : </strong> {{ price_reduction.timestamp|date:"n/d/o"|default_if_none:'Not Available' }}</span><br>
                                    <span><strong>New Price : </strong>${{ price_reduction.new_price|intcomma }}</span><br>
                                {% endfor %}
                            {% endif %}
                            <br>
                            {% if similar_properties %}
                                <div class='title'>
                                    <h2>Property History</h2>
                                </div>
                                {% for similar_property in similar_properties %}
                                    <span>
                                        This home was previously listed on
                                        {{ similar_property.C_LstDate|date:"n/d/o"|default_if_none:'Not Available' }}
                                        at a list price of ${{ similar_property.C_OrigPrice|intcomma }}.
                                        <a href="/realestate/listing/{{ similar_property.C_MLSNo }}">View Property</a>
                                    </span><br>
                                {% endfor %}
                            {% endif %}
                            {% if recent_sales %}
                                <div class='widget properties last'>
                                    <div class='title'>
                                        <h2>Similar Sales</h2>
                                    </div><!-- /.title -->
                                    <table class='table table-bordered table-striped' alt='{{ listing.C_Address }} Listing similar sales data'>
                                        <thead>
                                            <tr>
                                                <th style='width: 150px;'>List Date</th>
                                                <th>Price</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for listing in recent_sales %}
                                            <tr>
                                                <td><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_LstDate|date:'m/d/y' }}</a></td>
                                                <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                                                <td><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a></td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan='4'><center>No similar sales for this property</center></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                </div><!-- /.properties -->
                            {% endif %}
                            {% if seller_comments %}
                                {% for seller_comment in seller_comments %}
                                    {% if seller_comment.comment %}
                                    <p style="max-height:300px;">{{ seller_comment.comment|safe }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="listing_comments" style="max-height:300px;">
                            <p class='remarks' style="max-height:300px;">{{ listing.C_Remarks|safe|default_if_none:'Not Available' }}</p>
                            {% if user.is_superuser %}
                            <p>Addendum: {{ listing.C_Addendum }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endwith %}
                </div>
            </div>
            <ul class='tabs nav nav-tabs' id='imageTab'>
                <li id='images-tab' class='active'><a href='#images' data-toggle="tab">Listing Photos</a></li>
                <li id='extra-images-tab'><a href='#extra-images' data-toggle="tab">{% if extra_img %}Extra Photos{% else %}Request Photos{% endif %}</a></li>
                {% if hoa_photos %}<li id='hoa-images-tab'><a href='#hoa-images' data-toggle="tab">HOA Photos</a></li>{% endif %}
                {% if listing.video_review %}<li><a href='#video' data-toggle="tab">Video</a></li>{% endif %}
            </ul>
            <div id="content" class='tab-content'>
                <div class='tab-pane active' id='images'>
                    <div class="galery">
                        <div class="images-box">
                            <div class="images">
                                {% with full_address=listing.get_property_full_address %}
                                {% for image in mls_imgs %}
                                    <a itemprop="image" id="image-{{ forloop.counter }}" rel="group" href="{{ image.get_image }}" title="{{ listing.C_MLSNo }} {{ listing.C_Community }} property preview">
                                        <img class='lazyload' data-original="{{ image.get_image }}" src="{% static 'img/icons/loading.gif' %}" alt="{{ full_address }} real estate image preview">
                                    </a>
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div><!-- /.preview -->
                        <div class="thumbs-box">
                            <a class="prev disabled" href="#" style="display: block;"></a>
                                <div id="thumbs">
                                    {# enclose every 2 anchor tags with div #}
                                        <div>
                                    {% for image in mls_imgs %}
                                        <a href="#image-{{ forloop.counter }}">
                                            <img style="width:88px;height:73px;" class='lazyload' data-original="{{ image.get_thumbnail }}" src="{% static 'img/icons/loading.gif' %}" alt="{{ forloop.counter }}">
                                        </a>
                                        {% if forloop.counter|divisibleby:"2" %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                        </div>
                                    {# end for thumbnail tags #}
                                </div>
                            <a class="next" href="#" style="display: block;"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /. galery fredcarousel -->
                </div>
                <div class='tab-pane' id='extra-images'>
                    {% if extra_img %}
                    <div class="galery2">
                        <div class="images-box">
                            <div class="images">
                                {% for image in extra_img %}
                                    <a itemprop="image" id="extra-image-{{ forloop.counter }}" rel="group" href="javascript:void(0);">
                                        <img class='lazy1' data-original="{{ image }}" src="{% static 'img/icons/loading.gif' %}" alt="{{ listing.C_MLSNo }} {{ listing.C_Community }} property preview">
                                    </a>
                                {% endfor %}
                            </div>
                        </div><!-- /.preview -->
                        <div class="thumbs-box2">
                            <a class="prev disabled" href="#" style="display: block;"></a>
                                <div id="thumbs2">
                                    {# enclose every 2 anchor tags with div #}
                                        <div>
                                    {% for image in extra_img_thumbs %}
                                        <a href="#extra-image-{{ forloop.counter }}"><img style="width:88px;height:73px;" src="{{ image }}" alt="{{ forloop.counter }}"></a>
                                        {% if forloop.counter|divisibleby:"2" %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                        </div>
                                    {# end for thumbnail tags #}
                                </div>
                            <a class="next" href="#" style="display: block;"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% else %}
                    <div class="g-post" data-href="https://plus.google.com/117440375832211071650/posts/c47kThLsFAH"></div>
                    <h3>We're eager to earn your future business.</h3>
                    <div class='row well form' style='margin-left:0%;'>
                    <h5>Property preview reports include 100+ photos showing all angles and views, descriptions of the setting, the layout and orientation, measurements of key rooms, and honest comments regarding the pros and cons of the property.</h5>
                    <h5><a href="mailto:tristan@cblaketahoe.com?subject=Listing: {{ listing }}">Email us to request more photos</a>.</h5>
                    </div>
                    <hr/>
                    <h3>Properties we’ve recently previewed</h3>
                    <div class='properties-rows' style="height:470px; overflow-x:auto;">
                        <div class='row'>
                            {% for listing in reviewed_photos %}
                            {% if listing.C_Address %}
                            <div class='property span8'>
                                <div class='row'>
                                    <div class='image span3'>
                                        <div class='content'>
                                            <a href='{{ listing.get_detailed_property_url }}'></a>
                                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                                            <div class='hidden-price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                                        </div><!-- /.content -->
                                    </div><!-- /.image -->
                                    <div class='body span5'>
                                        <div class='title-price row' style="padding:20px;">
                                            <div class='title span4'>
                                                <h2><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                                            </div><!-- /.title -->

                                            <div style="float:left; padding-bottom:20px;" class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                                        </div><!-- /.title -->

                                        <div class='location'>
                                            <span itemprop="addressLocality">{{ listing.address_location }}</span>
                                        </div><!-- /.location -->
                                        <p>{% if listing.sellercomment_set.all %}{{ listing.sellercomment_set.all.0|striptags|default_if_none:'Not Available'|safe|truncatechars:'220' }}{% endif %}</p>
                                        <div class='area'>
                                            <div class='content'>
                                                {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                                            </div>
                                        </div><!-- /.area -->
                                        <div class='bedrooms'>
                                            <div class='content'>
                                                {% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                            </div>
                                        </div><!-- /.bedrooms -->
                                        <div class='bathrooms'>
                                            <div class='content'>
                                                {% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                            </div>
                                        </div><!-- /.bathrooms -->

                                        <div class='map-details active' style='display:none'>
                                            <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                                            <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                                            <meta name='address' content='{{ listing.C_Address }}'>
                                            <meta name='address_location' content='{{ address_location }}'>
                                            <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                                            <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                                            <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                                            <meta name='image' content='{{ listing.object.get_thumbnail_100 }}'>
                                            <meta name='community' content='{{ listing.C_Community }}'>
                                            <meta name='lat' content='{{ listing.C_GeoLat }}'>
                                            <meta name='lng' content='{{ listing.C_GeoLong }}'>
                                        </div>
                                    </div><!-- /.body -->
                                </div><!-- /.property -->
                            </div><!-- /.row -->
                            {% endif %}
                            {% empty %}
                                <div class='property span9'>
                                    <div class='row'>
                                        <div class='body span9'>
                                            <div class='title-price row'>
                                                <div class='title'>
                                                    <h3><center>No properties matching your query.</center></h3>
                                                </div><!-- /.title -->
                                            </div><!-- /.title -->
                                        </div><!-- /.body -->
                                    </div><!-- /.property -->
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div><!-- /.properties-rows -->


                    {% endif %}
                    <hr/>
                    <!-- // end of slideshow-carousel -->
                </div>
                {% if hoa_photos %}
                <div class='tab-pane' id='hoa-images'>
                    <div class="galery3">
                        <div class="images-box">
                            <div class="images">
                                {% for image in hoa_photos %}
                                    <a itemprop="image" id="extra-image-{{ forloop.counter }}" rel="group" href="javascript:void(0);">
                                        <img class='lazy1' data-original="{{ image }}" src="{% static 'img/icons/loading.gif' %}" alt="{{ listing.C_MLSNo }} {{ listing.C_Community }} property preview">
                                    </a>
                                {% endfor %}
                            </div>
                        </div><!-- /.preview -->
                        <div class="thumbs-box3">
                            <a class="prev disabled" href="#" style="display: block;"></a>
                                <div id="thumbs3">
                                    {# enclose every 2 anchor tags with div #}
                                        <div>
                                    {% for image in hoa_photos_thumbs %}
                                        <a href="#extra-image-{{ forloop.counter }}"><img style="width:88px;height:73px;" src="{{ image }}" alt="{{ forloop.counter }}"></a>
                                        {% if forloop.counter|divisibleby:"2" %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                        </div>
                                    {# end for thumbnail tags #}
                                </div>
                            <a class="next" href="#" style="display: block;"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% endif %}
                {% if listing.video_review %}
                <div class='tab-pane' id='video'>
                    {{ listing.video_review|safe }}
                </div>
                {% endif %}
            </div>

            <h2>{{ listing.C_Community }} Market Activity</h2>
            <ul class='tabs nav nav-tabs' id='market-activity'>
                <li class='active'><a href='#statistics'>Statistics</a></li>
                <li><a href='#description'>Description</a></li>
                <li><a href='#recent-sales'>Recent Sales</a></li>
                <li><a href='#pending'>Pending</a></li>
                <li><a href='#price-reductions'>Price Reductions</a></li>
                <li><a href='#new-listings'>New Listings</a></li>
            </ul>
            <div class='tab-content'>
                <div class='tab-pane active' id='statistics'>
                    <p>{{ bt_statistics.content|safe }}</p>
                </div>
                <div class='tab-pane' id='description'>
                    {{ listing.C_Community.description|default_if_none:'Not Available'|safe }}
                </div>                
                <div class='tab-pane' id='recent-sales'>
                    <table class='table table-bordered table-striped' alt='{{ listing.C_Community }} Recent Sales Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>Sale Date</th>
                                <th>Sale Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in  bt_recent_sold.listings.all %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_CloseDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_SoldPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No recently sold properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if bt_recent_sold.listings.all %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'sold' %}?community={{ listing.C_Community.name|urlencode }}'>View more - Recent Sales - {{ listing.C_Community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='pending'>
                    <table class='table table-bordered table-striped' alt='{{ listing.C_Community }} Pending Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in listing.C_Community.pending %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No pending properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if listing.C_Community.pending %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'under_contract' %}?community={{ listing.C_Community.name|urlencode }}'>View more - Pending - {{ listing.C_Community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='price-reductions'>
                    <table class='table table-bordered table-striped' alt='{{ listing.C_Community }} New Listings Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with price_reduced_listings=bt_price_reduced.listings.all %}
                            {% for listing in price_reduced_listings %}
                            <tr>
                                <td><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if listing.C_NoBeds == 'None' %}0{% else %}{{ listing.C_NoBeds }}{% endif %}/{% if listing.C_NoBaths1 == 'None' %}0{% else %}{{ listing.C_NoBaths1 }}{% endif %}/{% if listing.C_Garage == 'None' %}0{% else %}{{ listing.C_Garage }}{% endif %}</td>
                                <td>{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No price reduced properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if price_reduced_listings %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'price_reductions' %}?community={{ listing.C_Community.name|urlencode }}'>View more - Price Reductions - {{ listing.C_Community }}</a></center></td>
                            </tr>
                            {% endif %}
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
                <div class='tab-pane' id='new-listings'>
                    <table class='table table-bordered table-striped' alt='{{ listing.C_Community }} New Listings Market Activity Statistics Data'>
                        <thead>
                            <tr>
                                <th style='width: 150px;'>List Date</th>
                                <th>Ask Price</th>
                                <th class='hidden-phone'>B/B/G</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in listing.C_Community.new_listings %}
                            <tr>
                                <td><a href='{{ prop.get_detailed_property_url }}'>{{ prop.C_LstDate|date:'m/d/y' }}</a></td>
                                <td>&dollar;{{ prop.C_AskPrice|intcomma }}</td>
                                <td class='hidden-phone'>{% if prop.C_NoBeds == 'None' %}0{% else %}{{ prop.C_NoBeds }}{% endif %}/{% if prop.C_NoBaths1 == 'None' %}0{% else %}{{ prop.C_NoBaths1 }}{% endif %}/{% if prop.C_Garage == 'None' %}0{% else %}{{ prop.C_Garage }}{% endif %}</td>
                                <td>{% if prop.C_SqFeet != '0' %}{{ prop.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='4'><center>No new properties in this community.</center></td>
                            </tr>
                            {% endfor %}
                            {% if listing.C_Community.new_listings %}
                            <tr>
                                <td colspan='4'><center><a href='{% url 'latest_listings' %}?community={{ listing.C_Community.name|urlencode }}'>View more - New Listings - {{ listing.C_Community }}</a></center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>{{ listing.C_Area }} Market Activity</h2>
            {% include "includes/area_content.html" %}

            <div class="well">
                <p style="font-size:10px;"><img src="{% static 'img/broker_reciprocity.gif' %}">The data relating to real estate for sale on this web site comes in part from the Broker Reciprocity Program of the Tahoe Sierra Multiple Listing Service. Real estate listings held by brokerage firms other than Chase International Residential Brokerage are marked with the Broker Reciprocity logo and detailed information about them includes the name of the listing brokers. This listing courtesy of: {{ listing.C_LO1OfcName }}.

                    The information being provided is for consumers' personal, non-commercial use and may not be used for any other purpose other than to identify prospective properties consumers may be interested in purchasing.

                    Information deemed reliable but not guaranteed
                </p>
            </div>
        </div>
    </div>
    <div class='sidebar span3 detailed-property'>
        <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        <div class='widget contact'>
            <div class='title' style='display:block;'>
                <h2 class='block-title'>Share</h2>
            </div><!-- /.title -->
            <div class='content'>
                <div class='social-button'>
                    <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/sharer/sharer.php?u=http://cblaketahoe.com{{ request.path }}">
                    <img width="32" height="32" src="/static/img/icons/social/Facebook.png" alt="Facebook" />
                </a>
                </div>
                <div class='social-button'>
                    <a href="https://twitter.com/share?url=http://cblaketahoe.com{{ request.path }}&text={{ seo_tags.title|urlencode }}" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')">
                        <img width="32" height="32" src="/static/img/icons/social/Twitter.png" alt="Twitter" />
                    </a>
                </div>
                <div class='social-button'>
                    <a href="https://plus.google.com/share?url=http://cblaketahoe.com{{ request.path }}" target="_blank" onclick="return !window.open(this.href, 'Google+', 'width=640,height=300')" >
                        <img src="/static/img/icons/social/GooglePlus.png" alt="Google+"/>
                    </a>
                </div>
                <div class='social-button'>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://cblaketahoe.com{{ request.path }}&title={{ seo_tags.title|urlencode }}&source=cblaketahoe.com" target="_blank" onclick="return !window.open(this.href, 'LinkedIN', 'width=640,height=300')">
                        <img src="/static/img/icons/social/LinkedIn.png" alt="LinkedIn"/>
                    </a>
                </div>
                <br style="clear: both;" />
            </div>
        </div>
        <div class='widget our-agents'>
            <div class='content'>
                <div class='agent'>
                    <div class='image'>
                        <img src="{% static 'img/photos/tristan-small.png' %}" alt=''>
                    </div><!-- /.image -->
                    <div class='name'>Tristan Roberts</div><!-- /.name -->
                    <div class='phone'>530-580-8001</div><!-- /.phone -->
                    <div class='email'><a href='mailto:tristan@cblaketahoe.com?subject=Listing: {{ listing }}'>tristan@cblaketahoe.com</a></div><!-- /.email -->
                </div><!-- /.agent -->
            </div><!-- /.content -->
        </div><!-- /.our-agents -->

        <div id='contact-form-div' class='widget contact'>
            <div class='title'>
                <h2 class='block-title'>Contact agent</h2>
            </div><!-- /.title -->

            <div class='content'>
                <form method='post' id='property-contact-form'>
                    {% csrf_token %}
                    <div id='error_message'>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='id_name'>
                            Name
                            <span class='form-required' title='This field is required.'>*</span>
                        </label>
                        <div class='controls'>
                            <input type='text' id='id_name' name='name'>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='control-group'>
                        <label class='control-label' for='id_email'>
                            Email
                            <span class='form-required' title='This field is required.'>*</span>
                        </label>
                        <div class='controls'>
                            <input type='text' id='id_email' name='email'>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='control-group'>
                        <label class='control-label' for='id_phone'>
                            Phone
                        </label>
                        <div class='controls'>
                            <input type='text' id='id_phone' name='phone'>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='control-group'>
                        <label class='control-label' for='id_message'>
                            Message
                            <span class='form-required' title='This field is required.'>*</span>
                        </label>

                        <div class='controls'>
                            <textarea id='id_message' name='message'></textarea>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    <input name='mls_number' value='{{ listing.C_MLSNo }}' type='hidden'/>

                    <div class='form-actions'>
                        <input type='submit' id='propertySubmit' class='btn btn-primary arrow-right' value='Send'>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.widget -->

        {% if recent_sales %}
        <div class='widget properties last'>
            <div class='title'>
                <h2>Recent Sales</h2>
            </div><!-- /.title -->

            <div class='content'>
                {% for listing in recent_sales %}
                <div class='property sidebar-property'>
                    <div class='image'>
                        <a href='{{ listing.get_detailed_property_url }}'></a>
                        <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                    </div><!-- /.image -->

                    <div class='wrapper'>
                        <div class='title'>
                            <h3>
                                <a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a>
                            </h3>
                        </div><!-- /.title -->
                        <div class='location'>{{ listing.C_Community }}</div><!-- /.location -->
                        <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        <div class='price'>Sold: {{ listing.C_CloseDate|date:'N d Y' }}</div>
                    </div><!-- /.wrapper -->
                </div><!-- /.property -->
                {% endfor %}
            </div><!-- /.content -->
        </div><!-- /.properties -->
        {% endif %}
        <!-- {% if vendor_list %}
            {% include "includes/vendor_list.html" %}
        {% endif %} -->
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type='text/javascript' src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type='text/javascript' src="{% static 'custom-js/property.js' %}"></script>
<script type='text/javascript' src="{% static 'custom-js/main.js' %}"></script>
<script type='text/javascript' src="{% static 'custom-js/pagespeed.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block css %}
{{ block.super }}
<link rel='stylesheet' href="{% static 'css/magnific-popup.css' %}" type='text/css'>
{% endblock css %}
