{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Explore Properties</li>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Find a real estate property in Lake Tahoe</h1>
        <div class='properties-rows'>
            <div class='row'>
                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{% url 'realestate_communities' %}'></a>
                                <img src="{% static 'img/tmp/community.png' %}" alt=''>
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{% url 'realestate_communities' %}'>Communities</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            <p>Browse through our listings of real estate properties grouped by communities like West Shore Lake Tahoe, Alpine Meadows, North Lake Tahoe, Tahoe Donner, Truckee, Martis Valley, and others.</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->

                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{% url 'realestate_neighborhood' %}'></a>
                                <img src="{% static 'img/tmp/neighborhood.png' %}" alt=''>
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{% url 'realestate_neighborhood' %}'>Neighborhood</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            <p>Browse through our listings of real estate properties grouped by communities like Alpine Peaks, Tahoe Swiss, South Lake Tahoe, Donner Lake Villa, Northstar Village, Glenridge Park, and others.</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->

                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{% url 'view_setting' setting_slug='lakefront' %}'></a>
                                <img src="{% static 'img/tmp/lakefront.png' %}" alt=''>
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{% url 'view_setting' setting_slug='lakefront' %}'>Lakefronts</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            <p>Explore high-end Lake Tahoe lakefront properties in the market. Property previews may include 100+ images, MLS details, property specifications, and realtor reviews.</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->

                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{% url 'latest_listings' %}'></a>
                                <img src="{% static 'img/tmp/recent_property.png' %}" alt=''>
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{% url 'latest_listings' %}'>Latest Properties</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            <p>Browse through the most recent real estate property listings available in Lake Tahoe and surrounding area. Property previews may include 100+ images, MLS details, property specifications, and realtor reviews.</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->

                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{% url 'price_reductions' %}'></a>
                                <img src="{% static 'img/tmp/price_reduced.png' %}" alt=''>
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{% url 'price_reductions' %}'>Price Reduced</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            <p>Browse through the real estate property listings with reduced prices in Lake Tahoe and surrounding area. Property previews may include 100+ images, MLS details, property specifications, and realtor reviews.</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->
            </div><!-- /.row -->
        </div>
    </div> <!-- /.span9-->

    <div class='sidebar span3'>
        {% include 'includes/agent.html' %}

        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header'><a href='#'>Latest Properties<a></h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for listing in latest_listings %}
                    <div class='property sidebar-property'>
                        <div class='image'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title'>
                                <h3>
                                    <a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a>
                                </h3>
                            </div><!-- /.title -->
                            <div class='location'>{{ listing.C_Community }}</div><!-- /.location -->
                            <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!-- end hidden tablet-->

    </div><!--/.sidebar-->

</div>
{% endblock container %}
