{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Neighborhoods</li>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Neighborhood | Subdivision</h1>
        <div class='properties-rows'>
            <div class='row'>

                {% for subdivision in places %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{{ subdivision.get_absolute_url }}'></a>
                                {% if subdivision.image %}
                                <img src='{{ subdivision.image.url }}' alt=''>
                                {% else %}
                                <img src="{% static 'img/tmp/property-small-1.png' %}" alt=''>
                                {% endif %}
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{{ subdivision.get_absolute_url }}'>{{ subdivision.shortened_name|title }}</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div class='location'>{{ subdivision.available_property }} properties for sale</div><!-- /.location -->
                            <p>{{ subdivision.description|default_if_none:'Not Available'|truncatehtml:350|safe }}&nbsp;</p>
                        </div><!-- /.body -->
                    </div><!-- /.row -->
                </div><!-- /.property -->
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No neighborhoods matching your query.</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-rows -->

        {% with page_numbers=places.paginator.num_pages|custom_paginator:places.number %}
        <div class='pagination pagination-centered'>
            <ul>
            {% if places.has_previous %}
                <li><a href='?page={{ places.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='prev'>&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
            {% endif %}

            {% if 1 not in page_numbers %}
                <li class='hidden-phone'><a href='?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>1</a></li>
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
            {% endif %}

            {% for page in page_numbers %}
                {% ifequal page places.number %}
                    <li class='current page active'><a href='#'>{{ page }}</a></li>
                {% else %}
                    <li><a href='?page={{ page }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if places.paginator.num_pages not in page_numbers %}
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
                <li class='hidden-phone'><a href='?page={{ places.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ places.paginator.num_pages }}</a></li>
            {% endif %}

            {% if places.has_next %}
                <li><a href='?page={{ places.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='next'>&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
            {% endif %}
            </ul>
        </div><!-- /.pagination -->
        {% endwith %}

    </div> <!-- /.span9-->

    <div class='sidebar span3'>
        <div class='property-filter widget' style='margin-top:70px;'>
            <div class='content'>
                <form method='get' action='/realestate/neighborhood'>
                    <div class='community-type control-group'>
                        <label class='control-label' for='inputCommunityType'>
                            Community
                        </label>
                        <div class='controls'>
                            <select id='inputCommunityType' name='community'>
                                {% if 'All' in community_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for community in COMMUNITIES %}
                                {% if community.name != 'None' %}
                                {% if community.name in community_val %}
                                <option selected='selected' value='{{ community.name }}'>{{ community }}</option>
                                {% else %}
                                <option value='{{ community.name }}'>{{ community }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='hoa-amenities control-group'>
                        <label class='control-label' for='inputHoaAmenities'>
                            HOA Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputHoaAmenities' data-placeholder='Select HOA Amenities' name='hoa_amenities' multiple='multiple'>
                                {% if 'All' in hoa_amenities_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for hoa in HOA_AMENITIES %}
                                {% if hoa.name != 'None' %}
                                {% if hoa.name in hoa_amenities_val %}
                                <option selected='selected' value='{{ hoa.name }}'>{{ hoa }}</option>
                                {% else %}
                                <option value='{{ hoa.name }}'>{{ hoa }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='waterfront-amenities control-group'>
                        <label class='control-label' for='inputWaterfrontAmenities'>
                            WaterFront Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputWaterfrontAmenities' data-placeholder='Select Waterfront Amenities' name='waterfront_amenities' multiple='multiple'>
                                {% if 'All' in waterfront_amenities_val %}
                                <option selected='selected' value='All'>All</option>
                                {% else %}
                                <option value='All'>All</option>
                                {% endif %}
                                {% for waterfront in WATERFRONT_AMENITIES %}
                                {% if waterfront.name != 'None' %}
                                {% if waterfront.name in waterfront_amenities_val %}
                                <option selected='selected' value='{{ waterfront.name }}'>{{ waterfront }}</option>
                                {% else %}
                                <option value='{{ waterfront.name }}'>{{ waterfront }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='form-actions'>
                        <input type='submit' value='Filter now!' class='btn btn-primary btn-large'>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.property-filter -->
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}

        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2>Other Properties</h2>
                </div><!-- /.title -->
                <div class='content'>
                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='lakefronts'>

                            </div><!-- /.lastest-listings -->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'view_setting' setting_slug='lakefront' %}">Lakefronts</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class=' latest-listings'>

                            </div><!-- /.lastest-listings -->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'latest_listings' %}">Latest Listings</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='price-reduced'>

                            </div><!-- /.price-reduced-->
                        </div>
                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'price_reductions' %}">Price Reduced</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->

                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='communities'>

                            </div><!-- /.communities-->
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'realestate_communities' %}">Communities</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!--/.hidden-tablet-->
    </div><!--/.sidebar-->

</div>
{% endblock container %}
