<ul>
        {% for key, item in related_content.items %}
        <li class='location-type'>
            <span class='ltg_name collapsed'>{{ key }}</span>
            <span class='location_type_details' hidden>
                <var class='marker-type'>{{ key.name }}</var>
               {# <!--<var class='marker-image-type'>{{ key.marker.url }}</var>-->#}
            </span>
            <ul class='subrelated' style="display: none;">
                {% for location in item %}
                <li class='location' style='font-size: 10px;'>
                    <input class='location-chckbx' type='checkbox'
                           name='{{ location }}'
                           value='{{ location.latitude }}-{{ location.longitude }}'
                           data-latitude="{{ location.latitude }}"
                           data-longitude="{{ location.longitude }}"
                    >
                    <span class="location_text">{{ location|safe }}</span>
                    <span class="location_distance"></span>
                    <span class='poi-details' data-latitude="{{ location.latitude }}" style="display:none;">
                        <var class='latitude'>{{ location.latitude }}</var>
                        <var class='longitude'>{{ location.longitude }}</var>
                        <var class='poi-title'>{{ location }}</var>
                        <var class='poi-desc'>{{ location.short_desc|truncatechars:"50" }}</var>
                        <var class='poi-image'>{{ location.get_thumbnail }}</var>
                        <var class='poi-link'>{{ location.get_absolute_url }}</var>
                        <var class='marker-ref'></var>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <div class="reset-wrapper" style="text-align: center;">
        <input id="reset-location" type="submit" class="btn btn-primary" value="Reset Location" style="position: relative; margin-bottom:10px;">
    </div>
