{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Advanced Search</li>
{% endblock %}

{% block container %}

<div class='row'>
    <div class='span9 advanced-search'>
        <div class=' property-filter widget'>
            <div class='content'>
                <form method='get' action='?' name='search_form' id='form_search'>
                    <div class='status control-group'>
                        <label class='control-label' for='status'>
                            Status
                        </label>
                        <div class='controls'>
                            <select id='status' name='status' multiple='multiple'>
                                <option value='active' >Active</option>
                                <option value='contingent' >Under Contract</option>
                                <option value='sold'>Sold</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='type control-group'>
                        <label class='control-label' for='inputType'>
                            Property Type
                        </label>
                        <div class='controls'>
                            <select id='inputType' name='property_type' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for property_type in PROPERTY_TYPES %}
                                <option value='{{ property_type.name }}'>{{ property_type.name }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='community control-group'>
                        <label class='control-label' for='inputCommunityTypeMultiple'>
                            Community
                        </label>
                        <div class='controls'>
                            <select id='inputCommunityTypeMultiple' name='community' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for community in COMMUNITIES %}
                                <option value='{{ community.name }}'>{{ community }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='subdivision control-group'>
                        <label class='control-label' for='inputSubdivisionType'>
                            Subdivision
                        </label>
                        <div class='controls'>
                            <select id='inputSubdivisionType' name='area' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for area in SUBDIVISIONS %}
                                <option value='{{ area.name }}'>{{ area }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='beds control-group'>
                        <label class='control-label' for='inputBeds'>
                            Bed
                        </label>
                        <div class='controls'>
                            <select id='inputBeds' name='bedroom'>
                                <option value='Any'>Any</option>
                                <option value='2'>2+</option>
                                <option value='3'>3+</option>
                                <option value='4'>4+</option>
                                <option value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='baths control-group'>
                        <label class='control-label' for='inputBaths'>
                            Baths
                        </label>
                        <div class='controls'>
                            <select id='inputBaths' name='bathroom'>
                                <option value='Any'>Any</option>
                                <option value='2'>2+</option>
                                <option value='3'>3+</option>
                                <option value='4'>4+</option>
                                <option value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <span id='price_range_min_value' style="display:none;">{{ price_range_min }}</span>
                    <div class='price-min control-group'>
                        <label class='control-label' for='inputPriceMin'>
                            Minimum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemin' id='inputPriceMin'>
                                <option value='nomin'>No Min</option>
                                <option value='50000'>50,000</option>
                                <option value='100000'>100,000</option>
                                <option value='200000'>200,000</option>
                                <option value='300000'>300,000</option>
                                <option value='400000'>400,000</option>
                                <option value='500000'>500,000</option>
                                <option value='600000'>600,000</option>
                                <option value='700000'>700,000</option>
                                <option value='800000'>800,000</option>
                                <option value='900000'>900,000</option>
                                <option value='1000000'>1M</option>
                                <option value='1500000'>1.5M</option>
                                <option value='2000000'>2M</option>
                                <option value='2500000'>2.5M</option>
                                <option value='3000000'>3M</option>
                                <option value='4000000'>4M</option>
                                <option value='5000000'>5M</option>
                                <option value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <span id='price_range_max_value' style="display:none;">{{ price_range_max }}</span>
                    <div class='price-max control-group'>
                        <label class='control-label' for='inputPriceMax'>
                            Maximum Price
                        </label>
                        <div class='controls'>
                            <select name='pricerangemax' id='inputPriceMax'>
                                <option value='nomax'>No Max</option>
                                <option value='50000'>50,000</option>
                                <option value='100000'>100,000</option>
                                <option value='200000'>200,000</option>
                                <option value='300000'>300,000</option>
                                <option value='400000'>400,000</option>
                                <option value='500000'>500,000</option>
                                <option value='600000'>600,000</option>
                                <option value='700000'>700,000</option>
                                <option value='800000'>800,000</option>
                                <option value='900000'>900,000</option>
                                <option value='1000000'>1M</option>
                                <option value='1500000'>1.5M</option>
                                <option value='2000000'>2M</option>
                                <option value='2500000'>2.5M</option>
                                <option value='3000000'>3M</option>
                                <option value='4000000'>4M</option>
                                <option value='5000000'>5M</option>
                                <option value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='settings control-group'>
                        <label class='control-label' for='inputSettings'>
                            Settings
                        </label>
                        <div class='controls'>
                            <select id='inputSettings' name='settings' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for setting in SETTINGS %}
                                <option value='{{ setting.name }}'>{{ setting }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='hoa-amenities control-group'>
                        <label class='control-label' for='inputHoaAmenities'>
                            HOA Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputHoaAmenities' name='hoa_amenities' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for hoa in HOA_AMENITIES %}
                                <option value='{{ hoa.name }}'>{{ hoa }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='waterfront-amenities control-group'>
                        <label class='control-label' for='inputWaterfrontAmenities'>
                            WaterFront Amenities
                        </label>
                        <div class='controls'>
                            <select id='inputWaterfrontAmenities' name='waterfront_amenities' multiple='multiple'>
                                <option value='All'>All</option>
                                {% for waterfront in WATERFRONT_AMENITIES %}
                                <option value='{{ waterfront.name }}'>{{ waterfront }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='view control-group'>
                        <label class='control-label' for='inputView'>
                            Views
                        </label>
                        <div class='controls'>
                            <select id='inputView' multiple='multiple' name='views'>
                                <option value='All'>All</option>
                                {% for view in VIEWS %}
                                <option value='{{ view.name }}'>{{ view }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='acreage control-group'>
                        <label class='control-label' for='inputAcreage'>
                            Acreage
                        </label>
                        <div class='controls'>
                            <select id='inputAcreage' name='acreage'>
                                <option value='Any'>Any</option>
                                <option value='0.5'>0.5+</option>
                                <option value='1'>1+</option>
                                <option value='2'>2+</option>
                                <option value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='mls control-group'>
                        <label class='control-label' for='inputKeyword'>
                            Keyword (MLS or Address)
                        </label>
                        <div class='controls'>
                            <input id='inputKeyword' name='keyword' type='text' value='{{ keyword_val }}'>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    <div class='clearfix'></div>
                    <br/>

                    <div class='form-btn-container form-actions'>
                            <div class='span4 pull-right'>
                                <input type='submit' value='Search' class='btn btn-primary btn-medium input-47'>
                                <input type='reset' value='Clear Form' class='btn btn-danger btn-medium input-47' id='clearForm'>
                            </div>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.property-filter -->


        <h1 class='page-header'>Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</h1>
        <div class='properties-rows'>
            <div class='row'>
                {% for listing in listings.object_list %}
                {% if listing.C_Address %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{{ listing.object.get_detailed_property_url }}'></a>
                                <img src='{{ listing.object.get_thumbnail_270 }}' alt=''>
                                <div class='hidden-price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{{ listing.object.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                                </div><!-- /.title -->

                                <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.title -->

                            <div class='location'>
                                <span itemprop="addressLocality">{{ listing.object.address_location }}</span>
                            </div><!-- /.location -->
                            <p>{{ listing.C_Remarks|default_if_none:'Not Available'|safe|truncatechars:'220' }}</p>
                            <div class='area'>
                                <div class='content'>
                                    {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                                </div>
                            </div><!-- /.area -->
                            <div class='bedrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bedrooms -->
                            <div class='bathrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bathrooms -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div><!-- /.row -->
                {% endif %}
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No properties matching your query.</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-rows -->
        {% with page_numbers=listings.paginator.num_pages|custom_paginator:listings.number %}
        <div class='pagination pagination-centered'>
            <ul>
            {% if listings.has_previous %}
                <li><a href='?page={{ listings.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='prev'>&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
            {% endif %}

            {% if 1 not in page_numbers %}
                <li class='hidden-phone'><a href='?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>1</a></li>
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
            {% endif %}

            {% for page in page_numbers %}
                {% ifequal page listings.number %}
                    <li class='current page active'><a href='#'>{{ page }}</a></li>
                {% else %}
                    <li><a href='?page={{ page }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if listings.paginator.num_pages not in page_numbers %}
                <li class='hidden-phone'><a class='ellipsis'>...</a></li>
                <li class='hidden-phone'><a href='?page={{ listings.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='page'>{{ listings.paginator.num_pages }}</a></li>
            {% endif %}

            {% if listings.has_next %}
                <li><a href='?page={{ listings.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}' class='next'>&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
            {% endif %}
            </ul>
        </div><!-- /.pagination -->
        {% endwith %}
    </div> <!-- end advanced-search -->


    <div class='sidebar span3 advanced-search'>
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}
        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header link'><a href='{% url 'latest_listings' %}'>New Listings<a></h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for listing in LATEST_PROPERTIES %}
                    <div class='property sidebar-property'>
                        <div class='image'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title'>
                                <h3>
                                    <a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a>
                                </h3>
                            </div><!-- /.title -->
                            <div class='location'>{{ listing.C_Community }}</div><!-- /.location -->
                            <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!-- end hidden tablet-->
    </div><!-- end sidebar  -->
   <!--  <div class='clearfix'></div> -->
</div><!-- end row-->
{% endblock %}

{% block js %}
{{ block.super }}
<!-- Note: adding variables from django template in jquery results in a different hex digest for every request,
    thus a compression related error; we should create a uniform and neater way to handle variables from django to JS-->
<script type="text/javascript">var query_json = {{ query_json|safe }};</script>
{% compress js %}
<script type='text/javascript' src="{% static 'custom-js/community.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("option[value='None']").remove();
        var price_min = $("#price_range_min_value").text();
        var price_max = $("#price_range_max_value").text();
        var max_selector = "select#inputPriceMax option[value="+ price_max +"]";
        var min_selector = "select#inputPriceMin option[value="+ price_min +"]";
        $(max_selector).prop('selected', 'selected')
        $(min_selector).prop('selected', 'selected')
        $(max_selector).trigger('liszt:updated');
        $(min_selector).trigger('liszt:updated');

        $.each(query_json, function(key, value){
            selectSelected(value, "select[name='"+key+"']");
        });

    });

    function selectSelected(selected_array, select_field){
        $.each(selected_array, function(index, value){
            $( select_field + " option[value='"+value+"']").prop('selected', 'selected');
        });
        $(select_field).trigger('liszt:updated');
    }
</script>
{% endcompress %}
{% endblock %}
