{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Market Statistics</li>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Lake Tahoe Real Estate Statistics</h1>
        <div class='properties-rows'>
            <div class='row'>

                <div class='property span9'>
                    <div class='row'>
                        <div class='body span8 margin-left10'>
                            <div class='title-price row'>
                                <div class='title span7'>
                                    <h2><a href='#'>Active Listings</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div id='active-residential' style='width:100%; height:400px;'></div>
                            <p>Active Listings: The current inventory of residential properties is {{ active_inventory.object.active_listing }} properties for sale; {% for key, value in active_inventory.object.residence_type.data.items %} {{ key }} : {{ value }}{% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>

                            <div id='active-price-range' style='width:100%; height:400px;'></div>
                            <p>Active Listings by Price Range: Of the active listings, there are : {% for key, value in active_inventory.object.price_range.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>

                            <div id='active-community' style='width:100%; height:400px;'></div>
                            <p>Active Listings by Community: Of the active listings, there are : {% for key, value in active_inventory.object.community.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>


                            <div id='active-substat' style='width:100%; height:400px;'></div>
                            <p>Active Listings by Sale Type:  Of the active listings, there are : {% for key, value in active_inventory.object.sub_status.data.items %} {{ key }} : {{ value }}{% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>

                            <div id='active-dom' style='width:100%; height:400px;'></div>
                            <p>Active Listings by Sale Type:  Of the active listings, there are : {% for key, value in active_inventory.object.dom.data.items %} {{ key }} : {{ value }}{% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>

                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>

                <div class='property span9'>
                    <div class='row'>
                        <div class='body span8 margin-left10'>
                            <div class='title-price row'>
                                <div class='title span7'>
                                    <h2><a href='#'>Comparative Sales Report</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div id='comparative-sales' style='width:100%; height:400px;'></div>
                            <p>For the current year, there have been {{current_sold.object.total_sold}} residential properties sold in the market compared to the {{prev_sold.object.total_sold}} properties sold in the prior year for the same period.
                                The total sales for the year is comprised of: {% for key, value in current_sold.object.residence_type.items %}{{key}} : {{value}}, {% endfor %}.
                                In the previous year for the same period, the sales are comprised of : {% for key, value in prev_sold.object.residence_type.items %}{{key}} : {{value}}, {% endfor %}.
                            </p>
                            <p>
                                REO & Short Sales:  Distressed property sales are down significantly for the year with 43 REO sales, (6%), and 77 Short Sales, (11%) which results in 17% of the properties sold being distressed properties.
                                In 2012 for the same period, there were 116 REO sales and 111 short sales or 35% of the total sales being distressed properties.
                                Sales by Price Range:  In 2013, there have been 401 residential properties sold priced below $500,000, 219 properties sold between $500,000 and $1,000,000 and 84 properties sold over $1,000,000.
                            </p>
                            <div id='sold-price-range' style='width:100%; height:400px;'></div>
                            <p>Sales by Price Range: Of the sold listings, there are : {% for key, value in current_sold.object.price_range.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>

                            <div id='sold-community' style='width:100%; height:400px;'></div>
                            <p>Sales by Community: Of the sold listings, there are : {% for key, value in current_sold.object.community.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>

                            <div id='sold-dom' style='width:100%; height:400px;'></div>
                            <p>Sales by Days on Market: Of the sold listings, there are : {% for key, value in current_sold.object.dom.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>

                            <div id='sold-financing' style='width:100%; height:400px;'></div>
                            <p>Sales by Type of Financing: Of the sold listings, there are : {% for key, value in current_sold.object.financing_type.data.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}</p>

                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% comment %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span8 margin-left10'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='#'>Real Estate Sales Price Range</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div id='sales-price-range' style='width:100%; height:400px;'></div>
                            <p>Since {{ current_median_avg.start_date }} to date, the median sales price for properties sold is ${{ current_median_avg.median|floatformat|intcomma  }}, while the average sales price is ${{ current_median_avg.average.C_SoldPrice__avg|floatformat|intcomma  }}.
                                For the same period in {{ prev_median_avg.start_date }}-{{prev_median_avg.end_date}}, the median sales price was ${{ prev_median_avg.median|floatformat|intcomma  }}, and the average sales price was ${{ current_median_avg.average.C_SoldPrice__avg|floatformat|intcomma  }}.
                            </p>
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endcomment %}

                <div class='property span9'>
                    <div class='row'>
                        <div class='body span8 margin-left10'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='#'>Pending Sales</a></h2>
                                </div><!-- /.title -->
                            </div><!-- /.title -->

                            <div id='pending-sales-residence' style='width:100%; height:400px;'></div>
                            {% comment %}
                            <p>Pending Sales:  Currently there are {{ pending_sales.object.total }} pending residential sales in the market which is up from the previous week’s pending sales of 227.</p>
                            {% endcomment %}
                            <p>Pending Sales by Property Type: Of the pending sales, {% for key, value in pending_sales.object.residence_type.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}.</p>

                            <div id='pending-substat' style='width:100%; height:400px;'></div>
                            <p>Pending Sales by Sale Type: Of the pending sales, {% for key, value in pending_sales.object.sub_status.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}.</p>

                            <div id='pending-sold-price-range' style='width:100%; height:400px;'></div>
                            <p>Pending Sales by Price Range: Of the pending sales, {% for key, value in pending_sales.object.sold_price_range.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}.</p>

                            <div id='pending-community' style='width:100%; height:400px;'></div>
                            <p>Pending Sales by Community: Of the pending sales, {% for key, value in pending_sales.object.community.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}.</p>

                            <div id='pending-sold-dom' style='width:100%; height:400px;'></div>
                            <p>Pending Sales by Days on Market: Of the pending sales, {% for key, value in pending_sales.object.sold_dom.items %} {{ key }}: {{ value }}{% if forloop.last %}.{% else %}, {% endif %} {% endfor %}.</p>

                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>



            </div>
        </div>
    </div><!-- /.span8 -->
    <div class='sidebar span3'>
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        {% include 'includes/agent.html' %}
        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header'><a href='{% url 'latest_listings' %}'>Latest Properties<a></h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for listing in LATEST_PROPERTIES %}
                    <div class='property sidebar-property'>
                        <div class='image'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <div class='title'>
                                <h3>
                                    <a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a>
                                </h3>
                            </div><!-- /.title -->
                            <div class='location'>{{ listing.C_Community }}</div><!-- /.location -->
                            <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!-- end hidden tablet-->
    </div>
</div><!-- /.row -->
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    var active_listing = {{ active_inventory.json|safe }};
    var current_sales_summary = {{ current_sold.json|safe }};
    var previous_sales_summary = {{ prev_sold.json|safe }};
    var sales_by_price = {{ sales_price.json|safe }};
    var pending_sales = {{ pending_sales.json|safe }};
</script>
<script type='text/javascript' src="{% static 'js/highcharts.js' %}"></script>
<script type='text/javascript' src="{% static 'js/mls/charts.js' %}"></script>
{% endblock %}
