{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Newsletter list" %}{% endblock title %}

{% block container %}
<div id="main">
    <div class="pricing boxed">
        <h2 class="page-header">Newsletters</h2>

        <div class="row">
        {% if user.is_authenticated %}
        <form method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
        <div class="span3">
            <div class="column promoted">
                {{ form.id }}{{ form.newsletter }}
                <h2>{{ form.instance.newsletter.title }}</h2>
                <div class="content">
                    <ul class="unstyled">
                        <li class="important"><a href="{% url "newsletter_subscribe_request" form.instance.newsletter.slug %}">Subscribe</a></li>
                        {% if not user.is_authenticated %}
                        <li><a href="{% url "newsletter_update_request" form.instance.newsletter.slug %}">Update</a></li>
                        {% endif %}
                        <li><a href="{% url "newsletter_unsubscribe_request" form.instance.newsletter.slug %}">Unsubscribe</a></li>
                        <li class="important"><a href="{% url "newsletter_archive" form.instance.newsletter.slug %}">Archive</a></li>
                        <li style="text-align:center;">{{ form.subscribed }}</li>
                    </ul>
                </div><!-- /.content -->
            </div><!-- /.column -->
        </div><!-- /.span3 -->
        {% endfor %}
        <div class="clearfix"></div>
        <br/>
        <div class='form-actions'><input id="id_submit" class="btn btn-primary arrow-right" name="submit" value="{% trans "Update subscriptions" %}" type="submit" /></div>
        </form>
        {% else %}
            {% for newsletter in object_list %}
            <div class="span3">
                <div class="column promoted">
                    <h2>{{ newsletter.title }}</h2>
                    <div class="content">
                        <ul class="unstyled">
                            <li class="important"><a href="{% url "newsletter_subscribe_request" newsletter.slug %}">Subscribe</a></li>
                            {% if not user.is_authenticated %}
                            <li><a href="{% url "newsletter_update_request" newsletter.slug %}">Update</a></li>
                            {% endif %}
                            <li><a href="{% url "newsletter_unsubscribe_request" newsletter.slug %}">Unsubscribe</a></li>
                            <li class="important"><a href="{% url "newsletter_archive" newsletter.slug %}">Archive</a></li>
                        </ul>
                        {% comment %}
                        <a href="{% url "newsletter_detail" newsletter.slug %}" class="btn btn-primary btn-large">Sign up</a>
                        {% endcomment %}
                    </div><!-- /.content -->
                </div><!-- /.column -->
            </div><!-- /.span3 -->
            {% endfor %}
        {% endif %}
        </div><!-- /.row -->
    </div><!-- /.pricing -->
</div>

{% endblock container %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    $(".ez-checkbox" ).css("float", function(index) {
        return "none";
    });
});
</script>
{% endblock js %}
