{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Newsletter list" %}{% endblock title %}

{% block container %}
<div id="main">
    <div class="pricing boxed">
        <h2 class="page-header">Newsletters - {{ object.title }}</h2>
        <div class="row">
            <div class="span3">
                <div class="column promoted">
                    <h2>{{ object.title }}</h2>
                    <div class="content">
                        <ul class="unstyled">
                            <li class="important"><a href="{% url "newsletter_subscribe_request" object.slug %}">Subscribe</a></li>
                            {% if not user.is_authenticated %}
                            <li><a href="{% url "newsletter_update_request" object.slug %}">Update</a></li>
                            {% endif %}
                            <li><a href="{% url "newsletter_unsubscribe_request" object.slug %}">Unsubscribe</a></li>
                            <li class="important"><a href="{% url "newsletter_archive" object.slug %}">Archive</a></li>
                            <li><a href="../">Back to list</a></li>
                        </ul>
                        {% comment %}
                        <a href="{% url "newsletter_detail" object.slug %}" class="btn btn-primary btn-large">Sign up</a>
                        {% endcomment %}
                    </div><!-- /.content -->
                </div><!-- /.column -->
            </div><!-- /.span3 -->
        </div>
    </div>
</div>
{% endblock container %}
