{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Newsletter archive" %}{% endblock title %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>{% trans "Newsletter archive" %} for {{ newsletter.title }}</h1>
        <table>
            {% for submission in latest %}
            <tr>
                <td><a href="{{ submission.get_absolute_url }}">{{ submission }}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="../">Back to list</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock container %}
