{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}{% endblock title %}

{% block container %}

    <h1>{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}</h1>

    <p>{% trans "You have successfully been unsubscribed." %}</p>

{% endblock container %}