{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Subscription Update" %}{% endblock title %}

{% block container %}
<div class='row'>
    <div class='span9'>

        <h1 class='page-header'>{{ newsletter.title }}</h1>

        <ul class='tabs nav nav-tabs'>
            <li class='active'><a href='#login'>Update this newsletter</a></li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active' id='login'>
                {% if error %}
                    <div class='alert alert-error'>
                        <a class='close' data-dismiss='alert' href='#'>×</a>
                    <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

                    <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:tristan@cblaketahoe.com">tristan@cblaketahoe.com</a></p>
                </div>
                {% else %}
                    <form enctype="multipart/form-data" method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class='form-actions'><input class="btn btn-primary arrow-right" id="id_submit" name="submit" value="{% trans "Update subscription" %}" type="submit" /></div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock container %}
