{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load humanize %}


{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}

{% block container %}
<div class='row'>
    <div class='span9'>

        <h1 class='page-header'>{{ newsletter.title }}</h1>

        <ul class='tabs nav nav-tabs'>
            <li class='active'><a href='#login'>Unsubscribe to this newsletter</a></li>
        </ul>

        <div class='tab-content'>
            <div class='tab-pane active' id='login'>

                <p>Welcome, {{ user }}!</p>

                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% else %}

                <p>{% trans "Do you want to unsubscribe from this newsletter?" %}</p>
                <form enctype="multipart/form-data" method="post" action="{% url "newsletter_unsubscribe_confirm" newsletter.slug %}">
                    {% csrf_token %}
                    <div class='form-actions'><input id="id_submit" class="btn btn-primary arrow-right" name="submit" value="{% trans "Unsubscribe" %}" type="submit" /></div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock container %}
