{% extends 'base.html' %}

{% block content %}
{% load humanize %}
    <h2>Search</h2>
    <form method="get" action="/mls/search-result">
        <h3>Results</h3>

        {% for result in page.object_list %}
        <div class="row premium">
            <div class="span2">
                <a href="{% url 'detailed_property' mls_no=result.mlsno %}" class="thumbnail " >
                    {% if result.get_picture_url %}
                        <img class="lazy" src="{% static 'mls_img' %}{{ result.get_picture_url }}" alt="" />
                    {% else %}
                        <img class="lazy" alt="" src="{% static 'css/images/houses/house_1.jpg' %}">
                    {% endif %}
                </a>
                <h5>Type: {{ result.type }}</h5>
                <h5>Asking Price: $ {{ result.askprice|intcomma }}</h5>
                <h5>MLS #: {{ result.mlsno }}</h5>

                <h6>Bedrooms: {{ result.bedroom }}</h6>
                <h6>Bathrooms: {{ result.bathroom }}</h6>
                <h6>Garage: {{result.garage }}</h6>
                <h6>Sqft: {{result.sqfeet}}</h6>
                <h6>Acreage Range: {{ result.acresno }}</h6>
                <h6>Year Built: {{result.yrblt}}</h6>
                <h6>Lot Dimensions: {{ result.lotdims }}</h6>
            </div>

            <div class="span6">
                <a href="{% url 'detailed_property' mls_no=result.mlsno %}"><h3>{{ result.bedroom }} bedroom house for sale at {{ result.address }}</h3></a>
                <p>{{ result.remarks }}</p>
                {{ result.addendum }}
                <p><h5>Address: {{ result.address }}</h5></p>
            </div>
        </div>
        <hr />
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    </form>
{% endblock %}
