{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% block container %}
<h1 class='page-header'>Login</h1>
            <div class='login-register'>
<div class='row'>
<div class='span4'>
    <ul class='tabs nav nav-tabs'>
        <li class='active'><a href='#login'>Login</a></li>
    </ul>
    <!-- /.nav -->

    <div class='tab-content'>
        <div class='tab-pane active' id='login'>
            {% if form.errors %}
            <div class='alert alert-error'>
                        <a class='close' data-dismiss='alert' href='#'>×</a>Incorrect Login and/or Password!
            </div>
            {% endif %}
            <form class='login' method='post' action='{% url 'account_login' %}'>
                {% csrf_token %}
                <div class='control-group'>
                    <label class='control-label' for='inputLoginLogin'>
                        Login
                        <span class='form-required' title='This field is required.'>*</span>
                    </label>

                    <div class='controls'>
                        <input id='id_login' type='text' name='login' value='{{ form.login.value|default_if_none:'' }}'>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class='control-group'>
                    <label class='control-label' for='id_password'>
                        Password
                        <span class='form-required' title='This field is required.'>*</span>
                    </label>

                    <div class='controls'>
                        <input type='password' id='id_password' name='password'>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
                {% if redirect_field_value %}
                <input type='hidden' name='{{ redirect_field_name }}' value='{{ redirect_field_value }}' />
                {% endif %}

                <div class='form-actions'>
                    <input type='submit' value='Login' class='btn btn-primary arrow-right'>
                </div>
                <!-- /.form-actions -->
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.span4-->

<div class='span8'>
    {% comment %}
    <h2 class='page-header'>Why to work with us?</h2>

    <div class='images row'>
        <div class='item span2'>
            <img src="{% static 'img/icons/circle-dollar.png' %}" alt=''>

            <h3>Cheap services</h3>
        </div>
        <!-- /.item -->
        <div class='item span2'>
            <img src="{% static 'img/icons/circle-search.png' %}" alt=''>

            <h3>Easy to find you</h3>
        </div>
        <!-- /.item -->
        <div class='item span2'>
            <img src="{% static 'img/icons/circle-global.png' %}" alt=''>

            <h3>Act global or local</h3>
        </div>
        <!-- /.item -->
        <div class='item span2'>
            <img src="{% static 'img/icons/circle-package.png' %}" alt=''>

            <h3>All in one package</h3>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.row -->

    <hr class='dotted'>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper libero sed ante auctor vel
        gravida nunc placerat. Suspendisse molestie posuere sem, in viverra dolor venenatis sit amet. Aliquam
        gravida nibh quis justo pulvinar luctus. Phasellus a malesuada massa.
    </p>

    <ul class='unstyled dotted'>
        <li>
            <span class='inner'>
                <strong>Lorem ipsum dolor sit amet</strong><br>
                    Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                    accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                    arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                    ligula dolor
            </span>
        </li>

        <li>
            <span class='inner'>
                <strong>Lorem ipsum dolor sit amet</strong><br>
                    Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                    accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                    arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                    ligula dolor
            </span>
        </li>

        <li>
            <span class='inner'>
                <strong>Lorem ipsum dolor sit amet</strong><br>
                    Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                    accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                    arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                    ligula dolor
            </span>
        </li>
    </ul>
    {% endcomment %}
</div>
</div>
<!-- /.row -->
</div><!-- /.login-register -->
{% endblock %}
