
  {% load humanize %}
  {% load mls_tags %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#F8F8F8" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td width="540">
                                  <table class="full" align="left" width="255"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td align="left" valign="top" style=
                                        "padding: 0px;">
                                          <table border="0" align="left" cellpadding="0"
                                          cellspacing="0" bgcolor="#1BC4DE" style=
                                          "margin: 0;">
                                            <tbody>
                                              <tr>
                                                <td align="left" valign="middle" bgcolor=
                                                "#1BC4DE" style=
                                                "padding: 5px 20px; font-size:12px ; font-style:italic; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 22px; font-style: italic; mso-line-height-rule: exactly;">
                                                CBLaketahoe Weekly Report, {{ date }}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#F8F8F8" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF PRE-HEADER BLOCK--><!-- START OF HEADER BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->

                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <!-- START OF LOGO IMAGE TABLE-->

                                  <table class="full" align="left" width="255"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "padding: 0px; text-transform: uppercase; font-family: Lucida Sans Unicode; color:#666666; font-size:24px; line-height:34px;">
                                        <span><a href=
                                        "http://www.cblaketahoe.com"
                                        style="color:#1bc4de;"><img src=
                                        "http://www.cblaketahoe.com/static/img/logo.png"
                                        alt="logo" width="121" height="48" border="0"
                                        style="display: inline;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF LOGO IMAGE TABLE-->
                                  <!-- START OF SPACER-->

                                  <table width="25" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF CONTACT TABLE-->

                                  <table class="full" align="right" width="255"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="right" style=
                                        "margin: 0; padding-top: 10px; text-transform: uppercase; font-size: 20px; color:#666666; font-family: Lucida Sans Unicode; line-height: 30px; mso-line-height-rule: exactly;">
                                        <span>call us: 530-448-1734</span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF CONTACT TABLE-->
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF HEADER BLOCK--><!-- START OF FEATURED AREA BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#1BC4DE" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" background=
                          "http://www.cblaketahoe.com/static/img/email/featured-bg.png"
                          bgcolor="#1BC4DE" cellpadding="0" cellspacing="0" border="0">
                            <!--[if gte mso 9]> <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:315px;"> <v:fill type="tile" src="http://i.imgur.com/5Udx4T6.png" color="#1bc4de" /> <v:textbox inset="0,0,0,0"> <![endif]-->

                            <tbody>
                              <tr>
                                <td width="600" valign="middle" style="padding: 0px;">
                                  <table class="full" align="center" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30">&nbsp;</td>
                                      </tr><!-- START OF HEADING-->

                                      <tr>
                                        <td class="center" align="center" style=
                                        "margin: 0; padding-bottom:15px; margin:0; text-transform: uppercase; font-family: Lucida Sans Unicode; font-size: 32px; color: #ffffff; line-height: 42px;mso-line-height-rule: exactly;">
                                        <span>Tristan Roberts & Associates</span></td>
                                      </tr><!-- END OF HEADING--><!-- START OF TEXT-->

                                      <tr>
                                        <td class="center" align="center" style=
                                        "margin: 0; padding:0px; margin:0; font-size:18px ; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 28px;mso-line-height-rule: exactly;">
                                        <span style='display:none;'></span></td>
                                      </tr><!-- END OF TEXT--><!-- START OF BUTTON-->
                                      <tr>
                                        <td width="100%" height="30">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <!--[if gte mso 9]> </v:textbox> </v:rect> <![endif]-->
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF FEATURED AREA BLOCK-->
  <!-- START OF 1/3 COLUMN FEATURED PRODUCTS BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#DDDDDD" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->

                  <table class="table_scale" width="600" bgcolor="#DDDDDD" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <!-- START OF LEFT COLUMN-->

                                  <table class="full" align="left" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        "http://denysaputra.me/theme-preview/freshmail/blue/allmodules.html#"
                                        style="color:#1bc4de;"><img class="img_scale"
                                        src="http://www.cblaketahoe.com/media/images/20140348_1_s270.jpg"
                                        alt="portfolio_1" width="160" height="100"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF LEFT COLUMN-->
                                  <!-- START OF SPACER-->

                                  <table width="30" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF MIDDLE COLUMN-->

                                  <table class="full" align="left" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        "http://denysaputra.me/theme-preview/freshmail/blue/allmodules.html#"
                                        style="color:#1bc4de;"><img class="img_scale"
                                        src="http://www.cblaketahoe.com/media/images/20140349_1_s270.jpg"
                                        alt="portfolio_2" width="160" height="100"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF MIDDLE COLUMN-->
                                  <!-- START OF SPACER-->

                                  <table width="20" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF RIGHT COLUMN-->

                                  <table class="full" align="right" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        "http://denysaputra.me/theme-preview/freshmail/blue/allmodules.html#"
                                        style="color:#1bc4de;"><img class="img_scale"
                                        src="http://www.cblaketahoe.com/media/images/20140350_1_s270.jpg"
                                        alt="portfolio_3" width="160" height="100"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF RIGHT COLUMN-->
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#DDDDDD" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER--><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/3 COLUMN FEATURED PRODUCTS BLOCK-->
  <!-- START OF 1/1 COLUMN INTRO TEXT BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td width="600">
                                  <table class="full" align="center" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td align="left" style=
                                        "margin: 0; font-size:14px ; color:#666666; font-family: Helvetica, Arial, sans-serif; line-height: 24px;mso-line-height-rule: exactly; text-align: justify;">
                                        <h4>Active Residential Inventory Summary</h4>
                                        <span><strong>Active Listings:</strong>  Compared to the previous {{ market_report.report_range }}, inventory {{ market_report.icp_change }}d {{ market_report.inventory_change_percent }}% with {{ market_report.new_listings_count }} new listings. The current inventory consists of {{ market_report.active_count }} properties for sale; {{ market_report.single_family_count }} single family homes and {{ market_report.condo_count }} condominiums.  During the previous 12 months inventory has fluctuated from a high of 1,207 in July to a low of 580 in November.  For the same period in {{ market_report.previous_year }}, the active inventory was at {{ market_report.previous_year_active }} residential properties which is a {{ market_report.year_to_year_change }}% {{ market_report.yty_change }} in inventory from last year to this year.<br/><br/><strong>Distressed Properties:</strong>  Of the active listings, there are {{ market_report.short_sale_count }} properties listed as a short sale, and {{ market_report.reo_count }} properties listed as an REO sale.</span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/1 COLUMN INTRO TEXT BLOCK--><!-- START OF DIVIDER IMAGE BLOCK-->

  {% for listing in active_listings %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK-->
  <!-- START OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <!-- START OF LEFT COLUMN-->

                                  <table class="full" align="left" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        ""
                                        style="color:#1bc4de;" href="{{ site_url }}{{ listing.get_detailed_property_url }}"><img class="img_scale"
                                        src="{{ listing.get_thumbnail_270 }}"
                                        alt="{{ listing.id }}" width="160" height="110"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF LEFT COLUMN-->
                                  <!-- START OF SPACER-->

                                  <table width="25" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF RIGHT COLUMN-->

                                  <table class="full" align="right" width="350"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td>
                                          <table width="100%">
                                            <tr>
                                              <td class="center" align="left" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color:#06a7ea; text-decoration: none; font-style: normal; font-weight: normal;">
                                                {{ listing.C_Address }}</a></span></td>

                                                <td class="center" align="right" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color: #313131; text-decoration: none; font-style: normal; font-weight: normal;">
                                                ${{ listing.C_AskPrice|floatformat|intcomma }}</a></span></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr><!-- END OF HEADING--><!-- START OF TEXT-->

                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 10px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.address_location }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->
                                      <tr>
                                        <td style="padding: 5px 0 5px 0;"><img src='http://www.cblaketahoe.com/static/img/border-dashed.png'/></td>
                                      </tr>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.C_Remarks|default_if_none:'Not Available'|safe|truncatechars:'180' }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->

                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/area.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bedrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bathrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF RIGHT COLUMN-->
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->
  {% endfor %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <table class="full" align="left" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top" style=
                                        "padding-top: 15px;">
                                          <table border="0" align="center" cellpadding=
                                          "0" cellspacing="0" bgcolor="#1BC4DE" style=
                                          "margin: 0;">
                                            <tbody>
                                              <tr>
                                                <td align="center" valign="middle"
                                                bgcolor="#1BC4DE" style=
                                                "padding: 5px 20px; text-transform: uppercase; font-size:14px; line-height: 24px; font-family:Arial, sans-serif; mso-line-height-rule: exactly;">
                                                <a href=
                                                "http://www.cblaketahoe.com/realestate/latest-listings"
                                                style=
                                                "font-weight: normal; color:#ffffff;">view more</a></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr><!-- END BUTTON-->
                                    </tbody>
                                  </table>
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF CALL TO ACTION BLOCK--><!-- START OF SOCIAL BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td width="600">
                                  <table class="full" align="center" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td align="left" style=
                                        "margin: 0; font-size:14px ; color:#666666; font-family: Helvetica, Arial, sans-serif; line-height: 24px;mso-line-height-rule: exactly; text-align:justify;">
                                        <h4>Sales Summary</h4>
                                        <span><strong>Total Sales:</strong>
                                          {% with current_sales=market_report.current_properties_sold.object prev_sales=market_report.prev_properties_sold.object prior_prev_sales=market_report.prior_prev_prop_sold.object %}
                                          {{ current_sales.total_sold }} properties (roughly {{ market_report.active_count|get_percentage:current_sales.total_sold }}% of the current inventory) sold in the last {{ market_report.report_range }}.
                                          That’s {{ prev_sales.total_sold|get_delta_percentage:current_sales.total_sold }}% change from the previous 2 weeks and {{ prior_prev_sales.total_sold|get_delta_percentage:current_sales.total_sold }}% change from the prior previous 2 week period.  Year-to-date, we are averaging {{ market_report.current_biweekly_avg.biweekly_avg }} sales every two weeks.
                                          For the same period in {{ market_report.previous_year }}, {{ prev_sales.total_sold }} properties were sold. The year-to-date bi-weekly average for {{ market_report.previous_year }} was {{ market_report.prev_year_biweekly_avg.biweekly_avg }} sales.
                                            {% endwith %}
                                        </span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/1 COLUMN INTRO TEXT BLOCK--><!-- START OF DIVIDER IMAGE BLOCK-->

  {% for listing in sold_listings %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK-->
  <!-- START OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <!-- START OF LEFT COLUMN-->

                                  <table class="full" align="left" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        ""
                                        style="color:#1bc4de;" href="{{ site_url }}{{ listing.get_detailed_property_url }}"><img class="img_scale"
                                        src="{{ listing.get_thumbnail_270 }}"
                                        alt="{{ listing.id }}" width="160" height="110"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF LEFT COLUMN-->
                                  <!-- START OF SPACER-->

                                  <table width="25" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF RIGHT COLUMN-->

                                  <table class="full" align="right" width="350"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td>
                                          <table width="100%">
                                            <tr>
                                              <td class="center" align="left" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color:#06a7ea; text-decoration: none; font-style: normal; font-weight: normal;">
                                                {{ listing.C_Address }}</a></span></td>

                                                <td class="center" align="right" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color: #313131; text-decoration: none; font-style: normal; font-weight: normal;">
                                                ${{ listing.C_AskPrice|floatformat|intcomma }}</a></span></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr><!-- END OF HEADING--><!-- START OF TEXT-->

                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 10px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.address_location }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->

                                      <tr>
                                        <td style="padding: 5px 0 5px 0;"><img src='http://www.cblaketahoe.com/static/img/border-dashed.png'/></td>
                                      </tr>

                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.C_Remarks|default_if_none:'Not Available'|safe|truncatechars:'180' }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->

                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/area.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bedrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bathrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF RIGHT COLUMN-->
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->
  {% endfor %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <table class="full" align="left" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top" style=
                                        "padding-top: 15px;">
                                          <table border="0" align="center" cellpadding=
                                          "0" cellspacing="0" bgcolor="#1BC4DE" style=
                                          "margin: 0;">
                                            <tbody>
                                              <tr>
                                                <td align="center" valign="middle"
                                                bgcolor="#1BC4DE" style=
                                                "padding: 5px 20px; text-transform: uppercase; font-size:14px; line-height: 24px; font-family:Arial, sans-serif; mso-line-height-rule: exactly;">
                                                <a href=
                                                "http://www.cblaketahoe.com/realestate/sold"
                                                style=
                                                "font-weight: normal; color:#ffffff;">view more</a></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr><!-- END BUTTON-->
                                    </tbody>
                                  </table>
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF CALL TO ACTION BLOCK--><!-- START OF SOCIAL BLOCK-->


  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK--><!-- START OF CALL TO ACTION BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td width="600">
                                  <table class="full" align="center" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td align="left" style=
                                        "margin: 0; font-size:14px ; color:#666666; font-family: Helvetica, Arial, sans-serif; line-height: 24px;mso-line-height-rule: exactly; text-align:justify;">
                                        {% with current_sales=market_report.current_properties_sold.object prev_year_sales=market_report.prev_year_properties_sold.object %}
                                        <span><strong>Sales by Property Type:</strong> Of the total sales, {{ current_sales.residence_type|get_key:"Single Family" }} were single family homes, while {{ current_sales.residence_type|get_key:"Condominium/Townhouse" }} were condominiums.  For the same period in {{ market_report.previous_year }}, {{ prev_year_sales.residence_type|get_key:"Single Family" }} single family homes and {{ prev_year_sales.residence_type|get_key:"Condominium/Townhouse" }} condominiums sold.</span>
                                        {% endwith %}
                                        {% with current_stat=market_report.current_stat_aggregate prev_year_stat=market_report.prev_year_stat_aggregate %}
                                        <span>
                                        <p><strong>Median and Average Sales Prices:</strong> Currently the median sales price for the year stands at ${{ current_stat.median_sale_price|intcomma }} ({{ prev_year_stat.median_sale_price|get_delta_percentage:current_stat.median_sale_price }}% change from {{ market_report.previous_year }} ).  For the same period in {{ market_report.previous_year }} the median sales price was ${{ prev_year_stat.median_sale_price|intcomma }}.  The average sales price so far this year is ${{ current_stat.average_sale_price|intcomma }} ({{ prev_year_stat.average_sale_price|get_delta_percentage:current_stat.average_sale_price }}%) as compared to {{ market_report.previous_year }}'s average price of ${{ prev_year_stat.average_sale_price|floatformat|intcomma }} during the same period.</p>
                                        </span>
                                        {% endwith %}

                                        <span>
                                          {% with current_segment=market_report.segment_report ytd_segment=market_report.ytd_segment_report prev_ytd_segment=market_report.prev_ytd_segment_report current_luxury_stat=market_report.current_luxury_stat_aggregate prev_luxury_stat=market_report.prev_year_luxury_stat_aggregate %}
                                          <p><strong>Sales by Price Range or Market Segment:</strong>
                                                During the past two weeks, {{ current_segment.0_499999 }} properties sold at a price below $500K, {{ current_segment.500000_999999 }} properties sold between $500K and $1M and {{ current_segment.1000000 }} properties sold over $1M.
                                          </p>
                                          <p>
                                                Year-to-date properties sold below $500K represent {{ market_report.active_count|get_percentage:ytd_segment.0_499999 }}% of the sales, while $500K - $1M and those sold over $1M represent {{ market_report.active_count|get_percentage:ytd_segment.500000_999999 }}% and {{ market_report.active_count|get_percentage:ytd_segment.1000000 }}% of the total sales.
                                          </p>
                                          <p>
                                                Comparing year-to-date {{ market_report.current_year }} to {{ market_report.previous_year }}, the percentage of total sales of properties under $500K has changed by {{ prev_ytd_segment.0_499999|get_delta_percentage:current_segment.0_499999 }}%.  The mid-range market changed by {{ prev_ytd_segment.500000_999999|get_delta_percentage:current_segment.500000_999999 }}% from last year and sales over 1M are up {{ prev_ytd_segment.1000000|get_delta_percentage:current_segment.1000000 }}% from {{ market_report.previous_year }}.
                                          </p>
                                          <p>
                                                There have been {{ ytd_segment.1000000 }} luxury properties ($1M+) sold in {{ market_report.current_year }} as compared to {{ prev_ytd_segment.1000000 }} properties sold last year for the same period.  The median sales price for luxury properties in {{ market_report.current_year }} thus far is ${{ current_luxury_stat.median_sale_price|floatformat|intcomma }} as compared to a median price of ${{ prev_luxury_stat.median_sale_price|floatformat|intcomma }} in {{ market_report.previous_year }} which is a ({{ prev_luxury_stat.median_sale_price|get_delta_percentage:current_luxury_stat.median_sale_price }}%) change.  The average sales price of luxury homes in {{ market_report.current_year }} is ${{ current_luxury_stat.average_sale_price|floatformat|intcomma }} as compared to ${{ prev_luxury_stat.average_sale_price|floatformat|intcomma }} in {{ market_report.previous_year }} which is a ({{ prev_luxury_stat.average_sale_price|get_delta_percentage:current_luxury_stat.average_sale_price|floatformat|intcomma }}%) change.
                                          </p>
                                          {% endwith %}
                                        </span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/1 COLUMN INTRO TEXT BLOCK--><!-- START OF DIVIDER IMAGE BLOCK-->


  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td width="600">
                                  <table class="full" align="center" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td align="left" style=
                                        "margin: 0; font-size:14px ; color:#666666; font-family: Helvetica, Arial, sans-serif; line-height: 24px;mso-line-height-rule: exactly; text-align: justify;">
                                        <h4>Pending Sales Summary</h4>
                                        <span><strong>Pending Sales:</strong>The number of properties currently pending stands at {{ pending_listings_count }}.</span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/1 COLUMN INTRO TEXT BLOCK--><!-- START OF DIVIDER IMAGE BLOCK-->

  {% for listing in pending_listings %}

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK-->
  <!-- START OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->

  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <!-- START OF LEFT COLUMN-->

                                  <table class="full" align="left" width="160"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
                                        <span><a href=
                                        ""
                                        style="color:#1bc4de;" href="{{ site_url }}{{ listing.get_detailed_property_url }}"><img class="img_scale"
                                        src="{{ listing.get_thumbnail_270 }}"
                                        alt="{{ listing.id }}" width="160" height="110"
                                        border="0" style=
                                        "display: block;" /></a></span></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF LEFT COLUMN-->
                                  <!-- START OF SPACER-->

                                  <table width="25" align="left" cellpadding="0"
                                  cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <tbody>
                                      <tr>
                                        <td width="100%" height="30"></td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF SPACER-->
                                  <!-- START OF RIGHT COLUMN-->

                                  <table class="full" align="right" width="350"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td>
                                          <table width="100%">
                                            <tr>
                                              <td class="center" align="left" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color:#06a7ea; text-decoration: none; font-style: normal; font-weight: normal;">
                                                {{ listing.C_Address }}</a></span></td>

                                                <td class="center" align="right" style=
                                                "padding-bottom: 5px; font-family: Lucida Sans Unicode; color: #06a7ea; font-size:16px; line-height:18px; mso-line-height-rule: exactly;">
                                                <span><a class="heading-link" href=
                                                "{{ site_url }}{{ listing.get_detailed_property_url }}"
                                                style=
                                                "color: #313131; text-decoration: none; font-style: normal; font-weight: normal;">
                                                ${{ listing.C_AskPrice|floatformat|intcomma }}</a></span></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr><!-- END OF HEADING--><!-- START OF TEXT-->

                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:14px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 10px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.address_location }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->

                                      <tr>
                                        <td style="padding: 5px 0 5px 0;"><img src='http://www.cblaketahoe.com/static/img/border-dashed.png'/></td>
                                      </tr>

                                      <tr>
                                        <td class="center" align="left" style=
                                        "margin: 0; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                        <span>{{ listing.C_Remarks|default_if_none:'Not Available'|safe|truncatechars:'180' }}</span></td>
                                      </tr><!-- END OF TEXT--><!-- START BUTTON-->

                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/area.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}</td>
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bedrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                              <td class="spacer" width="10"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">
                                                <img src="http://www.cblaketahoe.com/static/img/icons/bathrooms.png"/>
                                              </td>
                                              <td class="spacer" width="3"></td>
                                              <td style="padding-top:5px; font-size:12px ; color: #707070; font-family: Helvetica, Arial, sans-serif; line-height: 15px;mso-line-height-rule: exactly;">{% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table><!-- END OF RIGHT COLUMN-->
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK-->
  {% endfor %}
  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="spacer" width="30"></td>

                                <td width="540">
                                  <table class="full" align="left" width="540"
                                  cellpadding="0" cellspacing="0" border="0" style=
                                  "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                  <!-- START OF HEADING-->

                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top" style=
                                        "padding-top: 15px;">
                                          <table border="0" align="center" cellpadding=
                                          "0" cellspacing="0" bgcolor="#1BC4DE" style=
                                          "margin: 0;">
                                            <tbody>
                                              <tr>
                                                <td align="center" valign="middle"
                                                bgcolor="#1BC4DE" style=
                                                "padding: 5px 20px; text-transform: uppercase; font-size:14px; line-height: 24px; font-family:Arial, sans-serif; mso-line-height-rule: exactly;">
                                                <a href=
                                                "http://www.cblaketahoe.com/realestate/under-contract"
                                                style=
                                                "font-weight: normal; color:#ffffff;">view more</a></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr><!-- END BUTTON-->
                                    </tbody>
                                  </table>
                                </td>

                                <td class="spacer" width="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF CALL TO ACTION BLOCK--><!-- START OF SOCIAL BLOCK-->


  <table align="center" bgcolor="#F8F8F8" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td valign="top" width="100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="100%">
                  <table class="table_scale" width="600" bgcolor="#FFFFFF" cellpadding=
                  "0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <table width="600" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center" style=
                                "margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;">
                                <span><img class="divider" src=
                                "http://www.cblaketahoe.com/static/img/email/divider-image.png"
                                alt="divider image" width="600" height="1" border="0"
                                style="display: block;" /></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table><!-- START OF VERTICAL SPACER-->

                  <table bgcolor="#FFFFFF" class="table_scale" width="600" align="center"
                  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" height="40">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table><!-- END OF VERTICAL SPACER-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- END OF DIVIDER IMAGE BLOCK--><!-- START OF CALL TO ACTION BLOCK-->


<!-- START OF FOOTER -->
