<!DOCTYPE html>
<html lang="en">
<head>
<title>CBLAKETAHOE</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
{% load humanize %}
<body style="background: #FFFFFF;">
    <table cellspacing="0" border="0" cellpadding="10" width="100%">
        <tr>
            <td align="center" valign="top" style="font-size: 12px; font-family: Tahoma; color: #000;">
                <table id="Table_01" width="800" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="">
                            <table width="600" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <a href="/">
                                          <div>
                                                <img style="width:150px;height:35px;" src="http://www.cblaketahoe.com/static/img/chaselogo.jpg" alt="">
                                                <div style="display:inline; float:right; margin-right:20%">
                                                    <h1 style="margin:0px; color: black !important; font-weight:normal;">Tristan Roberts &amp; Associates</h1><span style="font-weight:normal; font-size:14px; color:black;">Lake Tahoe Real Estate &amp; Truckee Real Estate</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                    <td><br/></td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Lead Information</h3>
                        </td>
                    </tr>
                    <tr>
                    <td><h4>Name:</h4>{{ name }}</td>
                    <td>
                    </tr>
                    <tr>
                    <td><h4>Email: </h4>{{ email }}</td>
                    </tr>
                    <tr>
                    <td><h4>Phone: </h4>{{ phone }}</td>
                    </tr>
                    <tr>
                    <td><h4>Message: </h4> {{ message }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
<style type="text/css">
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 19px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 19px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}


table tr td div img {
    width : 150px;
    height: 35px;
}
</style>
</html>
