{% load i18n %}
{% blocktrans with site.domain as site_domain and user.username as username %}

<p>Dear {{ username }},</p>

<p>You're receiving this e-mail because you are a user of <strong><a href='http://cblaketahoe.com'>CBLakeTahoe.com</a></strong> and we are moving to a new website. We are requesting you to change you password as part of our migration to the new website. Please click the link below to reset your password.<br/>
{{ password_reset_url }}</p>

<p>In case you forgot, your username is <strong>{{ username }}</strong>.</p>

<p>Thanks for using our site!</p>
{% endblocktrans %}
