{% extends 'base.html' %}

{% block content %}
{% load humanize %}
{% load compress %}
<div class='row'>
    <div class="span4" style="margin-left: 0%;">
        <div class='span4 well lform'>
            <form class="form-inline" action="/realestate/{{ community_selected }}">
                <fieldset>
                    <div class="row">
                        <div class="span1">
                            Status
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-group">
                            <div class="span1">
                                <input style="display: inline;" {% if 'active' in status_val or not status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="active"> Active&nbsp;&nbsp;
                            </div>
                            <div class="span2">
                                <input style="display: inline;" {% if 'contingent' in status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="contingent"> Under Contract&nbsp;&nbsp;
                            </div>
                            <div class="span1">
                                <input style="display: inline;" {% if 'sold' in status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="sold"> Sold&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div style="height: 10px" class="clear"></div>
                    <div class="row">
                        <div class="span4">
                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Property Type</label>
                                        <div class="controls">
                                            <select id="property_type" name="property_type" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                {% if 'All' in property_type_val %}
                                                    <option selected="selected" value="All">All</option>
                                                {% else %}
                                                    <option value="All">All</option>
                                                {% endif %}
                                                {% for property_type in property_type %}
                                                    {% if property_type.name in property_type_val %}
                                                    <option selected="selected" value="{{ property_type.name }}">{{ property_type.name }}</option>
                                                    {% else %}
                                                    <option value="{{ property_type.name }}">{{ property_type.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Views</label>
                                        <div class="controls">
                                            <select id="views" name="views" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                {% if 'Any' in views_val %}
                                                    <option selected="selected" value="Any">Any</option>
                                                {% else %}
                                                    <option value="Any">Any</option>
                                                {% endif %}
                                                {% for view in views %}
                                                    {% if view.name in views_val %}
                                                        <option selected="selected" value="{{ view.name }}">{{ view }}</option>
                                                    {% else %}
                                                        <option value="{{ view.name }}">{{ view }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Setting</label>
                                        <div class="controls">
                                            <select id="setting" name="setting" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                {% if 'All' in setting_val %}
                                                    <option selected="selected" value="All">All</option>
                                                {% else %}
                                                    <option value="All">All</option>
                                                {% endif %}
                                                {% for setting in setting %}
                                                    {% if setting.name in setting_val %}
                                                    <option selected="selected" value="{{ setting.name }}">{{ setting.name }}</option>
                                                    {% else %}
                                                    <option value="{{ setting.name }}">{{ setting.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">MLS Number</label>
                                        <div class="controls">
                                            <input name="mlsno" value="{{ mlsno_val }}" id="mlsno" type="text" class="input-small focused"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span4">
                                    <div class="row">
                                        <div class="span2">
                                            <div class="control-group">
                                                <label for="focusedInput" class="control-label">HOA Amenities</label>
                                                <div class="controls">
                                                    <select id="hoa_amenities" name="hoa_amenities" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                        {% if 'Any' in hoa_amenities_val %}
                                                            <option selected="selected" value="Any">Any</option>
                                                        {% else %}
                                                            <option value="Any">Any</option>
                                                        {% endif %}
                                                        {% for hoa in hoa_amenities %}
                                                            {% if hoa.name in hoa_amenities_val %}
                                                                <option selected="selected" value="{{ hoa.name }}">{{ hoa }}</option>
                                                            {% else %}
                                                                <option value="{{ hoa.name }}">{{ hoa }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="control-group">
                                                <label for="focusedInput" class="control-label">Waterfront Amenities</label>
                                                <div class="controls">
                                                    <select id="waterfront_amenities" name="waterfront_amenities" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                        {% if 'Any' in waterfront_amenities_val %}
                                                            <option selected="selected" value="Any">Any</option>
                                                        {% else %}
                                                            <option value="Any">Any</option>
                                                        {% endif %}
                                                        {% for item in waterfront_amenities %}
                                                            {% if item.name in waterfront_amenities_val %}
                                                                <option selected="selected" value="{{ item.name }}">{{ item }}</option>
                                                            {% else %}
                                                                <option value="{{ item.name }}">{{ item }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span4">
                                    <div class="row">
                                        <div class="span2">
                                            <div class="control-group">
                                                <label for="focusedInput" class="control-label">Community</label>
                                                <div class="controls">
                                                    <select id='community' name='community' class='input-medium focused'>
                                                        {% for c in community %}
                                                        {% if c.slug == community_selected %}
                                                        <option selected='selected' value='{{ c.get_absolute_url }}'>{{ c.name }}</option>
                                                        {% else %}
                                                        {% if c.slug != 'none' %}
                                                        <option value='{{ c.get_absolute_url }}'>{{ c.name }}</option>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="control-group">
                                                <label for="focusedInput" class="control-label">Subdivision</label>
                                                <div class="controls">
                                                    <select id="area" name="area" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                                        {% if 'Any' in area_val %}
                                                            <option selected="selected" value="Any">Any</option>
                                                        {% else %}
                                                            <option value="Any">Any</option>
                                                        {% endif %}
                                                        {% for item in area %}
                                                            {% if item.name != None %}
                                                                {% if item.name in area_val %}
                                                                    <option selected="selected" value="{{ item.name }}">{{ item }}</option>
                                                                {% else %}
                                                                    <option value="{{ item.name }}">{{ item }}</option>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Bedrooms:</label>
                                        <div class="controls">
                                            <select id="bedroom" name="bedroom" class="input-medium focused">
                                                <option value="Any">Any</option>
                                                <option value="2" {% if '2' == bedroom_val %} selected="selected"{% endif %}>2+</option>
                                                <option value="3" {% if '3' == bedroom_val %} selected="selected"{% endif %}>3+</option>
                                                <option value="4" {% if '4' == bedroom_val %} selected="selected"{% endif %}>4+</option>
                                                <option value="5" {% if '5' == bedroom_val %} selected="selected"{% endif %}>5+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <label for="focusedInput" class="control-label">Bathrooms</label>
                                    <div class="controls">
                                        <select name="bathroom" id="bathroom" class="input-medium focused">
                                            <option value="Any">Any</option>
                                            <option value="2" {% if '2' == bathroom_val %} selected="selected"{% endif %}>2+</option>
                                            <option value="3" {% if '3' == bathroom_val %} selected="selected"{% endif %}>3+</option>
                                            <option value="4" {% if '4' == bathroom_val %} selected="selected"{% endif %}>4+</option>
                                            <option value="5" {% if '5' == bathroom_val %} selected="selected"{% endif %}>5+</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Minimum Price</label>
                                        <div class="controls">
                                            <select name="pricerangemin" class="input-medium focused" id='pricerangemin'>
                                                <option value="">No Minimum</option>
                                                <option {% if price_range_min == '50000' %}selected='selected'{% endif %} value="50000">50,000</option>
                                                <option {% if price_range_min == '100000' %}selected='selected'{% endif %} value="100000">100,000</option>
                                                <option {% if price_range_min == '200000' %}selected='selected'{% endif %} value="200000">200,000</option>
                                                <option {% if price_range_min == '300000' %}selected='selected'{% endif %} value="300000">300,000</option>
                                                <option {% if price_range_min == '400000' %}selected='selected'{% endif %} value="400000">400,000</option>
                                                <option {% if price_range_min == '500000' %}selected='selected'{% endif %} value="500000">500,000</option>
                                                <option {% if price_range_min == '600000' %}selected='selected'{% endif %} value="600000">600,000</option>
                                                <option {% if price_range_min == '700000' %}selected='selected'{% endif %} value="700000">700,000</option>
                                                <option {% if price_range_min == '800000' %}selected='selected'{% endif %} value="800000">800,000</option>
                                                <option {% if price_range_min == '900000' %}selected='selected'{% endif %} value="900000">900,000</option>
                                                <option {% if price_range_min == '1000000' %}selected='selected'{% endif %} value="1000000">1M</option>
                                                <option {% if price_range_min == '1500000' %}selected='selected'{% endif %} value="1500000">1.5M</option>
                                                <option {% if price_range_min == '2000000' %}selected='selected'{% endif %} value="2000000">2M</option>
                                                <option {% if price_range_min == '2500000' %}selected='selected'{% endif %} value="2500000">2.5M</option>
                                                <option {% if price_range_min == '3000000' %}selected='selected'{% endif %} value="3000000">3M</option>
                                                <option {% if price_range_min == '4000000' %}selected='selected'{% endif %} value="4000000">4M</option>
                                                <option {% if price_range_min == '5000000' %}selected='selected'{% endif %} value="5000000">5M</option>
                                                <option {% if price_range_min == '6000000' %}selected='selected'{% endif %} value="6000000">6M</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <label for="focusedInput" class="control-label">Maximum Price</label>
                                    <div class="controls">
                                        <select name="pricerangemax" class="input-medium focused" id='pricerangemax'>
                                            <option value="">No Maximum</option>
                                            <option {% if price_range_max == '50000' %}selected='selected'{% endif %} value="50000">50,000</option>
                                            <option {% if price_range_max == '100000' %}selected='selected'{% endif %} value="100000">100,000</option>
                                            <option {% if price_range_max == '200000' %}selected='selected'{% endif %} value="200000">200,000</option>
                                            <option {% if price_range_max == '300000' %}selected='selected'{% endif %} value="300000">300,000</option>
                                            <option {% if price_range_max == '400000' %}selected='selected'{% endif %} value="400000">400,000</option>
                                            <option {% if price_range_max == '500000' %}selected='selected'{% endif %} value="500000">500,000</option>
                                            <option {% if price_range_max == '600000' %}selected='selected'{% endif %} value="600000">600,000</option>
                                            <option {% if price_range_max == '700000' %}selected='selected'{% endif %} value="700000">700,000</option>
                                            <option {% if price_range_max == '800000' %}selected='selected'{% endif %} value="800000">800,000</option>
                                            <option {% if price_range_max == '900000' %}selected='selected'{% endif %} value="900000">900,000</option>
                                            <option {% if price_range_max == '1000000' %}selected='selected'{% endif %} value="1000000">1M</option>
                                            <option {% if price_range_max == '1500000' %}selected='selected'{% endif %} value="1500000">1.5M</option>
                                            <option {% if price_range_max == '2000000' %}selected='selected'{% endif %} value="2000000">2M</option>
                                            <option {% if price_range_max == '2500000' %}selected='selected'{% endif %} value="2500000">2.5M</option>
                                            <option {% if price_range_max == '3000000' %}selected='selected'{% endif %} value="3000000">3M</option>
                                            <option {% if price_range_max == '4000000' %}selected='selected'{% endif %} value="4000000">4M</option>
                                            <option {% if price_range_max == '5000000' %}selected='selected'{% endif %} value="5000000">5M</option>
                                            <option {% if price_range_max == '6000000' %}selected='selected'{% endif %} value="6000000">6M</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Acreage:</label>
                                        <div class="controls">
                                            <select id="acreage" name="acreage" class="input-medium focused">
                                                <option value="Any">Any</option>
                                                <option value="0.5" {% if '0.5' == acreage_val %} selected="selected"{% endif %}>0.5+</option>
                                                <option value="1" {% if '1' == acreage_val %} selected="selected"{% endif %}>1+</option>
                                                <option value="2" {% if '2' == acreage_val %} selected="selected"{% endif %}>2+</option>
                                                <option value="5" {% if '5' == acreage_val %} selected="selected"{% endif %}>5+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 pull-left" style="margin-top: 10px;">
                                <button id="quick-search-reset" class="btn btn-danger pull-left" style="margin-left: 20px;" type="reset">
                                    Clear Form
                                </button>

                            </div>
                            <div class="span2 pull-right" style="margin-top: 10px;">
                                <button class="btn btn-primary pull-right" type="submit">
                                    Search
                                </button>

                            </div>
                        </div>

                    </div>

                </fieldset>
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class='span8' style='margin-left:4%'>
        <script>
            {% if properties_plot %}
            var properties_plot = {{ properties_plot.object_list|safe }};
            {% endif %}
            {% if plottable_content_json %}
            var plottable_content_json = {{ plottable_content_json|safe }};
            {% endif %}
        </script>
        <div class="span8" style='width:95%; height: 100%; margin-left: 8%;'>
            <div id='map_canvas' alt="{{ community_selected }} map" style='width: 580px; height: 400px;'>
                <p class="loading-map">Loading Map...</p>
            </div>
        </div>
        <div class="row" style='margin-left:8%; margin-top:6%;'>
            {{community_desc}}
        </div>
    </div>
</div>
<div class='row'>
    <div class='span12'>
        <br/>
        <h2 itemScope itemType="http://www.schema.org/PostalAddress"><span itemprop="addressLocality">{{ community_val }}</span> Real Estate Properties</h2><hr/>
        {% if properties %}
        <div class="pagination">
            <div class="span4 select_height">Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</div>
            <ul class="pull-right">
                <li>
                    {% if properties.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ properties.number }} of {{ properties.paginator.num_pages }}</a></li>
                <li>
                    {% if properties.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class='span12' alt="Available real estate properties in {{ community_selected }}">
        <ul class='thumbnails'>
            {% for property in properties %}
            <li class='span2' itemScope itemType="http://www.schema.org/Offer">
                <div class='thumbnail mini_property {{ property.get_badge }}'>
                    <a href='{{ property.get_detailed_property_url }}'><img itemprop="image" src='{{ property.get_picture_url }}' alt='{{ property.C_MLSNo }} home preview'></a>
                    <h5>Price : <span itemprop="priceCurrency">$</span><span itemprop="price">{{ property.C_AskPrice|intcomma }}</span></h5>
                    <h5>MLS No: {{ property.C_MLSNo }}</h5>
                    <p><a itemprop="url" href='{{property.get_detailed_property_url}}'><span itemprop="itemOffered">{{ property.C_Address }}</span></a></p>
                </div>
            </li>
            {% empty %}
            <li class='span8'>
            <h3>Your search rendered no properties.</h3>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if properties %}
    <div class='span12'>
        <div class="pagination">
            <div class="span4 select_height">Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</div>
            <ul class="pull-right">
                <li>
                    {% if properties.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ properties.number }} of {{ properties.paginator.num_pages }}</a></li>
                <li>
                    {% if properties.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block extra-header %}
{% compress js %}
<script type='text/javascript' src='{{ STATIC_URL }}js/mls/community.js'></script>
{% endcompress %}
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js'></script>
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-affix.js'></script>
{% endblock extra-header %}
