{% extends 'base.html' %}

{% block content %}
{% load humanize %}
<div class='row'>
    <div id='affix-me' class='span4'  data-spy='affix' data-offset-top='500'>
        <div class='row' >
            <h4 class='span3 well'>Current Community</h4>
            <div class='span3 well' id='community_combo'>
                <label for='community'>Community : </label>
                <select id='community' name='community' class='combobox pull-left' type='text'>
                    <option value='all'>All</option>
                    {% for c in community %}
                    {% if c.slug == community_selected %}
                    <option selected='selected' value='{{ c.get_absolute_url }}'>{{ c.name }}</option>
                    {% else %}
                    {% if c.slug != 'none' %}
                    <option value='{{ c.get_absolute_url }}'>{{ c.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <form action='.' method='get' id='filter_form'>
        <div class='row' >
            <h4 class='span3 well'>Filter by Price</h4>
            <div class='span3 well'>
                <label for="focusedInput" class="control-label">Minimum Price</label>
                <div class="controls">
                    <select name="pricerangemin" class="input-medium focused" id='pricerangemin'>
                        <option value="">No Minimum</option>
                        <option {% if price_range_min == '50000' %}selected='selected'{% endif %} value="50000">50,000</option>
                        <option {% if price_range_min == '100000' %}selected='selected'{% endif %} value="100000">100,000</option>
                        <option {% if price_range_min == '200000' %}selected='selected'{% endif %} value="200000">200,000</option>
                        <option {% if price_range_min == '300000' %}selected='selected'{% endif %} value="300000">300,000</option>
                        <option {% if price_range_min == '400000' %}selected='selected'{% endif %} value="400000">400,000</option>
                        <option {% if price_range_min == '500000' %}selected='selected'{% endif %} value="500000">500,000</option>
                        <option {% if price_range_min == '600000' %}selected='selected'{% endif %} value="600000">600,000</option>
                        <option {% if price_range_min == '700000' %}selected='selected'{% endif %} value="700000">700,000</option>
                        <option {% if price_range_min == '800000' %}selected='selected'{% endif %} value="800000">800,000</option>
                        <option {% if price_range_min == '900000' %}selected='selected'{% endif %} value="900000">900,000</option>
                        <option {% if price_range_min == '1000000' %}selected='selected'{% endif %} value="1000000">1M</option>
                        <option {% if price_range_min == '1500000' %}selected='selected'{% endif %} value="1500000">1.5M</option>
                        <option {% if price_range_min == '2000000' %}selected='selected'{% endif %} value="2000000">2M</option>
                        <option {% if price_range_min == '2500000' %}selected='selected'{% endif %} value="2500000">2.5M</option>
                        <option {% if price_range_min == '3000000' %}selected='selected'{% endif %} value="3000000">3M</option>
                        <option {% if price_range_min == '4000000' %}selected='selected'{% endif %} value="4000000">4M</option>
                        <option {% if price_range_min == '5000000' %}selected='selected'{% endif %} value="5000000">5M</option>
                        <option {% if price_range_min == '6000000' %}selected='selected'{% endif %} value="6000000">6M</option>
                    </select>
                </div>
                <label for="focusedInput" class="control-label">Maximum Price</label>
                <div class="controls">
                    <select name="pricerangemax" class="input-medium focused" id='pricerangemax'>
                        <option value="">No Maximum</option>
                        <option {% if price_range_max == '50000' %}selected='selected'{% endif %} value="50000">50,000</option>
                        <option {% if price_range_max == '100000' %}selected='selected'{% endif %} value="100000">100,000</option>
                        <option {% if price_range_max == '200000' %}selected='selected'{% endif %} value="200000">200,000</option>
                        <option {% if price_range_max == '300000' %}selected='selected'{% endif %} value="300000">300,000</option>
                        <option {% if price_range_max == '400000' %}selected='selected'{% endif %} value="400000">400,000</option>
                        <option {% if price_range_max == '500000' %}selected='selected'{% endif %} value="500000">500,000</option>
                        <option {% if price_range_max == '600000' %}selected='selected'{% endif %} value="600000">600,000</option>
                        <option {% if price_range_max == '700000' %}selected='selected'{% endif %} value="700000">700,000</option>
                        <option {% if price_range_max == '800000' %}selected='selected'{% endif %} value="800000">800,000</option>
                        <option {% if price_range_max == '900000' %}selected='selected'{% endif %} value="900000">900,000</option>
                        <option {% if price_range_max == '1000000' %}selected='selected'{% endif %} value="1000000">1M</option>
                        <option {% if price_range_max == '1500000' %}selected='selected'{% endif %} value="1500000">1.5M</option>
                        <option {% if price_range_max == '2000000' %}selected='selected'{% endif %} value="2000000">2M</option>
                        <option {% if price_range_max == '2500000' %}selected='selected'{% endif %} value="2500000">2.5M</option>
                        <option {% if price_range_max == '3000000' %}selected='selected'{% endif %} value="3000000">3M</option>
                        <option {% if price_range_max == '4000000' %}selected='selected'{% endif %} value="4000000">4M</option>
                        <option {% if price_range_max == '5000000' %}selected='selected'{% endif %} value="5000000">5M</option>
                        <option {% if price_range_max == '6000000' %}selected='selected'{% endif %} value="6000000">6M</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='row' >
            <h4 class='span3 well'>Setting</h4>
            <div class='span3 well'>
                <ul>
                    <label><input name='all' type='checkbox' {% if 'setting' in status %}checked{% endif %} value='setting'/>All</label>
                    {% for s in setting %}
                    {% ifnotequal s.name 'Street' %}
                    <label><input name='setting' type='checkbox' {% if s.name in settings %}checked{% endif %} value='{{ s.name }}'/> {{ s.name }}</label>
                    {% endifnotequal %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='row' >
            <h4 class='span3 well'>View Options</h4>
            <div class='span3 well'>
                <ul>
                    <label><input name='type' {% if 'active' in status %}checked{% endif %} type='checkbox' value='sale'/> For Sale</label>
                    <label><input name='type' {% if 'sold' in status %}checked{% endif %} type='checkbox' value='sold'/> Recently Sold</label>
                    <label><input name='type' {% if 'reduced' in status %}checked{% endif %} type='checkbox' value='reduced'/> Reduced Price</label>
                    {% if related_content %}
                    <label><input name='related' id='related_content' type='checkbox' value='related'/> Related Content </label>
                    {% endif %}
                </ul>
            </div>
        </div>
        </form>
    </div>
    <div class='span8  pull-right'>
        <script>
            {% if properties_plot %}
            var properties_plot = {{ properties_plot.object_list|safe }};
            {% endif %}
            {% if plottable_content_json %}
            var plottable_content_json = {{ plottable_content_json|safe }};
            {% endif %}
        </script>
        <div id='map_canvas'><p class="loading-map">Loading Map...</p></div><br />


        <div class='row'>
            <h2>Real Estate Properties</h2><hr/>
            {% if properties %}
            <div class="pagination">
                <div class="span4 select_height">Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</div>
                <ul class="pull-right">
                    <li>
                        {% if properties.has_previous %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.previous_page_number }}">Prev</a>
                        {% else %}
                            <a href="#" >Prev</a>
                        {% endif %}
                    </li>
                    <li><a href="">Page {{ properties.number }} of {{ properties.paginator.num_pages }}</a></li>
                    <li>
                        {% if properties.has_next %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.next_page_number }}">Next</a>
                        {% else %}
                            <a href="{{ request.build_absolute_uri }}#">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <ul class='thumbnails'>
            {% for property in properties %}
            <li class='span2'>
                <div class='thumbnail mini_property {{ property.get_badge }}'>
                    <a href='{{ property.get_detailed_property_url }}'><img src='{{ property.get_picture_url }}' alt=''></a>
                    <h5>Price : ${{ property.C_AskPrice|intcomma }}</h5>
                    <h5>MLS No: {{ property.C_MLSNo }}</h5>
                    <p><a href='property.get_detailed_property_url'>{{ property.C_Address }}</a></p>
                </div>
            </li>
            {% empty %}
            <li class='span8'>
            <h3>Your search rendered no properties.</h3>
            </li>
            {% endfor %}
        </ul>
        {% if properties %}
        <div class='row'>
            <div class="pagination">
                <div class="span4 select_height">Showing {{ properties.start_index }} - {{ properties.end_index }} of {{ properties.paginator.count }} results</div>
                <ul class="pull-right">
                    <li>
                        {% if properties.has_previous %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.previous_page_number }}">Prev</a>
                        {% else %}
                            <a href="#" >Prev</a>
                        {% endif %}
                    </li>
                    <li><a href="">Page {{ properties.number }} of {{ properties.paginator.num_pages }}</a></li>
                    <li>
                        {% if properties.has_next %}
                            <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ properties.next_page_number }}">Next</a>
                        {% else %}
                            <a href="{{ request.build_absolute_uri }}#">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block extra-header %}
<script type='text/javascript' src='{{ STATIC_URL }}js/mls/community.js'></script>
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js'></script>
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-affix.js'></script>
{% endblock extra-header %}
