{% extends 'base.html' %}
{% block content %}
{% load cblt_commons %}
{% load humanize %}
{% load compress %}
<div class="row">
    <div itemscope itemtype="http://schema.org/Offer" class="span12">
        <div class="row">
            {% if messages %}
            <div class="alert">
                  <h4>System Message :</h4>
                  <ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
            </div>
            {% endif %}
            <div class="span5">
                <h3>{{ property|format_address_h3:41|safe }}</h3>
                <h6>MLS No.: {{ property.C_MLSNo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: {{ property.C_Status.name|lower|capfirst }}</h6>
                <h6>B/B/G: {{ property.C_NoBeds }}/{{ property.C_NoBaths1 }}/{{ property.C_Garage }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SqFt: {{ property.C_SqFeet }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year Built: {{ property.C_YrBlt }}</h6>
                <h6>Acreage: {{ property.C_AcresNo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lot Size: {{ property.C_LotDims }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Furnished: {{ property.C_Furnished }}</h6>
            </div>
            <div class="span3 text-right">
                <h2 itemprop="price">${{ property.C_AskPrice|intcomma }}</h2>
            </div>
            <div class="span1 pull-right">
                {% if user.is_superuser %}
                <a class="btn btn-primary" href="{{ property.get_admin_url }}">Edit</a>
                {% endif %}
            </div>
        </div>
        <span itemprop="itemOffered" itemScope itemType="http://schema.org/Residence">
            <div class="row">
                <br/>
                <ul class="nav nav-tabs" id="PicturesTab" style="margin-left: 20px; ">
                    <li><a href="#listing_photos_tab" data-toggle="tab">Listing Photos</a></li>
                    <li><a href="#extra_photos" data-toggle="tab">{% if extra_img %}Extra Photos{% else %}Request Photos{% endif %}</a></li>
                    <li><a href="#listing-map" data-toggle="tab">Map w/ points of interest</a></li>
                    <li><a href="#street-map" data-toggle="tab">Street View</a></li>
                    <li><a href="#market-activity" data-toggle="tab">Market Activity</a></li>
                </ul>
                <div class="tab-content">
                    <div id="listing_photos_tab" class="tab-pane 12" style="margin-left:0%">
                        <div class="span12" id="listing_photos">
                            <div id="gallery-simple-group" class="royalSlider rsDefault">
                            {% for image in mls_imgs %}
                                <a class="rsImg" href="{{ image }}"><img itemprop="image" class="rsTmb" alt="{{ property.C_MLSNo }} {{ property.C_Community }} property preview" width="56" height="56" src="{{ image }}"></a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane span12" id="extra_photos">
                        {% if extra_img %}
                        <div id="gallery-simple-group2" class="royalSlider rsDefault">
                            {% for image in extra_img %}
                                <a class="rsImg" href="{{ image }}"><img class="rsTmb" alt="{{ property.C_MLSNo }} {{ property.C_Community }} real estate property extra preview" src="{{ image }}"></a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <h3>We're eager to earn your future business</h3>
                        <div class="row well form" style="margin-left:0%;">
                        <h4>When we preview a property we take 100+ photos. We make sure we show all angles and views. The good, the bad, and the ugly.</h4>
                        </div>
                        <h3><a class="btn btn-primary" style="float:left; font-weight: bold; margin-right: 10px; margin-bottom: 10px;" href="/mls/request-info/20131908/?request=extra_photos">Request more info</a></h3>
                        <table alt="{{property.listing.C_Address}} {{property.listing.C_Community}} Real Estate Basic information" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>B/B/G</th>
                                    <th>SqFt</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for listing in reviewed_photos %}
                                <tr>
                                    <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                                    <td>{{ listing.C_NoBeds }}/{{ listing.C_NoBaths1 }}/{{listing.C_Garage}}</td>
                                    <td>{{ listing.C_SqFeet }}</td>
                                    <td><a href="{{ listing.get_detailed_property_url }}">{{ listing.C_Address }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        <!-- // end of slideshow-carousel -->
                    </div>
                    <div class="tab-pane span12" id="listing-map">
                        <div id="loc-ticker" class="span4 map-listing">
                            <h3>Search places within area: </h3>
                            <div class="span4 customer_service pull-right text-right">
                                <form id="place-search-form" class="form-search form-horizontal pull-right">
                                    <div class="input-append span12">
                                        <input id="search_area" type="text" class="search-query" placeholder="Search Property">
                                        <button id='search_place_btn' type="submit" class="btn"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <h3>Places of Intrest</h3>
                            <select id="content_location_types" name="setting" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                    {% for key, value in plottable_content.items %}
                                        <option value="{{value.0.id}}">{{ key }}</option>
                                    {% endfor %}
                            </select>
                            {% for key, value in plottable_content.items %}
                            <fieldset>
                                <input type="checkbox" name='plot_Parent[]' class='plot_parentCheckBox' value="{{ value.0.id }}" />{{ key }}<br />
                                {% for plot in value.1 %}
                                    <input type="checkbox" name='plot_Child[]' class='plot_childCheckBox' value="{{ plot.id }}" />{{ plot }}<br />
                                {% endfor %}
                            </fieldset>
                            {% endfor %}
                        </div>
                    	<div class="span8" itemprop="map" style="float: left" id="detailed-map-canvas" alt="{{ property.C_Community }} Community Search">
                    	    <p class="loading-map">Loading Map...</p>
                    	</div>
                    </div>
                    <div class="tab-pane span12" id="street-map">
                    	<div id="map-canvas" style="display: none"></div>
                    	<div class="span12" id="pano">
                    	    <p class="loading-map">Loading Map...</p>
                    	</div>
                        <div class="span12" id="nopanorama" style="display:none">
                            <h3 class="nostreetview">No Street View Available</h3>
                        </div>
                    </div>
                    <div class="tab-pane span12" id="market-activity">
                        <h3>Recent Sales</h3>
                        <table class="table table-bordered table-striped" alt="{{ property.C_Community }} Market Activity Statistics Data">
                            <thead>
                                <tr>
                                    <th>Sale Date</th>
                                    <th>Sale Price</th>
                                    <th>B/B/G</th>
                                    <th>SqFt</th>
                                    <th>Year Built</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for listing in recently_sold %}
                                <tr>
                                    <td>{{ listing.C_CloseDate }}</td>
                                    <td>&dollar;{{ listing.C_SoldPrice|intcomma }}</td>
                                    <td>{{ listing.C_NoBeds }}/{{ listing.C_NoBaths1 }}/{{listing.C_Garage}}</td>
                                    <td>{{ listing.C_SqFeet }}</td>
                                    <td>{{ listing.C_Address }}</td>
                                    <td><a href="{{ listing.get_detailed_property_url }}">{{ listing.C_Address }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="span12">
                    <h3>Property Details for <span itemprop="address"><strong>{{ property|format_address_h3:60|safe }}</strong></span></h3>
                    <div class="row well lform" style="margin-left: 0px; padding-left:0px; padding-right:0px;">
                        <div class="span6" style="width: 435px;">
                            <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%">
                                <tbody>
                                    <tr><td>Status </td><td> {{ property.C_Status.name|lower|capfirst }}</td></tr>
                                    <tr><td>List Date </td><td> {{ property.C_LstDate|date:"m-d-Y" }}</td></tr>
                                    <tr><td>Original Price </td><td> ${{ property.C_OrigPrice|intcomma }}</td></tr>
                                    <tr><td>Current Price </td><td> ${{ property.C_AskPrice|intcomma }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6" style="width: 435px; margin-left: 25px;">
                            <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%">
                                <tbody>
                                    <tr><td>Last Reduction Date </td><td> {{ property.last_reduction.timestamp|date:"m-d-Y" }}</td></tr>
                                    <tr><td>Last Reduction Amount </td><td> {{ property.last_reduction.C_AskPrice|intcomma }}</td></tr>
                                    <tr><td>Total # of Price Reductions </td><td> {{ property.price_reductions|length }}</td></tr>
                                    <tr><td>Furnished </td><td> {{ property.C_Furnished }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="CommentsTab" alt="Realtor Property Review">
                        <li><a href="#listing_comments" data-toggle="tab">Comments from the agent that represents the seller</a></li>
                        <li><a href="#our_comments" data-toggle="tab">{% if property.get_seller_comment %}Our Comments{% else %}Request Comments{% endif %}</a></li>
                        <li><a href="#mls_details" data-toggle="tab">Full MLS Details</a></li>
                        <li><a href="#hoa_financials" data-toggle="tab">HOA Financials</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="listing_comments">
                            <span itemprop="review"><p>{{ property.C_Remarks }}</p></span>
                            {% if user.is_superuser %}
                            <p>Addendum: {{ property.C_Addendum }}</p>
                            {% endif %}
                            <br/>
                        </div>
                        <div class="tab-pane" id="our_comments">
                            {% if property.get_seller_comment %}
                                <h4>Seller Comments</h4>
                                {% for seller_comment in property.get_seller_comment %}
                                    <p>{{ seller_comment.comment }}</p>
                                {% endfor %}
                            {% else %}
                                <h3>No Extra Previews for this Property<a class="btn btn-primary" style="float:right; font-weight: bold; margin-left: 10px" href="/mls/request-info/20131908/?request=seller_comment">Request more info</a></h3>
                                <h4>Below is a sample of our property previews.  100+ photos from all angles, layouts, comments, and our opinions.</h4>
                                <table class="table table-bordered table-striped" alt="sample properties with reviews and extra photos">
                                    <thead>
                                        <tr>
                                            <th>Community</th>
                                            <th>Beds</th>
                                            <th>Baths</th>
                                            <th>Asking Price</th>
                                            <th>Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for listing in reviewed_comments %}
                                        <tr>
                                            <td>{{ listing.C_Community }}</td>
                                            <td>{{ listing.C_NoBeds }}</td>
                                            <td>{{ listing.C_NoBaths1 }}</td>
                                            <td>&dollar;{{ listing.C_AskPrice|intcomma }}</td>
                                            <td><a href="{{ listing.get_detailed_property_url }}">{{ listing.C_Address }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            {% endif %}
                        </div>
                        <div class="tab-pane" id="mls_details">
                            <div class="{% if user.is_superuser %}span4{% else %}span5{% endif %} well lform">
                                <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%" alt="Full MLS Property Structure Details">
                                    <thead>
                                        <tr>
                                            <th>Feature</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Bath</td><td>{{ property.C_NoBaths1 }}</td></tr>
                                        <tr><td>Bedroom </td><td> {{ property.C_NoBeds }}</td></tr>
                                        <tr><td>Appliances </td><td> {{ property.C_APPLIANCES }}</td></tr>
                                        <tr><td>Architecture </td><td> {{ property.C_Architect }}</td></tr>
                                        <tr><td>Approx Acreage </td><td> {{ property.C_ApprxAcre }}</td></tr>
                                        <tr><td>Approx sqft </td><td> {{ property.C_ApprxSqft }}</td></tr>
                                        <tr><td>Decks </td><td> {{ property.C_DECKS }}</td></tr>
                                        <tr><td>Fireplace </td><td> {{ property.C_FIREPLACE }}</td></tr>
                                        <tr><td>Floor Coverings </td><td> {{ property.C_FLORCVRNGS }}</td></tr>
                                        <tr><td>Foundation </td><td> {{ property.C_FOUNDATION }}</td></tr>
                                        <tr><td>Furnished </td><td> {{ property.C_Furnished }}</td></tr>
                                        <tr><td>Garage/Parking </td><td> {{ property.C_GARAGPRKNG }}</td></tr>
                                        <tr><td>Gas </td><td> {{ property.C_GAS }}</td></tr>
                                        <tr><td>Gated </td><td> {{ property.C_GATED }}</td></tr>
                                        <tr><td>Green Features </td><td> {{ property.C_GRENFEATRS }}</td></tr>
                                        <tr><td>Garage </td><td> {{ property.C_Garage }}</td></tr>
                                        <tr><td>Heating </td><td> {{ property.C_HEATING }}</td></tr>
                                        <tr><td>Laundry </td><td> {{ property.C_LAUNDRY }}</td></tr>
                                        <tr><td>Listing Type </td><td> {{ property.C_LType }}</td></tr>
                                        <tr><td>Lot Dimension </td><td> {{ property.C_LotDims }}</td></tr>
                                        <tr><td>Number of Acres </td><td> {{ property.C_AcresNo }}</td></tr>
                                        <tr><td>Shares per Unit </td><td> {{ property.C_NoShrOrUn }}</td></tr>
                                        <tr><td>Property Condition </td><td> {{ property.C_PRPRTYCNDT }}</td></tr>
                                        <tr><td>Roof </td><td> {{ property.C_ROOF }}</td></tr>
                                        <tr><td>Setting </td><td> {{ property.C_Setting }}</td></tr>
                                        <tr><td>Square Feet </td><td> {{ property.C_SqFeet }}</td></tr>
                                        <tr><td>Status </td><td> {{ property.C_Status }}</td></tr>
                                        <tr><td>Status Category </td><td> {{ property.C_StatusCat }}</td></tr>
                                        <tr><td>Stories </td><td> {{ property.C_Stories }}</td></tr>
                                        <tr><td>Topography </td><td> {{ property.C_TOPOGRAPHY }}</td></tr>
                                        <tr><td>View </td>
                                            <td>{% for view in property.C_VIEW.all %}
                                                {% if not forloop.last %}{{ view }}, {% else %}{{ view }} {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr><td>Water </td><td> {{ property.C_WATER }}</td></tr>
                                        <tr><td>Waterfront Amenities </td>
                                            <td>{% for wa in property.C_WTRFRNTMNT.all %}
                                                {% if not forloop.last %}{{ wa }}, {% else %}{{ wa }} {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr><td>Woodstove </td><td> {{ property.C_WOODSTOVE }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="{% if user.is_superuser %}span3{% else %}span5{% endif %} well lform">
                                <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%" alt="Full MLS Property Address Details">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Address </td><td> {{ property.C_Address }}</td></tr>
                                        <tr><td>Subdivision </td><td><a href="{{ property.C_Area.get_absolute_url }}">{{ property.C_Area }}</a></td></tr>
                                        <tr><td>City </td><td><a href="{{ property.C_City.get_absolute_url }}">{{ property.C_City }}</a></td></tr>
                                        <tr><td>Community </td><td> <a href="{{ property.C_Community.get_absolute_url }}">{{ property.C_Community }}</a></td></tr>
                                        <tr><td>County </td><td> {{ property.C_County }}</td></tr>
                                        <tr><td>Lot No. </td><td> {{ property.C_LotNo }}</td></tr>
                                        <tr><td>State </td><td> {{ property.C_State }}</td></tr>
                                        <tr><td>Sub Area </td><td> {{ property.C_SubArea }}</td></tr>
                                        <tr><td>Address 2 </td><td> {{ property.C_Address2 }}</td></tr>
                                        <tr><td>Zip </td><td> {{ property.C_Zip }}</td></tr>
                                        <tr><td>Zoning </td><td> {{ property.C_Zoning }}</td></tr>
                                        <tr><td>Latitude </td><td> {{ property.C_GeoLat }}</td></tr>
                                        <tr><td>Longitude </td><td> {{ property.C_GeoLong }}</td></tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%" alt="Property Financial Information">
                                    <thead>
                                        <tr>
                                            <th>Finances</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>1st Loan Amount </td><td> {{ property.N1stLnAmt }}</td></tr>
                                        <tr><td>Ask Price </td><td> {{ property.C_AskPrice }}</td></tr>
                                        <tr><td>Orig Price </td><td> {{ property.C_OrigPrice }}</td></tr>
                                        <tr><td>Other Dues Amt </td><td> {{ property.C_OtherDues }}</td></tr>
                                        <tr><td>Price Date </td><td> {{ property.C_PrcDate }}</td></tr>
                                        <tr><td>Sold Price </td><td> {{ property.C_SoldPrice }}</td></tr>
                                        <tr><td>Tax Database ID </td><td> {{ property.C_TaxDBID }}</td></tr>
                                        <tr><td>Tax Prop ID </td><td> {{ property.C_TaxPropID }}</td></tr>
                                        <tr><td>Transfer Fee </td><td> {{ property.C_InitFee }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            {% if user.is_superuser %}
                            <div class="span3 well lform">
                                <table class="table table-bordered table-striped mls-details" style="table-layout: fixed; width: 100%" alt="Property Realtor Details">
                                    <thead>
                                        <tr>
                                            <th>Contact</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Agent Email Address </td><td> {{ property.C_Email }}</td></tr>
                                        <tr><td>Agent Name </td><td> {{ property.C_Agent }}</td></tr>
                                        <tr><td>LA1 Agent Email </td><td> {{ property.C_LA1Email }}</td></tr>
                                        <tr><td>LA1 Agent First Name</td><td> {{ property.C_LA1FirstNm }}</td></tr>
                                        <tr><td>LA1 Agent Last Name</td><td> {{ property.C_LA1LastNam }}</td></tr>
                                        <tr><td>LA1 Phone Area Code </td><td> {{ property.C_LA1Phon1Ar }}</td></tr>
                                        <tr><td>LA1 Phone No. </td><td> {{ property.C_LA1Phn1Nbr }}</td></tr>
                                        <tr><td>LA1 2 Phone Area Code </td><td> {{ property.C_LA1Phon2Ar }}</td></tr>
                                        <tr><td>LA1 2 Phone No. </td><td> {{ property.C_LA1Phn2Nbr }}</td></tr>
                                        <tr><td>LA1 3 Phone Area Code </td><td> {{ property.C_LA1Phon3Ar }}</td></tr>
                                        <tr><td>LA1 3 Phone No. </td><td> {{ property.C_LA1Phn3Nbr }}</td></tr>
                                        <tr><td>LA1 4 Phone Area Code </td><td> {{ property.C_LA1Phon4Ar }}</td></tr>
                                        <tr><td>LA1 4 Phone No. </td><td> {{ property.C_LA1Phn4Nbr }}</td></tr>
                                        <tr><td>LA1 5 Phone Area Code </td><td> {{ property.C_LA1Phon5Ar }}</td></tr>
                                        <tr><td>LA1 5 Phone No. </td><td> {{ property.C_LA1Phn5Nbr }}</td></tr>
                                        <tr><td>LA1 Agent Phone 1 Desc </td><td> {{ property.C_LA1Phn1Dsc }}</td></tr>
                                        <tr><td>LA1 Agent Phone 2 Desc </td><td> {{ property.C_LA1Phn2Dsc }}</td></tr>
                                        <tr><td>LA1 Agent Phone 3 Desc </td><td> {{ property.C_LA1Phn3Dsc }}</td></tr>
                                        <tr><td>LA1 Agent Phone 4 Desc </td><td> {{ property.C_LA1Phn4Dsc }}</td></tr>
                                        <tr><td>LA1 Agent Phone 5 Desc </td><td> {{ property.C_LA1Phn5Dsc }}</td></tr>
                                        <tr><td>LA1 Works For </td><td> {{ property.C_LA1WorksFr }}</td></tr>
                                        <tr><td>LA1 Works For </td><td> {{ property.C_LA1WorksFr }}</td></tr>
                                        <tr><td>LO1 Office Name </td><td> {{ property.C_LO1OfcName }}</td></tr>
                                        <tr><td>LO1 Phone Number </td><td> {{ property.C_LO1Phn1Nbr }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                        </div>
                        <div class="tab-pane" id="hoa_financials">
                            <div class="well lform">
                                <h4>HOA FINANCIALS</h4>
                                <ul class='bullet_none'>
                                    <li>HOA Amenities : {% for hoa in property.C_HOAMENITIS.all %}
                                                {% if not forloop.last %}{{ hoa }}, {% else %}{{ hoa }} {% endif %}
                                                {% endfor %}
                                    </li>
                                    <li>HOA Dues Amount : {{ property.C_HOAAmt }}</li>
                                    <li>HOA Dues Optional : {{ property.C_HOAOpt }}</li>
                                    <li>HOA Dues Per / : {{ property.C_HOAPer }}</li>
                                    <li>HOA Membership : {{ property.C_HOAMbr }}</li>
                                    <li>Transfer Fee : {{ property.C_InitFee }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </span>
                    <div itemprop="seller" itemscope itemtype="http://www.schema.org/Organization" class="span12 pull-right">
                        <div class="span5 well lform">
                            <div class="pull-left" style="width:98px; height:108px; display: inline-block"><img src="{{ STATIC_URL }}css/images/tristan_head_2012.jpg" width="94" height="104"></div>
                            <span itemprop="name">
                            <span style="font-weight: bold; font-size: 6; margin-left: 10px"><span itemprop="founder">Tristan Roberts</span> &amp; Associates<br></span>
                            <span style="font-weight: bold; margin-left: 10px">Coldwell Banker Lake Tahoe<br></span>
                            </span>
                            <span style="font-weight: bold; margin-left: 10px"> LIC#:01259729<br></span>
                            <span itemprop="telephone" style="font-weight: bold; margin-left: 10px">530-448-1734</span>
                            <a class="btn btn-primary" style="font-weight: bold; margin-left: 10px" href="{% url 'request_info' mls_no=property.C_MLSNo%}">Email Us</a>
                        </div>
                        <div class="span5 mls-disclosure well lform pull-right">
                            <img src="{{STATIC_URL}}css/images/broker_reciprocity.gif">
                            <p>(c) Copyright Tahoe Sierra Multiple Listing Service. All rights reserved. Broker Reciprocity - The MLS property data relating to North Lake Tahoe real estate and Truckee/Tahoe Donner real estate listings on this web site comes in part from the Broker Reciprocity Program of the Tahoe Sierra Multiple Listing Service. Information about each real estate listing includes the name of the listing brokers.
                            <br/>This listing courtesy of: {{ property.C_LO1OfcName }}.
                                The information being provided is for consumers' personal, non-commercial use and may not be used for any other purpose other than to identify prospective properties consumers may be interested in purchasing.  Information deemed reliable but not guaranteed.  </p>
                        </div>
                        <div class="span5 mls-disclosure well lform">
                            <h3>View more real estate listings :</h3>
                            <p>
                                <strong>City : <a href="{{ property.C_City.get_absolute_url }}">{{ property.C_City }}</a></strong></br>
                                <strong>Community : <span itemprop="address" itemScope itemType="http://www.schema.org/PostalAddress"><a href="{{ property.C_Community.get_absolute_url }}"><span itemprop="addressLocality">{{ property.C_Community }}</span></a></span></strong></br>
                                <strong>Subdivision : <a href="{{ property.C_Area.get_absolute_url }}">{{ property.C_Area }}</a></strong></br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        {% if has_full_content %}
            <div class="page-header">
                <h2>Related Content</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <div class="row content-row">
                    {% for content in related_content %}
                    {% if content.is_full_content%}
                        <div class="site-content">
                            <a href="#{{content.title|slugify}}" name="#{{content.title|slugify}}"><h3>{{ content.title }}</h3></a>
                            {% if content.content %}
                            <p>{{ content.content|safe }}</p>
                            {% endif %}
                            {% if content.gallery %}
                            <div id="gallery_{{content.gallery.id}}" class="royalSlider rsDefault siteContentGallery">
                                {% for image in content.gallery.photos.all %}
                                    <a class="rsImg" href="{{ image.image.url }}">
                                        <img class="rsTmb" width="56" height="56" src="{{ image.image.url }}"/>
                                    </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class='row' >
                    <h4 class='span3 well pull-right'>Featured Properties</h4>
                    <div class='span3 well pull-right'>
                        <ul class="thumbnails2">
                            {% for item in related_props %}
                            <li class="span2">
                                <div class="thumbnail mini_property {{ item.get_badge }}">
                                    <a href="{{ item.get_detailed_property_url }}"><img class="lazy" width="192" src="{{ item.get_picture_url }}" alt="{{item.C_MLSNo}} {{item.C_Community}} featured property"></a>
                                    <h5>Price : &dollar;{{ item.C_AskPrice|intcomma  }}</h5>
                                    <p>
                                        <a href="{{ item.get_detailed_property_url }}">{{ item.C_Address }}</a>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row well" style="margin-left: 0px">
                <h4 >Featured Properties</h4>
                <ul class='thumbnails'>
                    {% for property in related_props %}
                        <li class='span2'>
                            <div class='thumbnail mini_property {{ property.get_badge }}'>
                                <a href='{{ property.get_detailed_property_url }}'><img src='{{ property.get_picture_url }}' alt=''></a>
                                <h5>Price : ${{ property.C_AskPrice|intcomma }}</h5>
                                <h5>MLS No: {{ property.C_MLSNo }}</h5>
                                <p><a href='{{ property.get_detailed_property_url }}'>{{ property.C_Address }}</a></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

</div>
<div class="clear"></div>
</div>

{% endblock content %}

{% block extra-header %}
<script>
  var related_locs = []
  var prop_loc = {{ prop_loc|safe  }};
  var plottable_content_json = {{ plottable_content_json|safe }};
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/detailed-property.js"></script>
{% endcompress %}
{% endblock extra-header %}
