{% extends 'base.html' %}
{% load mls_tags %}

{% block content %}
{% load humanize %}
{% load compress %}
<div class='row'>
    <div class='span12  pull-right'>
        <div id='map_full_canvas'>
            <p class="loading-map">Loading Map...</p>
        </div>
        <br/>
        <div class='row'>
          <div class='span8'>
          </div>
          <div class='span4'>
            <div class='row'>

            </div>
          </div>
        </div>
    </div>
    <div class="span12 well lform reduce-left-margin">
      <script>
          {% if listing_plots %}
          var listing_plots = {{ listing_plots.object_list|safe }};
          console.log(listing_plots);
          {% endif %}
      </script>
        <h3>Premium &amp; Featured Real Estate </h3>
        <hr></hr>
        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
            <ul class="pull-right">
                <li>
                    {% if listings.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <ul class="thumbnails">
            {% for property in listings.object_list %}
            <li class='span2'>
                <div class='thumbnail mini_property {{ property.get_badge }}'>
                    <a href='{{ property.get_detailed_property_url }}'><img class="lazy" src='{{ property.get_picture_url }}' alt=''></a>
                    <h5>Price : ${{ property.C_AskPrice|intcomma }}</h5>
                    <h5>MLS No: {{ property.C_MLSNo }}</h5>
                    <p><a href='property.html'>{{ property.C_NoBeds }} bedroom for sale</a><br />{{ property.C_Address }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
              <ul class="pull-right">
                <li>
                    {% if listings.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra-header %}
{% compress js %}
<script type='text/javascript' src='{{ STATIC_URL }}js/mls/featured.js'></script>
{% endcompress %}
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js'></script>
<script src='http://twitter.github.com/bootstrap/assets/js/bootstrap-affix.js'></script>
{% endblock extra-header %}
