{% extends 'base.html'%}

{% block content %}

<!--template tags and header-->
{% load humanize %}
{% load compress %}
{% load cblt_commons %}
<!--template tags and header end-->

<div class="row">
<div class="span4">
</div>
<div class="span8">
    <h2>Real Estate Properties Recent Price Changes</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Community</th>
                <th>Price Change</th>
                <th>Beds</th>
                <th>Sq Ft</th>
                <th>Price</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for pc in listings %}
            <tr itemscope itemtype="http://schema.org/Offer">
                <td nowrap="nowrap">{{ pc.timestamp|date:"m-d-y" }}</td>
                <td itemprop="eligibleRegion" itemscope itemType="http://schema.org/Place">
                    <span itemprop="name">{{ pc.listing.C_Community }}</span>
                </td>
                <td>${{ pc.get_price_delta|floatformat|intcomma }}</td>
                <td>{{ pc.listing.C_NoBeds }}</td>
                <td>{{ pc.listing.C_SqFeet }}</td>
                <td itemprop="price">${{ pc.listing.C_AskPrice|floatformat|intcomma }}</td>
                <td nowrap="nowrap" itemprop="name" itemscope itemtype="http://schema.org/Residence">
                    <span itemprop="url">{{ pc.listing|create_address_link:12|safe }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
            <ul>
                <li>
                    {% if listings.has_previous %}
                        <a href="?page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="?page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extra-header %}
{% endblock extra-header %}
