{% extends 'base.html'%}

{% block content %}

<!--template tags and header-->
{% load humanize %}
{% load compress %}
{% load cblt_commons %}
<!--template tags and header end-->

<div class="row">
<div class="span4">
    
</div>
<div class="span8">
    <h2>Real Estate Properties Sold</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Community</th>
                <th>Beds</th>
                <th>Sq Ft</th>
                <th>Sold Price</th>
                <th>Terms</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
            <tr>
                <td nowrap="nowrap">{{ listing.C_CloseDate|date:"m-d-y" }}</td>
                <td>{{ listing.C_Community }}</td>
                <td>{{ listing.C_NoBeds }}</td>
                <td>{{ listing.C_SqFeet }}</td>
                <td>&dollar;{{ listing.C_SoldPrice|floatformat|intcomma }}</td>
                <td>{% if listing.C_HowSold == 'CONVENTIONAL'%}Loan{% else %}{{ listing.C_HowSold|lower|capfirst }}{% endif %}</td>
                <td><a href="{{ listing.get_detailed_property_url }}">{{ listing.C_Address }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
            <ul>
                <li>
                    {% if listings.has_previous %}
                        <a href="?page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="?page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extra-header %}
{% endblock extra-header %}
