{% extends 'base.html' %}
{% load mls_tags %}

{% block content %}
{% load humanize %}
<div class="row">
    <div class="span4">
    <div class="span4 well lform reduce-left-margin">
    {% include 'mls/quick_search_side.html' %}
    </div>
    <div class="span4 well lform reduce-left-margin">
        <h3>Other Properties</h3>
        <hr></hr>
        <ul class="thumbnails">
            {% for item in related_properties %}
            <li class="span2">
                <div class="thumbnail mini_property {{ item.get_badge }}">
                    <a href="{{ item.get_detailed_property_url }}"><img class="lazy" width="192" src="{{ item.get_picture_url }}" alt=""></a>
                    <h5>Price : &dollar;{{ item.C_AskPrice|floatformat|intcomma  }}</h5>
                    <p>
                        <a href="{{ item.get_detailed_property_url }}">{{ item.C_NoBeds }} bedroom house</a><br />
                        <br />
                        {{ item.C_Address }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="span7 pull-right">

        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
            <ul>
                <li>
                    {% if listings.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        {% for listing in listings.object_list %}
            <div class="row premium">
                <div class="span2">
                    <a href="{{ listing.object.get_detailed_property_url }}" class="thumbnail {{ listing.object.get_badge }}">

                        <img class="lazy" src="{{ listing.object.C_MLSNo|get_photo }}" alt="" />
                    </a>
                    <h5>Price: ${{ listing.object.C_AskPrice|floatformat|intcomma }}</h5>
                    <h5>MLS No: {{ listing.object.C_MLSNo }}</h5>

                    <h6>Beds: {{ listing.object.C_NoBeds }}</h6>
                    <h6>Baths: {{ listing.object.C_NoBaths1 }}</h6>
                    <h6>Garage: {{ listing.object.C_Garage }}</h6>
                    <h6>Sq Ft: {{ listing.object.C_SqFeet }}</h6>
                    <h6>Year Built: {{ listing.object.C_YrBlt }}</h6>
                    <h6>Acreage: {{ listing.object.C_ApprxAcre }}</h6>
                    <h6>Lot Size: {{ listing.object.C_LotDims }}</h6>
                </div>

                <div class="span5">
                    <a href="{{ listing.get_detailed_property_url }}"><h3>{{ listing.object.C_Address }}</h3></a>
                    <p>{{ listing.object.C_Remarks }}</p>
                    {% if user.is_superuser %}
                    <strong>Addendum:</strong> {{ listing.object.C_Addendum }}
                    {% endif %}
                    <p><h5>Community: {{ listing.object.C_Community }}</h5></p>
                    <p><h5>Area: {{ listing.object.C_Area }}</h5></p>
                    <p><a href="{{ listing.get_detailed_property_url }}">View full property details and points of interest map</a></p>
                </div>
            </div>
            <hr />
        {% endfor %}

        <div class="pagination">
            <div class="span4 select_height">   Showing {{ listings.start_index }} - {{ listings.end_index }} of {{ listings.paginator.count }} results</div>
            <ul>
                <li>
                    {% if listings.has_previous %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.previous_page_number }}">Prev</a>
                    {% else %}
                        <a href="#" >Prev</a>
                    {% endif %}
                </li>
                <li><a href="">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</a></li>
                <li>
                    {% if listings.has_next %}
                        <a href="{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ listings.next_page_number }}">Next</a>
                    {% else %}
                        <a href="{{ request.build_absolute_uri }}#">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock content %}
