
<form class="form-inline" action="/mls/search-result/">
    <fieldset>
        <div class="row">
            <div class="span1">
                Status
            </div>
        </div>
        <div class="row">
            <div class="control-group">
                <div class="span1">
                    <input style="display: inline;" {% if 'active' in status_val or not status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="active"> Active&nbsp;&nbsp;
                </div>
                <div class="span2">
                    <input style="display: inline;" {% if 'contingent' in status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="contingent"> Under Contract&nbsp;&nbsp;
                </div>
                <div class="span1">
                    <input style="display: inline;" {% if 'sold' in status_val %}checked="checked"{% endif %} type="checkbox" name="status" value="sold"> Sold&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div style="height: 10px" class="clear"></div>
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Property Type</label>
                            <div class="controls">
                                <select id="property_type" name="property_type" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                    {% if 'All' in property_type_val %}
                                        <option selected="selected" value="All">All</option>
                                    {% else %}
                                        <option value="All">All</option>
                                    {% endif %}
                                    {% for property_type in property_type %}
                                        {% if property_type.name in property_type_val %}
                                        <option selected="selected" value="{{ property_type.name }}">{{ property_type.name }}</option>
                                        {% else %}
                                        <option value="{{ property_type.name }}">{{ property_type.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Views</label>
                            <div class="controls">
                                <select id="views" name="views" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                    {% if 'Any' in views_val %}
                                        <option selected="selected" value="Any">Any</option>
                                    {% else %}
                                        <option value="Any">Any</option>
                                    {% endif %}
                                    {% for view in views %}
                                        {% if view.name in views_val %}
                                            <option selected="selected" value="{{ view.name }}">{{ view }}</option>
                                        {% else %}
                                            <option value="{{ view.name }}">{{ view }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Setting</label>
                            <div class="controls">
                                <select id="setting" name="setting" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                    {% if 'All' in setting_val %}
                                        <option selected="selected" value="All">All</option>
                                    {% else %}
                                        <option value="All">All</option>
                                    {% endif %}
                                    {% for setting in setting %}
                                        {% if setting.name in setting_val %}
                                        <option selected="selected" value="{{ setting.name }}">{{ setting.name }}</option>
                                        {% else %}
                                        <option value="{{ setting.name }}">{{ setting.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">MLS Number</label>
                            <div class="controls">
                                <input name="mlsno" value="{{ mlsno_val }}" id="mlsno" type="text" class="input-small focused"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <div class="row">
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label">HOA Amenities</label>
                                    <div class="controls">
                                        <select id="hoa_amenities" name="hoa_amenities" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                            {% if 'Any' in hoa_amenities_val %}
                                                <option selected="selected" value="Any">Any</option>
                                            {% else %}
                                                <option value="Any">Any</option>
                                            {% endif %}
                                            {% for hoa in hoa_amenities %}
                                                {% if hoa.name in hoa_amenities_val %}
                                                    <option selected="selected" value="{{ hoa.name }}">{{ hoa }}</option>
                                                {% else %}
                                                    <option value="{{ hoa.name }}">{{ hoa }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label">Waterfront Amenities</label>
                                    <div class="controls">
                                        <select id="waterfront_amenities" name="waterfront_amenities" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                            {% if 'Any' in waterfront_amenities_val %}
                                                <option selected="selected" value="Any">Any</option>
                                            {% else %}
                                                <option value="Any">Any</option>
                                            {% endif %}
                                            {% for item in waterfront_amenities %}
                                                {% if item.name in waterfront_amenities_val %}
                                                    <option selected="selected" value="{{ item.name }}">{{ item }}</option>
                                                {% else %}
                                                    <option value="{{ item.name }}">{{ item }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <div class="row">
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label">Community</label>
                                    <div class="controls">
                                        <select id="community" name="community" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                            {% if 'Any' in community_val %}
                                                <option selected="selected" value="Any">Any</option>
                                            {% else %}
                                                <option value="Any">Any</option>
                                            {% endif %}
                                            {% for comm in community %}
                                                {% if comm.name != None %}
                                                    {% if comm.name in community_val %}
                                                        <option selected="selected" value="{{ comm.name }}">{{ comm }}</option>
                                                    {% else %}
                                                        <option value="{{ comm.name }}">{{ comm }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label">Subdivision</label>
                                    <div class="controls">
                                        <select id="area" name="area" class="chosen-multiple span2" data-placeholder="Select Option" multiple>
                                            {% if 'Any' in area_val %}
                                                <option selected="selected" value="Any">Any</option>
                                            {% else %}
                                                <option value="Any">Any</option>
                                            {% endif %}
                                            {% for item in area %}
                                                {% if item.name != None %}
                                                    {% if item.name in area_val %}
                                                        <option selected="selected" value="{{ item.name }}">{{ item }}</option>
                                                    {% else %}
                                                        <option value="{{ item.name }}">{{ item }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Bedrooms:</label>
                            <div class="controls">
                                <select id="bedroom" name="bedroom" class="input-medium focused">
                                    <option value="Any">Any</option>
                                    <option value="2" {% if '2' == bedroom_val %} selected="selected"{% endif %}>2+</option>
                                    <option value="3" {% if '3' == bedroom_val %} selected="selected"{% endif %}>3+</option>
                                    <option value="4" {% if '4' == bedroom_val %} selected="selected"{% endif %}>4+</option>
                                    <option value="5" {% if '5' == bedroom_val %} selected="selected"{% endif %}>5+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <label class="control-label">Bathrooms</label>
                        <div class="controls">
                            <select name="bathroom" id="bathroom" class="input-medium focused">
                                <option value="Any">Any</option>
                                <option value="2" {% if '2' == bathroom_val %} selected="selected"{% endif %}>2+</option>
                                <option value="3" {% if '3' == bathroom_val %} selected="selected"{% endif %}>3+</option>
                                <option value="4" {% if '4' == bathroom_val %} selected="selected"{% endif %}>4+</option>
                                <option value="5" {% if '5' == bathroom_val %} selected="selected"{% endif %}>5+</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Minimum Price</label>
                            <div class="controls">
                                <select name="pricerangemin" class="input-medium focused">
                                    {% if price_range_min %}
                                    <option selected="selected">{{ price_range_min }}</option>
                                    {% endif %}
                                    <option value="">No Minimum</option>
                                    <option value="50000">50,000</option>
                                    <option value="100000">100,000</option>
                                    <option value="200000">200,000</option>
                                    <option value="300000">300,000</option>
                                    <option value="400000">400,000</option>
                                    <option value="500000">500,000</option>
                                    <option value="600000">600,000</option>
                                    <option value="700000">700,000</option>
                                    <option value="800000">800,000</option>
                                    <option value="900000">900,000</option>
                                    <option value="1000000">1M</option>
                                    <option value="1500000">1.5M</option>
                                    <option value="2000000">2M</option>
                                    <option value="2500000">2.5M</option>
                                    <option value="3000000">3M</option>
                                    <option value="4000000">4M</option>
                                    <option value="5000000">5M</option>
                                    <option value="6000000">6M</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <label class="control-label">Maximum Price</label>
                        <div class="controls">
                            <select name="pricerangemax" class="input-medium focused">
                                {% if price_range_max %}
                                <option selected="selected">{{ price_range_max }}</option>
                                {% endif %}
                                <option value="">No Maximum</option>
                                <option value="50000">50,000</option>
                                <option value="100000">100,000</option>
                                <option value="200000">200,000</option>
                                <option value="300000">300,000</option>
                                <option value="400000">400,000</option>
                                <option value="500000">500,000</option>
                                <option value="600000">600,000</option>
                                <option value="700000">700,000</option>
                                <option value="800000">800,000</option>
                                <option value="900000">900,000</option>
                                <option value="1000000">1M</option>
                                <option value="1500000">1.5M</option>
                                <option value="2000000">2M</option>
                                <option value="2500000">2.5M</option>
                                <option value="3000000">3M</option>
                                <option value="4000000">4M</option>
                                <option value="5000000">5M</option>
                                <option value="6000000">6M</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            <label class="control-label">Acreage:</label>
                            <div class="controls">
                                <select id="acreage" name="acreage" class="input-medium focused">
                                    <option value="Any">Any</option>
                                    <option value="0.5" {% if '0.5' == acreage_val %} selected="selected"{% endif %}>0.5+</option>
                                    <option value="1" {% if '1' == acreage_val %} selected="selected"{% endif %}>1+</option>
                                    <option value="2" {% if '2' == acreage_val %} selected="selected"{% endif %}>2+</option>
                                    <option value="5" {% if '5' == acreage_val %} selected="selected"{% endif %}>5+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2 pull-left" style="margin-top: 10px;">
                    <button id="quick-search-reset" class="btn btn-danger pull-left" style="margin-left: 20px;" type="reset">
                        Clear Form
                    </button>

                </div>
                <div class="span2 pull-right" style="margin-top: 10px;">
                    <button class="btn btn-primary pull-right" type="submit">
                        Search
                    </button>

                </div>
            </div>

        </div>

    </fieldset>
</form>
<div style="clear: both;"></div>

