<div class="row-fluid">
    <div class="span12">
        <form class="form-inline border-gray" action="/mls/search-result/">
            <fieldset>
                <legend id="quick-search-legend">
                    Real Estate Quick Search
                </legend>
                <div class="span4 form-div">
                    <br/>
                    <div class="row form-row">
                        <label for="city">City : </label>
                        <select id="city" name="city" class="chosen-multiple" multiple>
                            <option></option>
                            {% for city in city %}
                                {% if city.name ==  city_val and city_val%}
                                <option selected="selected" value="{{ city.name }}">{{ city.name }}</option>
                                {% else %}
                                <option value="{{ city.name }}">{{ city.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row form-row">
                        <label for="area">Area : </label>
                        <select id="area" name="area" class="chosen-multiple" multiple>
                            <option></option>
                            {% for area in area %}
                                {% if area.name == area_val %}
                                <option selected="selected" value="{{ area.name }}">{{ area.name }}</option>
                                {% else %}
                                <option value="{{ area.name }}">{{ area.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row form-row">
                        <label for="setting">Setting : </label>
                        <select id="setting" name="setting" class="chosen-multiple" multiple>
                            <option></option>
                            {% for setting in setting %}
                                {% if setting.name == setting_val %}
                                <option selected="selected" value="{{ setting.name }}">{{ setting.name }}</option>
                                {% else %}
                                <option value="{{ setting.name }}">{{ setting.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="span3 form-div">
                    <br/>
                    <div class="row form-row">
                        <label for="community">Community : </label>
                        <select id="community" name="community" class="chosen-multiple" multiple>
                            <option></option>
                            {% for comm in community %}
                                {% if community.name == community_val %}
                                    <option value="{{ comm.name }}">{{ comm.name }}</option>
                                {% else %}
                                    <option value="{{ comm.name }}">{{ comm.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row form-row" style="height:39px">
                        <label class="control-label">Bedrooms:</label>
                        <select id="bedroom" name="bedroom" class="static-select-field">
                            {% if bedroom_val %}
                                <option>{{ bedroom_val }}</option>
                            {% endif %}
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5+</option>
                        </select>
                    </div>

                    <div class="row form-row">
                        <label class="control-label">Bath:</label>
                        <select name="bathroom" id="bathroom" class="static-select-field">
                            {% if bathroom_val %}
                                <option>{{ bathroom_val }}</option>
                            {% endif %}
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5+</option>
                        </select>
                    </div>
                </div>
                <div class="span4 form-div pull-right">
                    <br/>
                    <div class="row form-row">
                        <label for="status">Status : </label>
                        <select id="status" name="status" class="chosen-multiple" multiple>
                            <option></option>
                            {% for stat in status %}
                                <option value="{{ stat.name }}">{{ stat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="row form-row" style="height:39px">
                        <label for="mlsno">MLS Num: </label>
                        <input name="mlsno" value="{{ mlsno_val }}" id="mlsno" type="text" class="pull-right" />
                    </div>
                    <div class="row form-row">
                        <label for="pricerange" class="control-label">Price</label>
                        <div id="pricerange" class="pull-right">
                            <select name="pricerangemin" class="static-input-2">
                                {% if price_range_min %}
                                    <option selected="selected">{{ price_range_min }}</option>
                                {% endif %}
                                <option value="">Min</option><option value="50000">50,000</option><option value="60000">60,000</option><option value="70000">70,000</option><option value="80000">80,000</option><option value="90000">90,000</option><option value="100000">100,000</option><option value="110000">110,000</option><option value="120000">120,000</option><option value="125000">125,000</option><option value="130000">130,000</option><option value="140000">140,000</option><option value="150000">150,000</option><option value="160000">160,000</option><option value="170000">170,000</option><option value="175000">175,000</option><option value="180000">180,000</option><option value="190000">190,000</option><option value="200000">200,000</option><option value="210000">210,000</option><option value="220000">220,000</option><option value="230000">230,000</option><option value="240000">240,000</option><option value="250000">250,000</option><option value="260000">260,000</option><option value="270000">270,000</option><option value="280000">280,000</option><option value="290000">290,000</option><option value="300000">300,000</option><option value="325000">325,000</option><option value="350000">350,000</option><option value="375000">375,000</option><option value="400000">400,000</option><option value="425000">425,000</option><option value="450000">450,000</option><option value="475000">475,000</option><option value="500000">500,000</option><option value="550000">550,000</option><option value="600000">600,000</option><option value="650000">650,000</option><option value="700000">700,000</option><option value="800000">800,000</option><option value="900000">900,000</option><option value="1000000">1,000,000</option><option value="1500000">1,500,000</option><option value="2000000">2,000,000</option><option value="3000000">3,000,000</option>
                            </select>
                            <select name="pricerangemax" class="static-input-2">
                                {% if price_range_max %}
                                    <option selected="selected">{{ price_range_max }}</option>
                                {% endif %}
                                <option value="">Max</option><option value="50000">50,000</option><option value="60000">60,000</option><option value="70000">70,000</option><option value="80000">80,000</option><option value="90000">90,000</option><option value="100000">100,000</option><option value="110000">110,000</option><option value="120000">120,000</option><option value="125000">125,000</option><option value="130000">130,000</option><option value="140000">140,000</option><option value="150000">150,000</option><option value="160000">160,000</option><option value="170000">170,000</option><option value="175000">175,000</option><option value="180000">180,000</option><option value="190000">190,000</option><option value="200000">200,000</option><option value="210000">210,000</option><option value="220000">220,000</option><option value="230000">230,000</option><option value="240000">240,000</option><option value="250000">250,000</option><option value="260000">260,000</option><option value="270000">270,000</option><option value="280000">280,000</option><option value="290000">290,000</option><option value="300000">300,000</option><option value="325000">325,000</option><option value="350000">350,000</option><option value="375000">375,000</option><option value="400000">400,000</option><option value="425000">425,000</option><option value="450000">450,000</option><option value="475000">475,000</option><option value="500000">500,000</option><option value="550000">550,000</option><option value="600000">600,000</option><option value="650000">650,000</option><option value="700000">700,000</option><option value="800000">800,000</option><option value="900000">900,000</option><option value="1000000">1,000,000</option><option value="1500000">1,500,000</option><option value="2000000">2,000,000</option><option value="3000000">3,000,000</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn pull-right">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>
</div>
