{% extends 'base.html' %}
{% load compress %}

{% block extra-header %}
    <script>
        var active_listing = {{ active_inventory.json|safe }};
        var current_sales_summary = {{ current_sold.json|safe }};
        var previous_sales_summary = {{ prev_sold.json|safe }};
        var sales_by_price = {{sales_price.json|safe}};
        var pending_sales = {{pending_sales.json|safe}};
    </script>
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mls/charts.js"></script>
    {% endcompress %}
{% endblock extra-header %}

{% block content %}
{% load humanize %}
<div class="row">

    <div class="span12">
        <div class="page-header">
            <h1>Real Estate <small> market statistics</small></h1>
        </div>
        <div class="row">
            <div class="span10" style="margin-left:30px;">
                <div class="site-content">
                    <div class="span6">
                        <div id="active-residential" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="span4" style="margin-left:0px; margin-top:15px;">
                        <p>Active Listings: The current inventory of residential properties is {{ active_inventory.object.active_listing }} properties for sale; {% for key, value in active_inventory.object.residence_type.data.items %} {{ key }} : {{ value }} {% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>
                    </div>
                    <div class="span6">
                        <div id="active-substat" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="span4" style="margin-left:0px; margin-top:15px;">
                        <p>REO-Short Sale Active Listings:  Of the active listings, there are : {% for key, value in active_inventory.object.sub_status.data.items %} {{ key }} : {{ value }} {% if forloop.last %}.{% else%}, {% endif %} {% endfor %}</p>
                    </div>
                </div>

                <div class="site-content">
                    <div class="span6">
                        <div id="comparative-sales" style="width:100%; height:400px;"></div>
                        <p>Comparative Sales Report</p>
                    </div>
                    <div class="span4" style="margin-left:0px; margin-top:15px;">
                        <p>For the current year, there have been {{current_sold.object.total_sold}} residential properties sold in the market compared to the {{prev_sold.object.total_sold}} properties sold in the prior year for the same period.
                            The total sales for the year is comprised of: {% for key, value in current_sold.object.residence_type.items %}{{key}} : {{value}}, {% endfor %}.
                            In the previous year for the same period, the sales are comprised of : {% for key, value in prev_sold.object.residence_type.items %}{{key}} : {{value}}, {% endfor %}.
                        </p><p>
                            REO & Short Sales:  Distressed property sales are down significantly for the year with 43 REO sales, (6%), and 77 Short Sales, (11%) which results in 17% of the properties sold being distressed properties.
                            In 2012 for the same period, there were 116 REO sales and 111 short sales or 35% of the total sales being distressed properties.
                            Sales by Price Range:  In 2013, there have been 401 residential properties sold priced below $500,000, 219 properties sold between $500,000 and $1,000,000 and 84 properties sold over $1,000,000.
                        </p>
                    </div>
                </div>
                <div class="site-content">
                    <div class="span6">
                        <div id="sales-price-range" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="span4" style="margin-left:0px; margin-top:15px;">
                        <p>Since {{ current_median_avg.start_date }} to date, the median sales price for properties sold is ${{ current_median_avg.median|floatformat|intcomma  }}, while the average sales price is ${{ current_median_avg.average.C_SoldPrice__avg|floatformat|intcomma  }}.
                            For the same period in {{ prev_median_avg.start_date }}-{{prev_median_avg.end_date}}, the median sales price was ${{ prev_median_avg.median|floatformat|intcomma  }}, and the average sales price was ${{ current_median_avg.average.C_SoldPrice__avg|floatformat|intcomma  }}.
                        </p>
                    </div>
                </div>
                
                <div class="site-content">
                    <div class="span6">
                        <div id="pending-sales-residence" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="span4" style="margin-left:0px; margin-top:15px;">
                        <p>Pending Sales:  Currently there are {{ pending_sales.total }} pending residential sales in the market which is up from the previous week’s pending sales of 227.
                            Of the pending properties, 19% are distressed properties with 38 being short sales and 8 being REO’s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
