{% extends 'base.html' %}

{% load humanize %}

{% block container %}
<style type="text/css">
	.not-found {
        text-align:center;
    }
	.not-found p a {
	        background-color: #22484a;
	        border-radius: 25px;
	        color: white;
	        padding: 10px 20px;
	        text-decoration: none;
	    }
	.not-found span {
	        color: #22484a;
	        font-size: 50px;
	    }
	.not-found input {
	        background-color: #22484a;
	        border: medium none;
	        border-radius: 20px;
	        color: white;
	        font-size: 20px;
	        margin: 5px !important;
	        padding: 7px 15px;
	    }

	.not-found input[type="text"]{
	        border: 3px solid #22484a;
	        border-radius: 20px;
	    }
	.not-found input[type="text"]:active {
	        border: 3px solid #22484a;
	        border-radius: 20px;
	    }


	    @media (max-width: 380px){
		    .not-found form {
		            margin-left:-20px;
		        }
		    
		    .not-found strong {
		            font-size:130px;
		        }
		}
		
</style>
<div class='not-found'>
    <strong>404</strong>
    <h1>The page cannot be found.</h1>
    <hr/>
    <p>
        <a href='{% url 'home' %}'>Click to go back</a>
    </p>
    <br>
    <span>Or</span>
    <form action="/realestate/search">
		<!--input type="text" -->
		<input type="submit" value="Search Property">
    </form>
</div>
{% endblock %}
