{% extends 'base.html' %}

{% load humanize %}

{% block container %}
<div class='not-found'>
    <strong>500</strong>
    <h1>You have encountered an internal server error.</h1>
    <p>The incident has already been reported. We will fix the issue shortly.</p>
    <hr/>
    <p>
        <a href='{% url 'home' %}'>return back</a>
    </p>
</div>
{% endblock %}
