{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>About Us</li>
{% endblock %}
{% block page_title %}You've never seen a real estate website like this{% endblock %}
{% block container %}
<div class='about-us'>
    <h1 class='page-header'>A Unique Resource for Truckee and Lake Tahoe Real Estate Information</h1>

    <div class='row'>
        <div class='content'>
            <div class='member span8' style='text-align:justify;'>
                <p>Determined to be the best resource for Truckee and Lake Tahoe real estate, we custom built our website (more importantly our business philosophy and our team) to excel where most fall short. We made a point to provide more stats and more property data.  We post photos and good honest opinions of properties for sale, we map things like how far the home is from the neighborhood trailheads.  Most importantly, we do it all with a focus on integrity and thus with passion.</p> 

                <p>I’ve been a real estate broker in the Lake Tahoe region since 1999. I’m 45 and I’m proud to say I was raised in the Pacific Northwest. My team shares my focus on ethics, effort, and community. We work hard, we play hard, we’re well respected, and we're proud of the people we are at our core. Our team shares a passion for the outdoors. Time spent outside recharges the batteries and the positive energy spills over into all areas of our lives. From cabins to historic estates, buyers and sellers, we appreciate the opportunity and we’re eager to get to work for you.</p>

                <p>Working with buyers has always been a major focus for me. These families are excited about finding a home in the Truckee and Lake Tahoe region. It’s fun to be around that excitement. It keeps us connected to the memories of when we first settled in Lake Tahoe. From modest cabins to luxury properties, we’re eager to share our experience to help buyers find their perfect home.</p>

                <p>For sellers, very few of our peers can match our exposure to buyers. We put a lot of effort into marketing to and working with buyers. From our custom built (buyer focused) websites, to the PR campaigns and the networking, the focused exposure we deliver is unique.  If you’re considering selling you home, we would love the opportunity to show you the difference.</p>               
                <hr>
                <p><i>Thank you!<br>
                I appreciate the opportunity!<br>
                Let us know what you think of the website!<br>
                <a href="mailto:tristan@cblaketahoe.com">Tristan@CBLakeTahoe.com</a></i></p>

            </div><!-- /.member -->
            <div class='member span4'>
                <img src="{% static 'img/photos/tristan_head_circle.png' %}" alt='Tristan Roberts'>
                <h2>Tristan Roberts</h2>
                <p>CBLakeTahoe.com</p>
            </div>

        </div><!-- /.content -->
    </div><!-- /.row -->
</div><!-- /.about-us -->
<hr/>
{% comment %}
<div class='row'>
    <div class='span6'>
        <h2>Our Mission</h2>
        <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Nam commodo rhoncus urna, et imperdiet odio lacinia sodales. Morbi accumsan aliquet metus, ac malesuada quam rutrum et. Curabitur porttitor tincidunt lorem, id mollis dui fringilla sit amet. Mauris vitae risus nunc. Nunc pulvinar varius magna, sed scelerisque arcu varius vitae.</p>
        <p>Donec lobortis tincidunt justo et rhoncus. Etiam ac ligula a diam consectetur commodo vitae non ipsum. Etiam viverra leo at nunc sollicitudin hendrerit. Sed feugiat massa ac nisl dictum tempus sed quis nulla. Vivamus aliquam venenatis porta.<br>
            Quisque eget velit dictum orci luctus lacinia. Donec eget augue non sem</p>
        <p><a href='/contact-us' class='btn btn-primary'>Contact us</a>
        </p></div>
    <div class='span6'>
        <h2>Company presentation</h2>
        <iframe src='http://player.vimeo.com/video/61702922' width='500' height='281'></iframe><p><a href='http://vimeo.com/61702922'>EVERYBODY WANTS TO KILL BRUCE</a> from <a href='http://vimeo.com/user7408417'>Pierre-Alexandre Chauvat</a> on <a href='http://vimeo.com'>Vimeo</a>.</p>
    </div>
</div>
<div class='partners'>
    <h2 class='page-header'>Partners</h2>
    <div class='content'>
        <div class='partner'>
            <a href='http://logopond.com/gallery/detail/192115'>
                <img src="{% static 'img/photos/logo-sokolov.png' %}" alt='Logo'>
            </a>
        </div><!-- /.partner -->

        <div class='partner'>
            <a href='http://logopond.com/gallery/detail/191954'>
                <img src="{% static 'img/photos/logo-love-letters.png' %}" alt='Logo'>
            </a>
        </div><!-- /.partner -->

        <div class='partner'>
            <a href='http://logopond.com/gallery/detail/192592'>
                <img src="{% static 'img/photos/logo-royal-markt.png' %}" alt='Logo'>
            </a>
        </div><!-- /.partner -->

        <div class='partner'>
            <a href='http://logopond.com/gallery/detail/192905'>
                <img src="{% static 'img/photos/logo-shuba.png' %}" alt='Logo'>
            </a>
        </div><!-- /.partner -->

        <div class='partner'>
            <a href='http://logopond.com/gallery/detail/192394'>
                <img src="{% static 'img/photos/logo-sunsynk.png' %}" alt='Logo'>
            </a>
        </div><!-- /.partner -->
    </div><!-- /.content -->
</div><!-- /.partners-->
{% endcomment %}
{% endblock %}
