{% load compress %}
{% load humanize %}
{% load cblt_commons %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang='en-US'>

    <head>
        <title>{% block title %}
                    {% block page_title %}
                        {% if seo_tags.title %}
                            {{ seo_tags.title }}                    
                        {% endif %}
                    {% endblock %} 
                    | CB Lake Tahoe
                {% endblock %}
        </title>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='apple-mobile-web-app-capable' content='yes'>
        <meta name='author' content='CB Lake Tahoe - Lake Tahoe Real Estate Broker'>
        <meta name='description' content="{% block meta %}{% if seo_tags %}
        {{ seo_tags.description|safe }}{% endif %}{% endblock %}"/>
        <!-- <meta name='p:domain_verify' content='a7ec6fba44edc42d0bce36e4bebdafec'/> -->
        <link rel='canonical' href='http://www.cblaketahoe.com{{ request.path }}' />
        {% block css %}
        {% compress css %}
        <link href="{% static 'css/open-sans-font.css' %}" rel='stylesheet' type='text/css'>
        {% endcompress %}
        <link rel='shortcut icon' href="{% static 'img/favicon.png' %}" type='image/png'>
        <link rel='stylesheet' href='#' type='text/css' id='color-variant'>
        {% compress css %}
        <link rel='stylesheet' href="{% static 'css/bootstrap.css'%}" type='text/css'>
        <link rel='stylesheet' href="{% static 'css/flatroom-style.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'css/bootstrap-responsive.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'libraries/chosen/chosen.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'libraries/bootstrap-fileupload/bootstrap-fileupload.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'libraries/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'css/realia-blue.css' %}" type='text/css' id='color-variant-default'>
        <link rel='stylesheet' href="{% static 'css/revolution-slider.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
        {% endcompress %}
        {% endblock css %}
        <!--<script type='text/javascript' async src="{% static 'js/jquery-2.0.0.min.js' %}"></script>-->
        
        <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true'></script>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
        {% compress js %}
        <script type='text/javascript' src="{% static 'js/gmap3.min.js'%}"></script>
        <script type='text/javascript' src="{% static 'js/gmap3.infobox.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/gmap3.clusterer.js' %}"></script>
         {% endcompress %}
        <!-- Mailchimp Goal Code -->

        <script type="text/javascript">
            var $mcGoal = {'settings':{'uuid':'250ea70975e5c04ebf53ffc17','dc':'us7'}};
            (function() {
                 var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;

                sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';

                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);

            })(); 
        </script>

        <!-- Google Analytics Code -->

    	<script>
    	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    	  ga('create', 'UA-48613902-1', 'auto');
    	  ga('send', 'pageview');
    	</script>
    </head>
    <body>
        <!--<div id='wrapper-outer' >-->
        <div id='wrapper-outer' >
            <div id='wrapper'>
                <div id='wrapper-inner'>
                    <!-- BREADCRUMB -->
                    <div class='breadcrumb-wrapper'>
                        <div class='container'>
                            <div class='row'>
                                <div class='span12'>
                                    <ul class='breadcrumb pull-left'>
                                        <li><a href='{% url 'home' %}'>Home</a></li>
                                        {% block breadcrumbs %}
                                        {% endblock %}
                                    </ul><!-- /.breadcrumb -->

                                    <div class='account pull-right'>
                                        <ul class='nav nav-pills'>
                                            {% comment %}
                                            {% if not user.is_authenticated %}
                                            <li><a href='/accounts/login/'>Login</a></li>
                                            <li><a href='/accounts/signup/'>Registration</a></li>
                                            {% else %}
                                            <li><a href='/accounts/login/'>Welcome {{ user }}!</a></li>
                                            <li><a href='/accounts/logout/'>Logout</a></li>
                                            {% endif %}
                                            {% endcomment %}
                                            <li><a href='mailto:tristan@cblaketahoe.com'>tristan@cblaketahoe.com</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.span12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.breadcrumb-wrapper -->

                    <!-- HEADER -->
                    <div id='header-wrapper'>
                        <div id='header'>
                            <div id='header-inner'>
                                <div class='container'>
                                    <div class='navbar'>
                                        <div class='navbar-inner'>
                                            <div class='row'>
                                                <div class='logo-wrapper span6'>
                                                    <a href='#nav' class='hidden-desktop' id='btn-nav'>Toggle navigation</a>

                                                    <div class='logo'>
                                                        <a href='{% url 'home' %}' title='Home'>
                                                            <img src="{% static 'img/chaselogo.jpg'%}" width='150' alt='Lake Tahoe Real Estate Truckee Real Estates'>
                                                        </a>
                                                    </div><!-- /.logo -->
                                                    <div class='site-name'>
                                                        <a href="/" title="Home" class="brand">Tristan Roberts &amp; Associates</a>
                                                        <!-- <p>Lake Tahoe Real Estate Broker</p> -->
                                                        <p>CB Lake Tahoe - Community Brokers of Lake Tahoe</p>
                                                    </div><!-- /.site-name -->

                                                </div><!-- /.logo-wrapper -->

                                                <div class='info'>
                                                    <div class='site-email'>
                                                        <a href='mailto:tristan@cblaketahoe.com'>tristan@cblaketahoe.com</a>
                                                    </div><!-- /.site-email -->

                                                    <div class='site-phone'>
                                                        <span>530-580-8001</span>
                                                    </div><!-- /.site-phone -->
                                                </div><!-- /.info -->
                                            </div><!-- /.row -->
                                        </div><!-- /.navbar-inner -->
                                    </div><!-- /.navbar -->
                                </div><!-- /.container -->
                            </div><!-- /#header-inner -->
                        </div><!-- /#header -->
                    </div><!-- /#header-wrapper -->

                    <!-- NAVIGATION -->
                    <div id='navigation'>
                        <div class='container'>
                            <div class='navigation-wrapper'>
                                <div class='navigation clearfix-normal'>

                                    <ul class='nav'>
                                        <li><a href='{% url 'home' %}'>Home</a></li>
                                        <li><a href='{% url 'about' %}'>About Our Website</a></li>
                                        <li><a href='{% url 'our_opinions' %}'>Our Opinions</a></li>
                                        <li><a href='{% url 'blog' %}'>Blog</a></li>
                                        <li class='menuparent'>
                                            <span class='menuparent nolink'>Search</span>
                                            <ul>

                                                <li><a href='{% url 'search_result' %}'>MLS Search</a></li>
                                                <li><a href='{% url 'realestate_communities' %}'>Communities</a></li>
                                                <li><a href='{% url 'realestate_cities' %}'>Cities</a></li>
                                                <li><a href='{% url 'view_setting' setting_slug='lakefront' %}'>Lakefront</a></li>
                                                <li><a href='{% url 'latest_listings' %}'>New Listings</a></li>
                                                <li><a href='{% url 'realestate_neighborhood' %}'>Neighborhoods</a></li>
                                                <li><a href='{% url 'price_reductions' %}'>Price Reductions</a></li>
                                                <li><a href='{% url 'sold' %}'>Recently Sold</a></li>
                                                <li><a href='{% url 'under_contract' %}'>Under Contract</a></li>
                                            </ul>
                                        </li>
                                        <li class='menuparent'>
                                            <span class='menuparent nolink'>Featured</span>
                                            <ul>
                                                <li><a href="{% url 'manage_property'%}">Property Management</a></li>
                                                <li><a href="{% url 'laketahoe-directory'%}">Business Directory</a></li>
                                                {% for community in COMMUNITIES %}
                                                    {% if community.name %}
                                                        <li><a href='/realestate/{{ community.slug }}'>{{ community.name }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href='{% url 'contact_us' %}'>Contact Us</a></li>
                                    </ul><!-- /.nav -->
                                </div><!-- /.navigation -->
                            </div><!-- /.navigation-wrapper -->
                         <!--    <div class='google-search'>
                                <script>
                                    (function() {
                                        var cx = '000872409697478260553:0ungoeioaxu';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                            '//www.google.com/cse/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <gcse:search></gcse:search>
                            </div> -->
                        </div><!-- /.container -->
                    </div><!-- /.navigation -->

                    <!-- CONTENT -->
                    <div id='content'>
                        {% block home_map %}
                        {% endblock %}
                        <div class='container'>
                            <div id='main'>
                                {% block container %}
                                {% endblock %}
                            </div>
                        </div>
                        {% block bottom %}
                        {% endblock %}
                    </div><!-- /#content -->
                </div><!-- /#wrapper-inner -->

                <div id='footer-wrapper'>
                    <div id='footer-top'>
                        <div id='footer-top-inner' class='container'>
                            <div class='row'>
                                <div class='widget properties span3'>
                                    <div class='title'>
                                        <h2>Featured Properties</h2>
                                    </div><!-- /.title -->

                                    <div class='content'>
                                        {% for listing in FEATURED_PROPERTIES|slice:':3' %}
                                        <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property sidebar-property'>
                                            <div  itemprop='image' class='image'>
                                                <a href='{{ listing.get_detailed_property_url }}'></a>
                                                <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                                            </div><!-- /.image -->
                                            <div class='wrapper'>
                                                <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                                                    <div class='title'>
                                                        <h3 itemprop='streetAddress'><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a></h3>
                                                    </div><!-- /.title -->

                                                    <div class='location'>
                                                        <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                                                    </div><!-- /.location -->
                                                </span>
                                                <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                                                    <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                                                    <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                                                </span>
                                                <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                                            </div><!-- /.wrapper -->
                                        </div><!-- /.property -->
                                        {% endfor %}
                                    </div><!-- /.content -->
                                </div><!-- /.properties-small -->

                                <div class='widget span3'>
                                    <div class='title'>
                                        <h2>Contact us</h2>
                                    </div><!-- /.title -->

                                    <div class='content'>
                                        <table class='contact'>
                                            <tbody>
                                            <tr>
                                                <th class='address'>Address:</th>
                                                <td>531 North Lake Blvd <br>Tahoe City, CA 96145<br>United States<br></td>
                                            </tr>
                                            <tr>
                                                <th class='phone'>Phone:</th>
                                                <td>530-580-8001</td>
                                            </tr>
                                            <tr>
                                                <th class='email'>E-mail:</th>
                                                <td><a href='mailto:tristan@cblaketahoe.com'>tristan@cblaketahoe.com</a></td>
                                            </tr>
                                            <tr>
                                                <th class='skype'>Skype:</th>
                                                <td>roberts.tristan</td>
                                            </tr>
                                            <tr>
                                                <th class='gps'>GPS:</th>
                                                <td>39.171558<br/>-120.140781</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.content -->
                                </div><!-- /.widget -->

                                <div class='widget span3'>
                                    <div class='title'>
                                        <h2 class='block-title'>Featured Links</h2>
                                    </div><!-- /.title -->
                                    <div class='content'>
                                        <ul class='menu nav'>
                                            {% for community in COMMUNITIES|slice:":6" %}
                                                {% if community.name %}
                                                    <li><a href='/realestate/{{ community.slug }}'>{{ community.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            <li class='leaf last'><a href='{% url 'view_setting' setting_slug='lakefront' %}'>Lakefront</a></li>
                                        </ul>
                                    </div>

                                    <!--<div class='content'>-->
                                        <!--<ul class='menu nav'>-->
                                            <!--<li class='first leaf'><a href='{% url 'view_community' community_slug='truckee'%}'>Truckee</a></li>-->
                                            <!--<li class='leaf'><a href='{% url 'view_community' community_slug='north-lake-tahoe'%}'>North Lake Tahoe</a></li>-->
                                            <!--<li class='leaf'><a href='{% url 'view_community' community_slug='martis-valley' %}'>Martis Valley</a></li>-->
                                            <!--<li class='leaf'><a href='{% url 'view_community' community_slug='tahoe-donner' %}'>Tahoe Donner</a></li>-->
                                            <!--<li class='leaf'><a href='{% url 'view_community' community_slug='squaw-valley' %}'>Squaw Valley</a></li>-->
                                            <!--<li class='leaf'><a href='{% url 'view_community' community_slug='west-shore-lake-tahoe'%}'>West Shore Lake Tahoe</a></li>-->
                                            <!--<li class='leaf last'><a href='{% url 'view_setting' setting_slug='lakefront' %}'>Lakefront</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>&lt;!&ndash; /.content &ndash;&gt;-->
                                </div><!-- /.widget -->

                                <div class='widget span3'>
                                    <div class='title'>
                                        <h2 class='block-title'>Say hello!</h2>
                                    </div><!-- /.title -->

                                    <div class='content'>
                                        <form method='post' id='footer-contact'>
                                            {% csrf_token %}
                                            <div id='footer_error_message'></div>
                                            <div class='control-group'>
                                                <label class='control-label' for='id_footer_name'>
                                                    Name
                                                    <span class='form-required' title='This field is required.'>*</span>
                                                </label>
                                                <div class='controls'>
                                                    <input type='text' id='id_footer_name' name='name'>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class='control-group'>
                                                <label class='control-label' for='id_footer_email'>
                                                    Email
                                                    <span class='form-required' title='This field is required.'>*</span>
                                                </label>
                                                <div class='controls'>
                                                    <input type='text' id='id_footer_email' name='email'>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class='control-group'>
                                                <label class='control-label' for='id_footer_phone'>
                                                    Phone
                                                </label>
                                                <div class='controls'>
                                                    <input type='text' id='id_footer_phone' name='phone'>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class='control-group'>
                                                <label class='control-label' for='id_footer_message'>
                                                    Message
                                                    <span class='form-required' title='This field is required.'>*</span>
                                                </label>

                                                <div class='controls'>
                                                    <textarea id='id_footer_message' name='message'></textarea>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class='form-actions'>
                                                <input type='submit' id='footerContactSubmit' class='btn btn-primary arrow-right' value='Send'>
                                            </div><!-- /.form-actions -->
                                        </form>
                                    </div><!-- /.content -->
                                </div><!-- /.widget -->
                            </div><!-- /.row -->
                        </div><!-- /#footer-top-inner -->
                    </div><!-- /#footer-top -->

                    <div id='footer' class='footer container'>
                        <div id='footer-inner'>
                            <div class='row'>
                                <div class='span6 copyright'>
                                    <p>© Copyright 2013 by <a href='http://www.cblaketahoe.com'>CBLakeTahoe</a>. All rights reserved.</p>
                                </div><!-- /.copyright -->

                                <div class='span6 share'>
                                    <div class='content'>
                                        <ul class='menu nav'>
                                            <li class='first leaf'><a href='https://www.facebook.com/pages/cblaketahoecom-Tristan-Roberts-Associates/207955515908521' target='_blank' class='facebook'>Facebook</a></li>
                                            <li class='leaf'><a href='https://plus.google.com/u/0/b/117440375832211071650/+Cblaketahoerealestate/about' target='_blank' class='google'>Google+</a></li>
                                            <li class='leaf'><a href='http://www.linkedin.com/profile/view?id=28737956&authType=name&authToken=cM1Y&locale=en_US&pvs=pp&trk=ppro_viewmore' target='_blank' class='linkedin'>LinkedIn</a></li>
                                            <li class='leaf'><a href='https://twitter.com/CBLakeTahoe' target='_blank' class='twitter'>Twitter</a></li>
                                            <li class='last leaf'><a href='http://www.pinterest.com/cblaketahoe/' target='_blank' class='pinterest'>Pinterest</a></li>
                                        </ul>
                                    </div><!-- /.content -->
                                </div><!-- /.span6 -->
                            </div><!-- /.row -->
                        </div><!-- /#footer-inner -->
                    </div><!-- /#footer -->
                </div><!-- /#footer-wrapper -->
            </div><!-- /#wrapper -->
        </div><!-- /#wrapper-outer -->

    <!-- External JS -->
<!-- note: removed because of duplicate map detected warning   <script type='text/javascript' src='http://maps.google.com/maps?file=api&v=3&key=AIzaSyCK4YF_xDQghyqY8owGlKzFELVnsx5D1fI'></script>-->
    <!--Internal JS -->
    {% block js %}

        <!--<script type='text/javascript' async src="{% static 'js/gmap3.min.js'%}"></script>-->
        <!--<script type='text/javascript' async src="{% static 'js/gmap3.infobox.min.js' %}"></script>-->
        <!--<script type='text/javascript' async src="{% static 'js/gmap3.clusterer.js' %}"></script>-->
    <!--<script>-->
      <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
      <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
      <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
      <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

      <!--ga('create', 'UA-48613902-1', 'cblaketahoe.com');-->
      <!--ga('send', 'pageview');-->
    <!--</script>-->
    <script type='text/javascript'>
        var transperantMarkerImage = "{% static 'img/marker-transparent.png' %}";
        //var MARKERS_PATH= 'img/markers/loc_type/markers/'
        var campgroundMarker = "{% static 'img/markers/loc_type/markers/campground-color-small.png' %}";
        var marketMarker = "{% static 'img/markers/loc_type/markers/market-color-small.png' %}";
        var museumMarker = "{% static 'img/markers/loc_type/markers/museum-color-small.png' %}";
        var restaurantMarker = "{% static 'img/markers/loc_type/markers/restaurant-color-small.png' %}";
        var skiMarker = "{% static 'img/markers/loc_type/markers/ski-color-small.png' %}";
        var golfMarker = "{% static 'img/markers/loc_type/markers/golf-color-small.png' %}";
        var recreationMarker = "{% static 'img/markers/loc_type/markers/recreation-color-small.png' %}";
        var businessMarker = "{% static 'img/markers/loc_type/markers/business-color-small.png' %}";
        var beachMarker = "{% static 'img/markers/loc_type/markers/beach-color-small.png' %}";
        var parkMarker = "{% static 'img/markers/loc_type/markers/park-color-small.png' %}";
        var trailsMarker = "{% static 'img/markers/loc_type/markers/trails-blue-small.png' %}";
        var marinaMarker = "{% static 'img/markers/loc_type/markers/marina-color-small.png' %}";
        var rootPropertyMarker = "{% static 'img/markers/residential-blue.png' %}";

        var community_map = {{ COMMUNITY_MAP|safe }};
        var city_map = {{ CITY_MAP|safe }};
        var subdivisions_json = {{ SUBDIVISIONS_JSON|safe }};

        function create_map_details(class_name){
            locations = [];
            contents = [];
            content_string = '';

            $(class_name).each(function(index, detail){
                e = $(detail);
                var lat = e.children('meta[name=lat]').prop('content');
                if( lat != 'None' && lat != 0){
                    locations.push([e.children('meta[name=lat]').prop('content'),
                                    e.children('meta[name=lng]').prop('content')]);
                    content_string = "<div class='infobox'><div class='close'><img src='{% static 'img/close.png' %}'></div><div class='image'><img src='"+ e.children('meta[name=image]').prop('content') +"'><div class='price'>$"+ e.children('meta[name=price]').prop('content') +"</div></div><div class='title'><a href='/realestate/listing/"+ e.children('meta[name=mls_no]').prop('content') + "'>"+ e.children('meta[name=address]').prop('content') +"</a></div><div class='location'>"+ e.children('meta[name=address_location]').prop('content') + "</div><div class='bathrooms'><div class='content'>" + e.children('meta[name=baths]').prop('content') +"</div></div><div class='bedrooms'><div class='content'>" + e.children('meta[name=beds]').prop('content') + "</div></div><div class='area'><div class='content'>"+ e.children('meta[name=sqft]').prop('content') +" ft<sup>2</sup></div></div><div class='link'><a href='/realestate/listing/"+ e.children('meta[name=mls_no]').prop('content') + "'>View more</a></div></div>";
                    contents.push(content_string);
                }
            });

            return {'locations':locations, 'contents':contents}
        }
        $(document).ready(function(){
            var property_options = $('#inputPropertyType option');

            var values = $.map(property_options ,function(option) {
                console.log(option.value);
            });

            var property_chosen = $('.search-choice');
            console.log(property_chosen)
            var chosen_values = $.map(property_chosen ,function(option) {
                console.log(option.text());
            });

            $('.read-more-content').addClass('hide');
        });


    </script>
    {% compress js %}
    <script type='text/javascript' src="{% static 'js/jquery.ezmark.js' %}"></script>
    <!-- <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.currency.js'></script> --><!--This was used in the price slider; functionality was removed-->
    <script type='text/javascript' src="{% static 'js/jquery.cookie.js' %}"></script><!-- what is this?-->
    <script type='text/javascript' src="{% static 'js/retina.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/carousel.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.lazyload.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'libraries/jquery-ui-1.11.4.custom/jquery-ui.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'libraries/chosen/chosen.jquery.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'libraries/iosslider/_src/jquery.iosslider.min.js'%}"></script><!-- what is this?-->
    <script type='text/javascript' src="{% static 'libraries/bootstrap-fileupload/bootstrap-fileupload.js'%}"></script><!-- what is this?-->
    <script type='text/javascript' src="{% static 'js/realia.js' %}"></script>
    <script type='text/javascript' src="{% static 'custom-js/script.js'%}"></script>
    {% endcompress %}
    {% compress  js %}

    {% endcompress %}
    <!--<script type='text/javascript' src='{{ STATIC_URL }}custom-js/contact.js'></script>-->
     
    {% endblock %}
    </body>
</html>
