{% extends 'base.html' %}

{% load cblt_commons %}
{% load humanize %}

{% block breadcrumbs %}
&raquo;
<li>Blog</li>
{% endblock %}
{% block page_title %}CB Lake Tahoe Blog{% endblock %}
{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Life in Lake Tahoe with a bit of real estate news</h1>
        {% block blog_content %}
        <div class='properties-rows'>
            <div class='row'>
                {% for content in blog_content %}
                {% if content.is_full_content%}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span8 margin-left10'>
                            <div class='title-price row'>
                                <div class='title span7'>
                                    <h2><a href='{{ content.get_absolute_url }}'>{{ content.title }}</a></h2>
                                </div><!-- /.title -->
                                <div class='price'>
                                </div><!-- /.price -->
                            </div><!-- /.title -->

                            <div class='location'>&nbsp;</div><!-- /.location -->
                            {% if content.content %}
                            <p>{{ content.content|safe|truncatechars:600 }}</p>
                            {% endif %}
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endif %}
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No Blogs Found</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
                <div class='pagination pagination-centered'>
                    <ul>
                    {% if blog_content.has_previous %}
                        <li><a href='{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}&{% else %}?{% endif %}page={{ blog_content.previous_page_number }}' class='prev'>&lsaquo;&lsaquo;</a></li>
                    {% else %}
                        <li class='disabled prev'><a href='#'>&lsaquo;&lsaquo;</a></li>
                    {% endif %}
                    {% for page in blog_content.paginator.page_range %}
                        {% if page %}
                        {% ifequal page blog_content.number %}
                            <li class='current page active'><a href='#'>{{ page }}</a></li>
                        {% else %}
                            <li><a href='{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ page }}' class='page'>{{ page }}</a></li>
                        {% endifequal %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                    {% if blog_content.has_next %}
                        <li><a href='{% if request.build_absolute_uri %}{{ request.build_absolute_uri }}?{% else %}?{% endif %}{{ queries.urlencode }}&amp;page={{ blog_content.next_page_number }}' class='next'>&rsaquo;&rsaquo;</a></li>
                    {% else %}
                        <li class='disabled next'><a href='#'>&rsaquo;&rsaquo;</a></li>
                    {% endif %}
                    </ul>
                </div><!-- /.pagination -->
            </div>
        </div>
        {% endblock %}
    </div><!-- /.span9 -->
    <div class='sidebar span3'>        
        <div class='hidden-tablet'>
            <div class="mailchimp-newsletterform">
                <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
                width='100%' height='1130' allowtransparency='true'>
                </iframe>
            </div>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header'>Location Types</h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for location in location_types %}
                    <div class='property property-side-container'>
                        <div class='image'>
                            <div class='location-type' {% if location.blog_image %}style='background-image: url("{{ location.blog_image.url }}");'{% endif %}></div>
                        </div><!-- /.image -->
                        <div class='wrapper'>
                            <div class='title other-properties'>
                                <h2>
                                    <a href="{% url 'filter_content' location_type_id=location.id location_type_slug=location.name|slugify %}">{{ location.name }}</a>
                                </h2>
                            </div><!-- /.title -->
                        </div><!-- /.wrapper -->
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->            
        </div><!-- end hidden tablet-->

        
    </div><!-- /.span3 -->
</div><!-- /.row -->
{% endblock %}
