{% extends 'base.html' %}

{% load humanize %}

{% block container %}
<div class='not-found'>
    <strong>Soon</strong>
    <h1>We are currently working on this page.</h1>
    <hr/>
    <p>
        <a href='{% url 'home' %}'>return back</a>
    </p>
</div>
{% endblock %}
