{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumbs %}
&raquo;
<li>Contact Us</li>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header'>Contact us</h1>
        <iframe class='map contact-us-map' width='425' height='350' src='https://maps.google.com/maps?q=39.170745,-120.142012&amp;num=1&amp;ie=UTF8&amp;ll=39.170745,-120.142012&amp;spn=0.005448,0.011222&amp;t=m&amp;z=14&amp;output=embed'></iframe>

        <div class='row'>
            <div class='span3'>
                <h3 class='address'>Address</h3>
                <p class='content-icon-spacing'>
                    531 North Lake Blvd<br/>
                    Tahoe City, CA 96145<br/>
                    United States
                </p>
            </div>
            <div class='span3'>
                <h3 class='call-us'>Call us</h3>
                <p class='content-icon-spacing'>
                    530-580-8001
                </p>
            </div>
            <div class='span3'>
                <h3 class='email'>Email</h3>
                <p class='content-icon-spacing'>
                    <a href='mailto:roberts.tristan@gmail.com'>Tristan Roberts &amp; Associates</a><br/>
                    <!--Coldwell Banker Residential Brokerage<br/ -->
                    LIC#: 01259729
                </p>
            </div>
        </div>

        <h2>We'd love to hear from you!</h2>

        <form method='post' class='contact-form' action='?'>
            {% csrf_token %}
            <div id='error_message'>
            </div>
            <div class='name control-group'>
                <label class='control-label' for='inputContactName'>
                    Name
                    <span class='form-required' title='This field is required.'>*</span>
                </label>
                <div class='controls'>
                    <input type='text' id='id_name' name='name' value=''>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class='email control-group'>
                <label class='control-label' for='inputContactEmail'>
                    Email
                    <span class='form-required' title='This field is required.'>*</span>
                </label>
                <div class='controls'>
                    <input type='text' id='id_email' name='email' value=''>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class='phone control-group'>
                <label class='control-label' for='inputContactPhone'>
                    Phone
                </label>
                <div class='controls'>
                    <input type='text' id='id_phone' name='phone' value=''>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class='control-group'>
                <label class='control-label' for='inputContactMessage'>
                    Message
                    <span class='form-required' title='This field is required.'>*</span>
                </label>

                <div class='controls'>
                    <textarea id='id_message' name='message' value=''></textarea>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class='form-actions'>
                <input type='submit' id='contactUsSubmit' class='btn btn-primary arrow-right' value='Send'>
            </div><!-- /.form-actions -->
        </form>
    </div>

    <div class='sidebar span3'>
         <div class="mailchimp-newsletterform">
            <iframe src='http://eepurl.com/bEQuE5' frameborder='0'
            width='100%' height='1130' allowtransparency='true'>
            </iframe>
        </div>
        <div class='widget properties last'>
            <div class='title'>
                <h2 class='page-header link'><a href='{% url 'latest_listings' %}'>New Listings</a></h2>
            </div><!-- /.title -->

            <div class='content'>
                {% for listing in LATEST_PROPERTIES %}
                <div class='property sidebar-property'>
                    <div class='image'>
                        <a href='{{ listing.get_detailed_property_url }}'></a>
                        <img src='{{ listing.get_picture_url }}' alt=''>
                    </div><!-- /.image -->
                    <div class='wrapper'>
                        <div class='title'>
                            <h3>
                                <a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address|truncatechars:'19' }}</a>
                            </h3>
                        </div><!-- /.title -->
                        <div class='location'>{{ listing.C_Community }}</div><!-- /.location -->
                        <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                    </div><!-- /.wrapper -->
                </div><!-- /.property -->
                {% endfor %}
            </div><!-- /.content -->
        </div><!-- /.properties -->
    </div>
</div>
{% endblock %}
