{% extends 'blog.html' %}

{% block breadcrumbs %}
&raquo;
<li><a href="{% url 'blog' %}">Blog</a></li> &raquo;
<li>{{ content.title }}</li>
{% endblock %}

{% block blog_content %}
<div class='properties-rows'>
    <div class='row'>
        {% if content.is_full_content%}
        <div class='property span9'>
            <div class='row'>
                <div class='body span8 margin-left10'>
                    <div class='title-price row'>
                        <div class='title span7'>
                            <h2><a href='#{{ content.title|slugify }}' name='#{{ content.title|slugify }}'>{{ content.title }}</a></h2>
                        </div><!-- /.title -->
                        <div class='price'>
                        </div><!-- /.price -->
                    </div><!-- /.title -->

                    <div class='location'>&nbsp;</div><!-- /.location -->
                    {% if content.content %}
                    <p>{{ content.content|safe }}</p>
                    {% endif %}
                    {% if content.gallery %}
                    <div id='gallery_{{ content.gallery.id }}' class='royalSlider rsDefault siteContentGallery'>
                        {% for image in content.gallery.photos.all %}
                            <a class='rsImg' href='{{ image.image.url }}'>
                                <img class='rsTmb lazy' width='56' height='56' src='{{ image.image.url }}'/>
                            </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div><!-- /.body -->
            </div><!-- /.property -->
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
