{% extends 'base.html' %}

{% load humanize %}
{% load cblt_commons %}
{% load compress %}

{% block home_map %}
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                <!-- MAIN IMAGE -->
                <img src="{{ STATIC_URL }}img/laketahoe-bg2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption very_big_white sfr tp-resizeme"
                    data-x="50"
                    data-y="100"
                    data-speed="400"
                    data-start="800"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    style="z-index: 4">Fully Responsive
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb"
                    data-x="656"
                    data-y="55"
                    data-speed="300"
                    data-start="1700"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    style="z-index: 5"><img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/display.png" alt="">
                </div>

                <div class="tp-caption sfb"
                    data-x="891"
                    data-y="221"
                    data-speed="300"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    style="z-index: 6"><img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/ipad.png" alt="">
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb"
                    data-x="678"
                    data-y="237"
                    data-speed="300"
                    data-start="2300"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    style="z-index: 7"><img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/iphone.png" alt="">
                </div>

            </li>
            <!-- SLIDE  -->
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="{{ STATIC_URL }}img/laketahoe-bg1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lightgrey_divider skewfromrightshort fadeout"
                    data-x="85"
                    data-y="224"
                    data-speed="500"
                    data-start="1200"
                    data-easing="Power4.easeOut">My Caption
                </div>
                ...
            </li>
            ....
        </ul>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
           jQuery('.tp-banner').revolution(
            {
                delay:9000,
                startwidth:1170,
                startheight:500,
                hideThumbs:10
            });
    });
</script>
{% endblock %}

{% block container %}
<div class='row'>
    <div class='span9'>
        <h1 class='page-header link'><a href='{% url 'view_setting' setting_slug='lakefront' %}' title='View more Lakefront Properties'>Lakefront Properties</a></h1>
        <div class='properties-grid'>
            <div class='row'>
                {% for listing in lakefronts %}
                <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property span3'>
                    <div class='image'>
                        <div class='content'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <span itemprop='image'><img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ listing.get_thumbnail_270 }}' alt='{{ listing.C_Address }} {{ listing.address_location }} property image preview'></span>
                        </div><!-- /.content -->

                        <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}
                            <p class='list-date'>List Date: {{ listing.C_LstDate|date:"M d, Y"}}</p>
                        </div><!-- /.price -->
                    </div><!-- /.image -->
                    <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                        <div class='title'>
                            <h2 itemprop='streetAddress'><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                        </div><!-- /.title -->

                        <div class='location'>
                            <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                        </div><!-- /.location -->
                    </span>
                    <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                        <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                        <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                    </span>
                    <div class='area'>
                        <div class='content'>
                            {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                        </div>
                    </div><!-- /.area -->
                    <div class='bathrooms'>
                        <div class='content'>
                            {{ listing.C_NoBaths1|default_if_none:0 }}
                        </div>
                    </div><!-- /.bathrooms -->
                    <div class='bedrooms'>
                        <div class='content'>
                            {{ listing.C_NoBeds|default_if_none:0 }}
                        </div>
                    </div><!-- /.bedrooms -->
                    <div class='map-details lakefront' style='display:none'>
                        <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                        <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                        <meta name='address' content='{{ listing.C_Address }}'>
                        <meta name='address_location' content='{{ listing.address_location }}'>
                        <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                        <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                        <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                        <meta name='image' content='{{ listing.get_thumbnail_100 }}'>
                        <meta name='community' content='{{ listing.C_Community }}'>
                        <meta name='lat' content='{{ listing.C_GeoLat }}'>
                        <meta name='lng' content='{{ listing.C_GeoLong }}'>
                    </div>

                </div><!-- /.property -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-grid -->

    </div><!-- end span9-->
    <div class='sidebar span3 home'>
        {% include 'includes/agent.html' %}
        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header link' title='View More New Listings'><a href='{% url 'latest_listings' %}'>New Listings<a></h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for listing in active %}
                    <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property sidebar-property'>
                        <div class='image'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                                <div class='title'>
                                    <h3>
                                        <a itemprop='streetAddress' href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class='location'>
                                    <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                                </div><!-- /.location -->
                            </span>
                            <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                                <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                                <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                            </span>
                            <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        </div><!-- /.wrapper -->
                        <div class='map-details active' style='display:none'>
                            <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                            <meta name='price' content='{{ listing.C_AskPrice|intcomma }}'>
                            <meta name='address' content='{{ listing.C_Address }}'>
                            <meta name='address_location' content='{{ listing.address_location }}'>
                            <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                            <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                            <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                            <meta name='image' content='{{ listing.get_thumbnail_100 }}'>
                            <meta name='community' content='{{ listing.C_Community }}'>
                            <meta name='lat' content='{{ listing.C_GeoLat }}'>
                            <meta name='lng' content='{{ listing.C_GeoLong }}'>
                        </div>
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!-- end hidden tablet-->
    </div>
</div>

<div class='carousel'>
    <h2 class='page-header link' title="View More Recent Price Reductions"><a href='{% url 'price_reductions' %}'>Recent Price Reductions</a></h2>

    <div class='content'>
        <a class='carousel-prev' href='#'>Previous</a>
        <a class='carousel-next' href='#'>Next</a>
        <ul>
            {% for listing in price_change.listings.all %}
            <li itemscope itemtype='http://schema.org/SingleFamilyResidence'>
                <div class='image slide-image'>
                    <a href='{{ listing.get_detailed_property_url }}'></a>
                    <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ listing.get_thumbnail_270 }}' alt='{{ listing.address_location }} {{ listing.C_Address }} real estate preview'>
                    <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- .price -->
                </div><!-- /.image -->
                <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                    <div class='title'>
                        <h3 itemprop='streetAddress' ><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h3>
                    </div><!-- /.title -->
                    <div class='location'>
                        <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                    </div><!-- /.location-->
                </span>
                <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                    <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                    <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                </span>
                <div class='area'>
                    <div class='inner'>
                            {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                        </div>
                    </div><!-- /.area -->
                <div class='bathrooms'>
                    <div class='inner'>
                        {{ listing.C_NoBaths1|default_if_none:0 }}
                    </div>
                </div><!-- /.bathrooms -->
                <div class='bedrooms'>
                    <div class='inner'>
                        {{ listing.C_NoBeds|default_if_none:0 }}
                    </div>
                </div><!-- /.bedrooms -->

                <div class='map-details price-change' style='display:none'>
                    <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                    <meta name='price' content='{{ listing.C_AskPrice|intcomma }}'>
                    <meta name='address' content='{{ listing.C_Address }}'>
                    <meta name='address_location' content='{{ listing.address_location }}'>
                    <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                    <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                    <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                    <meta name='image' content='{{ listing.get_thumbnail_100 }}'>
                    <meta name='community' content='{{ listing.C_Community }}'>
                    <meta name='lat' content='{{ listing.C_GeoLat }}'>
                    <meta name='lng' content='{{ listing.C_GeoLong }}'>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div><!-- /.content -->
</div><!-- /.carousel -->
{% endblock %}

{% block bottom %}
<div class='bottom-wrapper'>
    <div class='bottom container'>
        <div class='bottom-inner row'>
            <div class='item span4'>
                <div class='address decoration'></div>
                <h2><a>More to Explore</a></h2>
                <p>We’ve designed our site from the ground up to offer unique features.
                    From the custom search criteria, the 100s of property photos (all angles/views), layouts and descriptions, measurements of key rooms, our comments and opinions, neighborhood market stats and recent sales activity, to mapping the neighborhood points of interest (distance to trailheads, beaches..) and even some aerial videos of these beautiful spots.  We hope you enjoy the site.
                </p>
                <a href='{% url 'explore' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->

            <div class='item span4'>
                <div class='gps decoration'></div>
                <h2><a>Statistics</a></h2>
                <p>An indepth look at the Lake Tahoe and Truckee real estate market.</p>
                <a href='{% url 'statistics' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->

            <div class='item span4'>
                <div class='key decoration'></div>
                <h2><a>Blog</a></h2>
                <p>Read more about the great people, places, and events in the Tahoe Truckee region.  From neighborhood trailheads to our favorite local merchants, we hope you enjoy our posts and our recommendations.</p>
                <a href='{% url 'blog' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->
        </div><!-- /.bottom-inner -->
    </div><!-- /.bottom -->
</div><!-- /.bottom-wrapper -->
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.revolution.min.js"></script>
{% compress js %}
<script type='text/javascript' src='{{ STATIC_URL }}js/aviators-map.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}custom-js/home.js'></script>
{% endcompress %}
{% endblock %}
