{% extends 'base.html' %}

{% load humanize %}
{% load cblt_commons %}
{% load compress %}
{% block page_title %}Lake Tahoe Real Estate +{{ listing_count }} listings {% endblock %}
{% block container %}
<div class='row'>
    <div class='span9'>
        <div class='carousel-home'>
            <div class='content'>
                <a class='carousel-prev' href='#'>Previous</a>
                <a class='carousel-next' href='#'>Next</a>
                <ul>
                    <li>
                        <div class='image slide-image tristan-image'>
                            <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ STATIC_URL }}img/photos/tristan_head_circle.png' alt='Tristan Roberts'>
                        </div><!-- /.image -->
                        <span>
                            <div class='title'>
                                <h3>From Lakefronts to Cabins</h3>
                            </div><!-- /.title -->
                            <br/>
                            <div class='location'>
                                <span>We preview the Tahoe / Truckee real estate listings and we post our comments and photos...</span>
                            </div><!-- /.location-->
                        </span>
                    </li>
                    <li>
                        <div class='image slide-image other-images'>
                            <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ STATIC_URL }}img/photos/Lake_Tahoe_Real_Estate_Broker_Tristan_Roberts.jpg' alt='Tristan Roberts'>
                        </div><!-- /.image -->
                        <span>
                            <div class='title'>
                                <h3>Working hard to give you more!</h3>
                            </div><!-- /.title -->
                            <br/>
                            <div class='location'>
                                <span>We custom built this website from the ground up to be the best resource for Truckee and North Lake Tahoe real estate...</span>
                            </div><!-- /.location-->
                        </span>
                    </li>
                    <li>
                        <div class='image slide-image pie-image'>
                            <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ STATIC_URL }}img/pie.jpg' alt='Tristan Roberts'>
                        </div><!-- /.image -->
                        <span>
                            <div class='title'>
                                <h3>Buyers and Sellers love it!</h3>
                            </div><!-- /.title -->
                            <br/>
                            <div class='location'>
                                <span>More is good! More data + our opinions and extra property photos. Search recent sales based on specific criteria, view stats...</span>
                            </div><!-- /.location-->
                        </span>
                    </li>
                    <li>
                        <div class='image slide-image other-images'>
                            <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ STATIC_URL }}img/property_map.jpg' alt='Tristan Roberts'>
                        </div><!-- /.image -->
                        <span>
                            <div class='title'>
                                <h3>We love working with buyers</h3>
                            </div><!-- /.title -->
                            <br/>
                            <div class='location'>
                                <span>Buyers are usually fun to work with ;-)
They’re excited about finding a vacation home in the mountains.  They want to know how far it is to; the neighborhood trailhead...</span>
                            </div><!-- /.location-->
                        </span>
                    </li>
                </ul>
            </div><!-- /.content -->
        </div><!-- /.carousel -->
        <h1 class='page-header link'> &nbsp;Lake Tahoe Real Estate</h1>
        <div class="lakefront_description"> I’ve been a Lake Tahoe real estate broker since 1999. From ski area cabins to Lake Tahoe lakefronts and the new luxury developments in Truckee, I know the markets well and I’m eager to work. I'm honest and frank and I'm well respected. I excel when egos make situations difficult. I'm dependable and I appreciate the business and the opportunity.<a href="mailTo:Tristan@cblaketahoe.com">Email and say hello</a> and let me know how I can be of help.
<br><i>Tristan Roberts - Lake Tahoe Real Estate Broker</i></div>
        <div class='properties-grid'>
            <div class='row'>
                {% for listing in lakefronts %}
                <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property span3'>
                    <div class='image'>
                        <div class='content'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <span itemprop='image'><img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ listing.get_thumbnail_270 }}' alt='{{ listing.C_Address }} {{ listing.address_location }} property image preview'></span>
                        </div><!-- /.content -->

                        <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}
                            <p class='list-date'>List Date: {{ listing.C_LstDate|date:"M d, Y"}}</p>
                        </div><!-- /.price -->
                    </div><!-- /.image -->
                    <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                        <div class='title'>
                            <h2 itemprop='streetAddress'><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                        </div><!-- /.title -->

                        <div class='location'>
                            <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                        </div><!-- /.location -->
                    </span>
                    <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                        <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                        <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                    </span>
                    <div class='area'>
                        <div class='content'>
                            {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                        </div>
                    </div><!-- /.area -->
                    <div class='bathrooms'>
                        <div class='content'>
                            {{ listing.C_NoBaths1|default_if_none:0 }}
                        </div>
                    </div><!-- /.bathrooms -->
                    <div class='bedrooms'>
                        <div class='content'>
                            {{ listing.C_NoBeds|default_if_none:0 }}
                        </div>
                    </div><!-- /.bedrooms -->
                    <div class='map-details lakefront' style='display:none'>
                        <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                        <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                        <meta name='address' content='{{ listing.C_Address }}'>
                        <meta name='address_location' content='{{ listing.address_location }}'>
                        <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                        <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                        <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                        <meta name='image' content='{{ listing.get_thumbnail_270 }}'>
                        <meta name='community' content='{{ listing.C_Community }}'>
                        <meta name='lat' content='{{ listing.C_GeoLat }}'>
                        <meta name='lng' content='{{ listing.C_GeoLong }}'>
                    </div>

                </div><!-- /.property -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-grid -->

    </div><!-- end span9-->
    <div class='sidebar span3 home'>
        <div class='property-filter pull-right'>
            <div class='content'>
                <form method='get' action='/realestate/search'>
                     <div class='status-type control-group'>
                        <label class='control-label' for='inputPropertyStatus'>
                            Status
                        </label>
                        <div class='controls'>
                            <select id='inputStatusType' name='status'>
                                <option value='active' selected='selected'>Active</option>
                                <option value='contingent'>Under Contract</option>
                                <option value='sold'>Sold</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='clearfix'></div>

                    <div class='property-type control-group'>
                        <label class='control-label' for='inputPropertyType'>
                            Property Type
                        </label>
                        <div class='controls'>
                            <select id='inputPropertyType' name='property_type'>
                                <option value='All' selected='selected'>All</option>
                                {% for type in PROPERTY_TYPES %}
                                <option value='{{ type.name }}'>{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='community-type control-group'>
                        <label class='control-label' for='inputCommunityType'>
                            Community
                        </label>
                        <div class='controls'>
                            <select id='inputCommunityType' name='community'>
                                <option value='All'>All</option>
                                {% for community in COMMUNITIES %}
                                <option value='{{ community.name }}'>{{ community }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='subdivision-type control-group'>
                        <label class='control-label' for='inputSubdivisionType'>
                            Subdivision
                        </label>
                        <div class='controls'>
                            <select id='inputSubdivisionType' name='area'>
                                <option value='All' selected='selected'>All</option>
                                {% for area in SUBDIVISIONS %}
                                <option value='{{ area.name }}'>{{ area }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='beds control-group'>
                        <label class='control-label' for='inputBeds'>
                            Beds
                        </label>
                        <div class='controls'>
                            <select id='inputBeds' name='bedroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2'>2+</option>
                                <option value='3'>3+</option>
                                <option value='4'>4+</option>
                                <option value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='baths control-group'>
                        <label class='control-label' for='inputBaths'>
                            Baths
                        </label>
                        <div class='controls'>
                            <select id='inputBaths' name='bathroom'>
                                <option value='Any' selected='selected'>Any</option>
                                <option value='2'>2+</option>
                                <option value='3'>3+</option>
                                <option value='4'>4+</option>
                                <option value='5'>5+</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-min control-group'>
                        <label class='control-label' for='inputPriceMin'>
                            Minimum Price
                        </label>
                        <div class='controls'>
                            <span style="display:none;">{{ price_range_min }}</span>
                            <select name='pricerangemin' id='inputPriceMin'>
                                <option value='nomin'>No Min</option>
                                <option value='50000'>50,000</option>
                                <option value='100000'>100,000</option>
                                <option value='200000'>200,000</option>
                                <option value='300000'>300,000</option>
                                <option value='400000'>400,000</option>
                                <option value='500000'>500,000</option>
                                <option value='600000'>600,000</option>
                                <option value='700000'>700,000</option>
                                <option value='800000'>800,000</option>
                                <option value='900000'>900,000</option>
                                <option value='1000000'>1M</option>
                                <option value='1500000'>1.5M</option>
                                <option value='2000000'>2M</option>
                                <option value='2500000'>2.5M</option>
                                <option value='3000000'>3M</option>
                                <option value='4000000'>4M</option>
                                <option value='5000000'>5M</option>
                                <option value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='price-max control-group'>
                        <label class='control-label' for='inputPriceMax'>
                            Maximum Price
                        </label>
                        <div class='controls'>
                            <span style="display:none;">{{ price_range_max}}</span>
                            <select name='pricerangemax' id='inputPriceMax'>
                                <option value='nomax'>No Max</option>
                                <option value='50000'>50,000</option>
                                <option value='100000'>100,000</option>
                                <option value='200000'>200,000</option>
                                <option value='300000'>300,000</option>
                                <option value='400000'>400,000</option>
                                <option value='500000'>500,000</option>
                                <option value='600000'>600,000</option>
                                <option value='700000'>700,000</option>
                                <option value='800000'>800,000</option>
                                <option value='900000'>900,000</option>
                                <option value='1000000'>1M</option>
                                <option value='1500000'>1.5M</option>
                                <option value='2000000'>2M</option>
                                <option value='2500000'>2.5M</option>
                                <option value='3000000'>3M</option>
                                <option value='4000000'>4M</option>
                                <option value='5000000'>5M</option>
                                <option value='6000000'>6M</option>
                            </select>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->

                    <div class='form-actions'>
                        <input type='submit' value='Filter' class='btn btn-primary btn-medium input-47'>
                        <input type='button' value='Advanced' class='btn btn-primary btn-medium input-47' onclick="window.location.href='/realestate/search'; return false;" style='float:right;'>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.content -->
        </div><!-- /.property-filter -->
        <div class='clearfix'></div>

        <div class='hidden-tablet'>
            <div class='widget properties last'>
                <div class='title'>
                    <h2 class='page-header link' title='View More New Listings'><a href='{% url 'latest_listings' %}'>New Listings<a></h2>
                </div><!-- /.title -->

                <div class='content'>
                    {% for listing in active %}
                    <div itemscope itemtype='http://schema.org/SingleFamilyResidence' class='property sidebar-property'>
                        <div class='image'>
                            <a href='{{ listing.get_detailed_property_url }}'></a>
                            <img src='{{ listing.get_thumbnail_270 }}' alt=''>
                        </div><!-- /.image -->

                        <div class='wrapper'>
                            <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                                <div class='title'>
                                    <h3>
                                        <a itemprop='streetAddress' href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class='location'>
                                    <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                                </div><!-- /.location -->
                            </span>
                            <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                                <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                                <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                            </span>
                            <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                        </div><!-- /.wrapper -->
                        <div class='map-details active' style='display:none'>
                            <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                            <meta name='price' content='{{ listing.C_AskPrice|intcomma }}'>
                            <meta name='address' content='{{ listing.C_Address }}'>
                            <meta name='address_location' content='{{ listing.address_location }}'>
                            <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                            <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                            <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                            <meta name='image' content='{{ listing.get_thumbnail_270 }}'>
                            <meta name='community' content='{{ listing.C_Community }}'>
                            <meta name='lat' content='{{ listing.C_GeoLat }}'>
                            <meta name='lng' content='{{ listing.C_GeoLong }}'>
                        </div>
                    </div><!-- /.property -->
                    {% endfor %}
                </div><!-- /.content -->
            </div><!-- /.properties -->
        </div><!-- end hidden tablet-->
    </div>
</div>

<div class='carousel'>
    <h2 class='page-header link' title="View More Recent Price Reductions"><a href='{% url 'price_reductions' %}'>Recent Price Reductions</a></h2>

    <div class='content'>
        <a class='carousel-prev' href='#'>Previous</a>
        <a class='carousel-next' href='#'>Next</a>
        <ul>
            {% for listing in price_change.listings.all %}
            <li itemscope itemtype='http://schema.org/SingleFamilyResidence'>
                <div class='image slide-image'>
                    <a href='{{ listing.get_detailed_property_url }}'></a>
                    <img class='lazy1' src="{{ STATIC_URL }}img/icons/loading.gif" data-original='{{ listing.get_thumbnail_270 }}' alt='{{ listing.address_location }} {{ listing.C_Address }} real estate preview'>
                    <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- .price -->
                </div><!-- /.image -->
                <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                    <div class='title'>
                        <h3 itemprop='streetAddress' ><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h3>
                    </div><!-- /.title -->
                    <div class='location'>
                        <span itemprop='addressLocality'>{{ listing.address_location }}</span>
                    </div><!-- /.location-->
                </span>
                <span itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
                    <meta content='{{ listing.C_GeoLat }}' itemprop='latitude'>
                    <meta content='{{ listing.C_GeoLong }}' itemprop='longitude'>
                </span>
                <div class='area'>
                    <div class='inner'>
                            {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                        </div>
                    </div><!-- /.area -->
                <div class='bathrooms'>
                    <div class='inner'>
                        {{ listing.C_NoBaths1|default_if_none:0 }}
                    </div>
                </div><!-- /.bathrooms -->
                <div class='bedrooms'>
                    <div class='inner'>
                        {{ listing.C_NoBeds|default_if_none:0 }}
                    </div>
                </div><!-- /.bedrooms -->

                <div class='map-details price-change' style='display:none'>
                    <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                    <meta name='price' content='{{ listing.C_AskPrice|intcomma }}'>
                    <meta name='address' content='{{ listing.C_Address }}'>
                    <meta name='address_location' content='{{ listing.address_location }}'>
                    <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                    <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                    <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                    <meta name='image' content='{{ listing.get_thumbnail_270 }}'>
                    <meta name='community' content='{{ listing.C_Community }}'>
                    <meta name='lat' content='{{ listing.C_GeoLat }}'>
                    <meta name='lng' content='{{ listing.C_GeoLong }}'>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div><!-- /.content -->
</div><!-- /.carousel -->
{% endblock %}

{% block bottom %}
<div class='bottom-wrapper'>
    <div class='bottom container'>
        <div class='bottom-inner row'>
            <div class='item span4'>
                <div class='address decoration'></div>
                <h2><a>More to Explore</a></h2>
                <p>We’ve designed our site from the ground up to offer unique features.
                    From the custom search criteria, the 100s of property photos (all angles/views), layouts and descriptions, measurements of key rooms, our comments and opinions, neighborhood market stats and recent sales activity, to mapping the neighborhood points of interest (distance to trailheads, beaches..) and even some aerial videos of these beautiful spots.  We hope you enjoy the site.
                </p>
                <a href='{% url 'explore' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->

            <div class='item span4'>
                <div class='gps decoration'></div>
                <h2><a>Statistics</a></h2>
                <p>An indepth look at the Lake Tahoe and Truckee real estate market.</p>
                <a href='{% url 'statistics' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->

            <div class='item span4'>
                <div class='key decoration'></div>
                <h2><a>Blog</a></h2>
                <p>Read more about the great people, places, and events in the Tahoe Truckee region.  From neighborhood trailheads to our favorite local merchants, we hope you enjoy our posts and our recommendations.</p>
                <a href='{% url 'blog' %}' class='btn btn-primary'>Read more</a>
            </div><!-- /.item -->
        </div><!-- /.bottom-inner -->
    </div><!-- /.bottom -->
</div><!-- /.bottom-wrapper -->
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type='text/javascript' src='{{ STATIC_URL }}js/aviators-map.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}custom-js/home.js'></script>
{% endcompress %}
{% endblock %}
