{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Property Management</li>
{% endblock %}
{% block page_title %}Lake Tahoe Truckee Business Directory{% endblock %}
{% block container %}
<script>
    $(document).ready(function(){
        // $("img.lazyload").each(function() {
        //         $(this).attr("src", $(this).data("original"));
        //     });
        $("img.lazyload").lazyload();
      
    });
</script>
<div class='about-us business-directory'>
    <h1 class='page-header'>Lake Tahoe Business Directory</h1>
    <div class='row'>
        <div class='content'>
            <div class='member span8' style='text-align:justify;'>
                <div class="properties-grid">
                    <div class="row">
                        {% if all_directories %}
                            {% for directory in all_directories %}
                                <div class="property span3">
                                    <div class="image">
                                        <div class="content">
                                            <a href="#"></a>
                                            <span itemprop="image">
                                                <img alt="" src="{% static 'img/icons/loading.gif' %}" data-original="{{ MEDIA_URL}}{{ directory.business_image_thumbnail }}" class="lazyload" style="display: inline;">
                                            </span>
                                        </div><!-- /.content -->
                                    </div><!-- /.image -->
                                    <span itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                                        <div class="title">
                                            <h2 itemprop="streetAddress">
                                                <a href="#">
                                                    {{ directory.name }}
                                                </a>
                                            </h2>
                                        </div><!-- /.title -->
                                        <div class="location">
                                            <span itemprop="website">
                                                {{ directory.email }}
                                            </span>
                                            <span itemprop="phone">
                                                {{ directory.phone }}
                                            </span>
                                            <span itemprop="website">
                                                {{ directory.website }}
                                            </span>
                                            <span itemprop="website">
                                                {{ directory.address }}
                                            </span>
                                        </div><!-- /.location -->
                                    </span>                                
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>               
            </div><!-- /.member -->
            <div class='member span3'>
                <img src="{% static 'img/photos/tristan_head_circle.png' %}" alt='Tristan Roberts'>
                <h2>Tristan Roberts</h2>
                <p>CBLakeTahoe.com</p>
            </div>
        </div><!-- /.content -->
    </div><!-- /.row -->
</div><!-- /.about-us -->
<hr/>
{% endblock %}
