{% extends 'base.html' %}

{% load humanize %}
{% load compress %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Property Management</li>
{% endblock %}
{% block page_title %}Lake Tahoe Truckee property management{% endblock %}
/var/www/tristan/cblaketahoe/cblt/static/jquery.bxslider
{% block container %}
<script>
    $(document).ready(function(){
        // $("img.lazyload").each(function() {
        //         $(this).attr("src", $(this).data("original"));
        //     });
        $("img.lazyload").lazyload();
        $('.bxslider').bxSlider({
          auto : true, 
          mode: 'fade',
          adaptiveHeight: true,
        });
    });
</script>
<div class='about-us manage-property'>
    <h1 class='page-header'>Lake Tahoe Truckee property management</h1>
    <div class='row'>
        <div class='content'>
            <div class="galery span8">
                <div class="images-box">
                    <div class="images">                                
                        <ul class="bxslider">
                            {% for image in management.images.all %}
                                <li>
                                    <img src="{{ MEDIA_URL }}{{ image.image }}" title="Property management image preview" />
                                </li>  
                            {% endfor %}                        
                        </ul>                    
                    </div>
                </div><!-- /.preview -->  
                <div class='member span8' style='text-align:justify;'>
                   {{ management.description|removetags:""|safe }}
                </div><!-- /.member -->                   
                <div class="clearfix"></div>
            </div>
            <div class='member property-management-pic span4'>
                <img src="{% static 'img/photos/tristan_head_circle.png' %}" alt='Tristan Roberts'>
                <h2>Tristan Roberts</h2>
                <p>CBLakeTahoe.com</p>
            </div>           
        </div><!-- /.content -->
    </div><!-- /.row -->
</div><!-- /.about-us -->
<hr/>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script type='text/javascript' src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'jquery.bxslider/jquery.bxslider.min.js' %}"></script>    
    {% endcompress %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'jquery.bxslider/jquery.bxslider.css' %}" type='text/css'>
{% endblock css %}

