{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% block breadcrumbs %}
&raquo;
<li>Our Opinion</li>
{% endblock %}
{% block page_title %}We preview the homes and post our opinions{% endblock %}
{% block container %}
<div class='about-us span9' style="margin-left: 15px">
    <h1 class='page-header'>We're working hard to earn your Lake Tahoe real estate business</h1>
    <div class="opinion-area">
        <p>
            From Truckee to the shores of Lake Tahoe, here's a sample of our comments and our opinions that we post on the real estate property pages. Email and say hello when you're ready to talk. We sincerely appreciate the opportunity and we're eager to get to work for you. Say hello 
            <a href="mailto:tristan@cblaketahoe.com">Tristan@CBLakeTahoe.com</a>
        </p>
    </div>
    <br>
    <div class="row">
        <div class='properties-rows'>
            <div class='span9'>                
                {% for listing in reviewed_photos %}
                {% if listing.C_Address %}
                <div class='property'>
                    <div class='row'>
                        <div class='image span3'>
                            <div class='content'>
                                <a href='{{ listing.get_detailed_property_url }}'></a>
                                <img class='lazy1' data-original="{{  listing.get_thumbnail_270 }}" src="{% static 'img/icons/loading.gif' %}" alt="">

                                <div class='hidden-price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.content -->
                        </div><!-- /.image -->
                        <div class='body span6'>
                            <div class='title-price row'>
                                <div class='title span4'>
                                    <h2><a href='{{ listing.get_detailed_property_url }}'>{{ listing.C_Address }}</a></h2>
                                </div><!-- /.title -->

                                <div class='price'>${{ listing.C_AskPrice|floatformat|intcomma }}</div><!-- /.price -->
                            </div><!-- /.title -->

                            <div class='location'>
                                <span itemprop="addressLocality">{{ listing.address_location }}</span>
                            </div><!-- /.location -->
                            <p>{% if listing.sellercomment_set.all %}{{ listing.sellercomment_set.all.0|striptags|default_if_none:'Not Available'|safe|truncatechars:'220' }}{% endif %}</p>
                            <div class='area'>
                                <div class='content'>
                                    {% if listing.C_SqFeet != '0' %}{{ listing.C_SqFeet }} ft<sup>2</sup>{% else %}N/A{% endif %}
                                </div>
                            </div><!-- /.area -->
                            <div class='bedrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBeds == 'None'%}0{% else %}{{ listing.C_NoBeds|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bedrooms -->
                            <div class='bathrooms'>
                                <div class='content'>
                                    {% if listing.C_NoBaths1 == 'None'%}0{% else %}{{ listing.C_NoBaths1|default_if_none:0 }}{% endif %}
                                </div>
                            </div><!-- /.bathrooms -->

                            <div class='map-details active' style='display:none'>
                                <meta name='mls_no' content='{{ listing.C_MLSNo }}'>
                                <meta name='price' content='{{ listing.C_AskPrice|floatformat|intcomma }}'>
                                <meta name='address' content='{{ listing.C_Address }}'>
                                <meta name='address_location' content='{{ address_location }}'>
                                <meta name='beds' content=' {{ listing.C_NoBeds }} '>
                                <meta name='baths' content='{{ listing.C_NoBaths1 }}'>
                                <meta name='sqft' content='{{ listing.C_SqFeet }}'>
                                <meta name='image' content='{{ listing.object.get_thumbnail_100 }}'>
                                <meta name='community' content='{{ listing.C_Community }}'>
                                <meta name='lat' content='{{ listing.C_GeoLat }}'>
                                <meta name='lng' content='{{ listing.C_GeoLong }}'>
                            </div>
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div><!-- /.row -->
                {% endif %}
                {% empty %}
                <div class='property span9'>
                    <div class='row'>
                        <div class='body span9'>
                            <div class='title-price row'>
                                <div class='title'>
                                    <h3><center>No properties matching your query.</center></h3>
                                </div><!-- /.title -->
                            </div><!-- /.title -->
                        </div><!-- /.body -->
                    </div><!-- /.property -->
                </div>
                {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.properties-rows -->
        </div>
    </div>
  <div class='sidebar span3' style="float: right; margin-left: 0px">
        <div class='widget contact'>
            <div class='title' style='display:block;'>
                <h2 class='block-title'>Share</h2>
            </div><!-- /.title -->
            <div class='content'>
                <div class='social-button'>
                    <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/sharer/sharer.php?u=http://cblaketahoe.com{{ request.path }}">
                    <img width="32" height="32" src="/static/img/icons/social/Facebook.png" alt="Facebook" />
                </a>
                </div>
                <div class='social-button'>
                    <a href="https://twitter.com/share?url=http://cblaketahoe.com{{ request.path }}&text={{ seo_tags.title|urlencode }}" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')">
                        <img width="32" height="32" src="/static/img/icons/social/Twitter.png" alt="Twitter" />
                    </a>
                </div>
                <div class='social-button'>
                    <a href="https://plus.google.com/share?url=http://cblaketahoe.com{{ request.path }}" target="_blank" onclick="return !window.open(this.href, 'Google+', 'width=640,height=300')" >
                        <img src="/static/img/icons/social/GooglePlus.png" alt="Google+"/>
                    </a>
                </div>
                <div class='social-button'>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://cblaketahoe.com{{ request.path }}&title={{ seo_tags.title|urlencode }}&source=cblaketahoe.com" target="_blank" onclick="return !window.open(this.href, 'LinkedIN', 'width=640,height=300')">
                        <img src="/static/img/icons/social/LinkedIn.png" alt="LinkedIn"/>
                    </a>
                </div>
                <br style="clear: both;" />
            </div>
        </div>
        <div class='widget our-agents'>
            <div class='content'>
                <div class='agent'>
                    <div class='image'>
                        <img src="{% static 'img/photos/tristan-small.png' %}" alt=''>
                    </div><!-- /.image -->
                    <div class='name'>Tristan Roberts</div><!-- /.name -->
                    <div class='phone'>530-580-8001</div><!-- /.phone -->
                    <div class='email'><a href='mailto:tristan@cblaketahoe.com?subject=Listing: {{ listing }}'>tristan@cblaketahoe.com</a></div><!-- /.email -->
                </div><!-- /.agent -->
            </div><!-- /.content -->
        </div><!-- /.our-agents -->
    </div>
{% endblock %}
